//
// Variables
// --------------------------------------------------

$simsun: "PingFangSC-Regular", "-apple-system",Simsun;
//== Colors
//
// Gray and brand colors for use across LBF.
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%); // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee
$gray6: #666;
$gray8: #808080;
$gray9: #808080;
$brand-default: #F1F1F1;
$brand-primary: #427FED;
$brand-success: #5CB85C;
$brand-info: #5BC0DE;
$brand-warning: #F0AD4E;
$brand-danger: #D9534F;

//== Scaffolding
//
// Background color for `<body>`.
$body-bg: #FFF;
// Global text color on `<body>`.
$text-color: $gray-dark;
// Global textual link color.
$link-color: $brand-primary;
// Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);
// Link hover decoration.
$link-hover-decoration: underline;
// Images's path
$image-path: "//sta.qidian.com/lbf/1.0.2/ui/theme/default/lbfUI/images/";
// Icon's path
$icon-path: "//oaqidian.gtimg.com/lbf/1.0.2/ui/theme/default/lbfUI/fonts/";

//== Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Segoe UI", Arial, "Microsoft Yahei", Simsun, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 12px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

//== Components
//
$padding-base-vertical: 4px;
$padding-base-horizontal: 12px;

$padding-large-vertical: 10px;
$padding-large-horizontal: 16px;

$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

$line-height-base: 1.428571429; // 20/14
$line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small: 1.5;

$border-radius-base: 1px;
$border-radius-large: 3px;
$border-radius-small: 1px;

// Disabled cursor for form controls and buttons.
$cursor-disabled: not-allowed;
$cursor-placeholder: text;

//== Buttons
//
// For each of LBF's buttons, define text, background and border color.

$lbf-button-font-weight: normal;

$lbf-button-default-color: #333;
$lbf-button-default-bg: $brand-default;
$lbf-button-default-border: darken($lbf-button-default-bg, 5%);

$lbf-button-primary-color: #FFF;
$lbf-button-primary-bg: $brand-primary;
$lbf-button-primary-border: darken($lbf-button-primary-bg, 5%);

$lbf-button-success-color: #FFF;
$lbf-button-success-bg: $brand-success;
$lbf-button-success-border: darken($lbf-button-success-bg, 5%);

$lbf-button-info-color: #FFF;
$lbf-button-info-bg: $brand-info;
$lbf-button-info-border: darken($lbf-button-info-bg, 5%);

$lbf-button-warning-color: #FFF;
$lbf-button-warning-bg: $brand-warning;
$lbf-button-warning-border: darken($lbf-button-warning-bg, 5%);

$lbf-button-danger-color: #FFF;
$lbf-button-danger-bg: $brand-danger;
$lbf-button-danger-border: darken($lbf-button-danger-bg, 5%);

$lbf-button-link-disabled-color: $gray-light;

// Allows for customizing button radius independently from global border radius
$lbf-button-border-radius-base: $border-radius-base;
$lbf-button-border-radius-large: $border-radius-large;
$lbf-button-border-radius-small: $border-radius-small;

//== TextInput
//
// For each of LBF's TextInput
$lbf-text-input-width: 200px;
$lbf-text-input-height: 20px;
$lbf-text-input-padding: 3px 6px 2px;
$lbf-text-input-color: #222;
$lbf-text-input-bg: #FFF;
$lbf-text-input-font: normal 12px/20px arial, sans-serif;
$lbf-text-input-font-size: 12px;
$lbf-text-input-placeholder: #AAA;

// default样式
$lbf-text-input-default-color: $gray-dark;
$lbf-text-input-default-bg: $body-bg;
$lbf-text-input-default-border: #D9D9D9;
$lbf-text-input-default-border-top: #A0A0A0;
$lbf-text-input-disabled-border: #B9B9B9;
// error样式
$lbf-text-input-error-border: $brand-danger;
// focus样式
$lbf-text-input-focus-border: $brand-primary;

//== Textarea
//
// For each of LBF's Textarea
$lbf-textarea-width: 200px;
$lbf-textarea-height: 60px;
$lbf-textarea-padding: 4px 6px 4px;
$lbf-textarea-color: #222;
$lbf-textarea-bg: #FFF;
$lbf-textarea-font: normal 12px/20px arial, sans-serif;
$lbf-textarea-font-size: 12px;
$lbf-textarea-placeholder: #AAA;

// default样式
$lbf-textarea-default-color: $gray-dark;
$lbf-textarea-default-bg: $body-bg;
$lbf-textarea-default-border: #D9D9D9;
$lbf-textarea-default-border-top: #A0A0A0;
$lbf-textarea-disabled-border: #B9B9B9;
// error样式
$lbf-textarea-error-border: $brand-danger;
// focus样式
$lbf-textarea-focus-border: $brand-primary;

//== Panel
//
// For each of LBF's Panel
$lbf-panel-bg: #FFF;
$lbf-panel-border-ie: #D9D9D9;
$lbf-panel-border: rgba(0, 0, 0, 0.2);
$lbf-panel-border-radius: 2px;

//== NumberSpinner
//
// For each of LBF's NumberSpinner
$lbf-numberspinner-border: #D9D9D9;
$lbf-numberspinner-width: 48px;
$lbf-numberspinner-focus-border: #D9D9D9;
$lbf-numberspinner-padding: 4px 0 4px;
$lbf-numberspinner-button-width: 23px;