@charset "UTF-8";

/**
 * $author rainszhang
 */
@import "variables";
@import "mixins";

//
// LightTip
// --------------------------------------------------
@mixin lbf-tip-arrow($brand, $border, $bg){
    #{$brand} {
        &.lbf-tip-top,
        &.lbf-tip-bottom {
            .lbf-tip-arrow-before {
                border-color: $border transparent;
            }
            .lbf-tip-arrow-after {
                border-color: $bg transparent;
            }
        }

        &.lbf-tip-right,
        &.lbf-tip-left {
            .lbf-tip-arrow-before {
                border-color: transparent $border;
            }
            .lbf-tip-arrow-after {
                border-color: transparent $bg;
            }
        }

        & &-button-close {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }
}

.lbf-tip {
    &, & * {
        padding: 0;
        margin: 0;
    }

    position: absolute;

    @include inline-block();
    @include border-radius($border-radius-base);

    border: 1px solid #bbb;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    background-color: #fff;

    @include box-shadow(0 2px 3px rgba(0, 0, 0, 0.1));

    &-content {
        @include inline-block();
        max-width: 286px;
        overflow: hidden;
        line-height: 18px;
        padding: 3px 10px 1px;
        *padding: 5px 10px 2px;
    }

    & &-arrow {
        position: absolute;
    }

    &-arrow {
        &-before,
        &-after {
            position: absolute;
            display: block;
            overflow: hidden;
            border: 6px solid;
            width: 0;
            height: 0;
        }
    }

    &-top &-arrow {
        bottom: 0;
        left: 50%;
    }
    &-bottom &-arrow {
        top: -6px;
        left: 50%;
    }
    &-right &-arrow {
        top: 50%;
        left: -6px;
    }
    &-left &-arrow {
        top: 50%;
        right: 0;
    }

    /* close button */
    & &-button-close {
        z-index: 9999;

        @include inline-block();

        width:14px;
        height:14px;
        margin: 6px 6px 0 0;
        margin: 7px 6px 0 0\9;
        *margin: 6px 6px 0 0\9;
        vertical-align: top;
        font-size: 14px;
        line-height: 14px;
        overflow:hidden;
        color: #999;
        *background-image:url($image-path + "nodes/close.png");

        &:hover {
            color: #333;
            *background-image:url($image-path + "nodes/close-hover.png");
        }
    }

    &-success {
        border:1px solid $brand-success;
        background: $brand-success;
        color: #fff;
    }

    &-warning {
        border:1px solid $brand-warning;
        background: $brand-warning;
        color: #fff;
    }

    &-error {
        border:1px solid $brand-danger;
        background: $brand-danger;
        color: #fff;
    }
}

/* 纯CSS实现三角方案，用背景图可忽略 */
.lbf-tip-top {
    .lbf-tip-arrow-before {
        top: 1px;
        left: -6px;
        border-bottom-width: 0;
    }
    .lbf-tip-arrow-after {
        left: -6px;
        border-bottom-width: 0;
    }
}
.lbf-tip-right {
    .lbf-tip-arrow-before {
        top: -6px;
        border-left-width: 0;
    }
    .lbf-tip-arrow-after {
        top: -6px;
        left: 1px;
        border-left-width: 0;
    }
}
.lbf-tip-bottom {
    .lbf-tip-arrow-before {
        left: -6px;
        border-top-width: 0;
    }
    .lbf-tip-arrow-after {
        top: 1px;
        left: -6px;
        border-top-width: 0;
    }
}
.lbf-tip-left {
    .lbf-tip-arrow-after {
        top: -6px;
        left: -1px;
        border-right-width: 0;
    }
    .lbf-tip-arrow-before {
        top: -6px;
        border-right-width: 0;
    }
}

@include lbf-tip-arrow(".lbf-tip", #aaa, #fff);
@include lbf-tip-arrow(".lbf-tip-error", $brand-danger, $brand-danger);
@include lbf-tip-arrow(".lbf-tip-warning", $brand-warning, $brand-warning);
