<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>阅文集团_阅世界，悦无界</title>
<meta name="keywords" content="阅文,阅文集团,China Reading,官方网站,官网,数字阅读,数字出版,文学IP,网络小说,原创网络文学,全版权运营,IP输出,IP改编,移动阅读,QQ阅读,起点读书,作家助手,阅文动态,联系阅文,加入阅文" />
<meta name="description" content="中国最大的正版数字阅读与文学IP输出平台，国内数字阅读与优质IP的领导者" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="format-detection"  content="telephone=no" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="shortcut icon" href="/favicon.png" />
<link rel="stylesheet" href="<%= staticConf.staticPath %>/css/yuewen.css">
<script>
(function(doc, win) {
    // 屏幕宽度
    var screenWidth = 0, size = 'M', root = doc.documentElement;
    if (window.screen && screen.width) {
        screenWidth = screen.width;
        if (screenWidth > 1920) {
            size = 'L';
        } else if (screenWidth < 480) {
            size = 'S';
        }
    }
    root.className = size;

    window.SIZE = size;
})(document, window);
</script>
</head>

<body>
<div id="ywBarX" class="yw-bar">
    <div class="yw-constr">
        <!-- 这个是在底部呗覆盖的 -->
        <div class="yw-hd-bar">
            <a href="/" class="yw-logo">
                <h1>阅文集团</h1>
            </a>
            <a href="http://join.book.qq.com/index.html" class="yw-nav-a yw-nav-btn">加入</a>
        </div>
        <!-- 这个是有变化的 -->
        <div id="ywHdBar" class="yw-hd-bar">
            <a href="/" class="yw-logo">
                <h1>阅文集团</h1>
            </a>

            <!-- 移动端切换导航的文字按钮 -->
            <a href="javascript:" id="ywMnavBtn" class="yw-hd-curnav">
                <span id="ywMnavName">全版权运营</span><svg width="9" height="14" viewBox="0 0 9 14"><path d="M1 1l6.238 5.346c.42.361.424.943 0 1.308L1 13"/>&gt;</svg>
            </a>

            <!-- 导航 -->
            <div id="ywMnav" class="yw-nav">
                <a href="#copyright" class="yw-nav-a active">全版权运营</a>
                <a href="#mobile" class="yw-nav-a">移动产品</a>
                <a href="#brand" class="yw-nav-a">旗下品牌</a>
                <a href="#news" class="yw-nav-a">新闻中心</a>
                <a href="#contact" class="yw-nav-a">联系我们</a>
            </div>
            <a href="http://join.book.qq.com/index.html" class="yw-nav-a yw-nav-btn">加入<span class="hidden">我们</span></a>
        </div>
    </div>
</div>
<div id="ywPage" class="yw-page">
    <!--  -->
    <div id="ywHeader" class="yw-header">
        <div class="yw-constr">
            <!-- 3 slide banner -->
            <div class="yw-hd-slide-x">
                <div id="hdSlide1" class="yw-hd-slide-li yw-hd-slide-1 active">
                    <s class="yw-hd-slide-bg"></s>
                    <div class="yw-hd-slide-con">
                        <h2 class="yw-hd-slide-h">数字阅读与优质IP双核驱动</h2>
                        <p class="yw-hd-slide-p">中国引领行业的正版数字阅读平台<span class="hidden"><br></span>和文学IP培育平台</p>
                    </div>
                </div>
                <div id="hdSlide2" class="yw-hd-slide-li yw-hd-slide-2">
                    <s class="yw-hd-slide-bg"></s>
                    <div class="yw-hd-slide-con">
                        <h2 class="yw-hd-slide-h">阅世界，悦无界</h2>
                        <p class="yw-hd-slide-p">你的阅读，可以不同！</p>
                        <a href="#contact" class="yw-hd-slide-btn">
                            联系我们
                            <i class="icon icon-cor-wh">
                                <svg width="9" height="14" viewBox="0 0 9 14"><path d="M1 1l6.238 5.346c.42.361.424.943 0 1.308L1 13"/>&gt;</svg>
                            </i>
                        </a>
                    </div>
                </div>
                <div id="hdSlide3" class="yw-hd-slide-li yw-hd-slide-3">
                    <s class="yw-hd-slide-bg"></s>
                    <div class="yw-hd-slide-con">
                        <h2 class="yw-hd-slide-h yw-font-helv">WE’RE HIRING!</h2>
                        <p class="yw-hd-slide-p">加入阅文，实现你的文学梦想！</p>
                        <a href="http://join.book.qq.com/index.html" class="yw-hd-slide-btn">加入我们
                            <i class="icon icon-cor-wh">
                                <svg width="9" height="14" viewBox="0 0 9 14"><path d="M1 1l6.238 5.346c.42.361.424.943 0 1.308L1 13"/>&gt;</svg>
                            </i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 3 dotted -->
            <div id="hdDotX" class="yw-hd-dot-x">
                <a href="javascript:" class="yw-hd-dot-a active" data-rel="hdSlide1">1</a>
                <a href="javascript:" class="yw-hd-dot-a" data-rel="hdSlide2">2</a>
                <a href="javascript:" class="yw-hd-dot-a" data-rel="hdSlide3">3</a>
            </div>
        </div>
    </div>

    <!-- 阅文一些真实数据 -->
    <div class="yw-data">
        <div class="yw-constr">
            <div class="yw-data-view">
                <dl class="yw-data-dl yw-data-dl-1">
                    <dt class="yw-data-dt">
                        <i class="icons-pbm-p"></i><span class="yw-data-num">400</span>万创作者
                    </dt>
                    <dd class="yw-data-dd">完善的作家孵化和培养体系，打造作家、读者、平台互生共荣的文化生态体系。</dd>
                </dl>
                <dl class="yw-data-dl yw-data-dl-2">
                    <dt class="yw-data-dt">
                        <i class="icons-pbm-b"></i><span class="yw-data-num">1000</span>万作品
                    </dt>
                    <dd class="yw-data-dd">原创小说已覆盖行业 90% 以上，覆盖200多种内容品类。</dd>
                </dl>
                <dl class="yw-data-dl yw-data-dl-3">
                    <dt class="yw-data-dt">
                        <i class="icons-pbm-m"></i><span class="yw-data-num">6</span>亿用户
                    </dt>
                    <dd class="yw-data-dd">以 QQ 阅读为中心，包罗网络原创、传统出版、音频听书等品牌功能的完整产品矩阵。</dd>
                </dl>
            </div>
            <p class="yw-data-desc">阅文集团由腾讯文学与原盛大文学整合而成，作为引领行业的正版数字阅读平台和文学IP培育平台，阅文旗下囊括QQ阅读、起点中文网等业界知名品牌，拥有1000万部作品储备、400万名创作者，覆盖200多种内容品类，占据国内IP改编市场优势份额，成功输出《步步惊心》《鬼吹灯》《盗墓笔记》《琅琊榜》《择天记》等大量优秀改编作品。 </p>
        </div>
    </div>

    <!-- 全版权运营 -->
    <div id="copyright" class="yw-copyright">
        <h3 class="yw-home-h3">全版权运营</h3>
        <!-- 很多图片以及他们的浮层 -->
        <div id="ywCopyX" class="yw-copy-x">
            <ul class="yw-copy-center">
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/xiaohua.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">校花的贴身高手</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《校花的贴身高手》是起点中文网白金作家鱼人二代创作的异术超能都市小说，在PC端、移动端均排销售榜前列。2015年8月，同名网络剧在爱奇艺首播，24小时内四千万点击，登上热播榜首。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/jianlingshan.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">从前有座灵剑山</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《从前有座灵剑山》是国王陛下在创世中文网创作的仙侠类小说，各种搞笑自嘲的情节设定莫名戳中广大书友的萌点，颇受好评。同时，该作也是2015年起阅文集团将重点开发的动漫、影视与文学联动IP。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/quanzhifashi.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">全职法师</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《全职法师》是90后新锐作家乱继《谁与争锋》之后又一力作，阅文集团对这部作品寄予厚望，将通过对其精准的市场分析和市场定位，来确定全版权运营方案，进行下游版权的延伸拓展和开发。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/guominlaogong.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">带国民老公回家</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">叶非夜作为90后新兴作家，她的作品《国民老公带回家》受到了各公司的关注。这部作品的连载收入也达到了日入十几万的成绩，火热程度一时无两。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/nvwa.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">女娲成长日记</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">凌舞水袖的人气小说《女娲成长日记》是中国神话故事与都市异能等元素的结合之作。这一IP采取网络剧与动画联动的模式，引起了众多业内人士的关注。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/zetianji.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">择天记</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《择天记》是著名网文作家猫腻加盟腾讯文学后的首部作品，一经推出便广受好评，蝉联人气榜冠军。作为阅文集团的重点IP之一，《择天记》影视、动画、游戏、出版、漫画全版权都已在开发过程中。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/jueji.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">爵迹</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《爵迹》作为郭敬明的十年出道纪念作品于2010年全国发行，首印达到两百万册，缔造全国印量最新纪录。七年之后，郭敬明携《爵迹》四部曲面世，引发众多书友感慨。同名小说改编的电影也将于2016年暑期档上映。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/shenzang.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">神藏</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">起点白金大神打眼的新作《神藏》2015年末在网上开始连载。新书发布会上，阅文集团播映了为小说《神藏》量身定制的微电影。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/langyabang.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">琅琊榜</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《琅琊榜》根据海宴同名网络小说改编，讲述了“麒麟才子”梅长苏坎坷、波折、奋斗、睿智的一生。口碑与收视俱佳，反响热烈，红遍全球。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/guichuideng.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">鬼吹灯</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《鬼吹灯》是2006年迅速流行起来的一部糅合了现实和虚构、盗墓和探险的网络小说，实体书销售创造了出版界的传奇。2015年，由《鬼吹灯》改编的电影《寻龙诀》和《九层妖塔》也颇受热议，好评如潮。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/daomubiji.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">盗墓笔记</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《盗墓笔记》系列是南派三叔的代表作，其堪称近年来中国出版界的经典之作，获得百万读者狂热追捧。同名小说改编的网络剧总播放量超过28.81亿，创下网剧播放量记录。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/zhiqingchun.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">致青春</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《致我们终将逝去的青春》是赵薇的导演处女作。影片改编自作家辛夷坞的同名小说。2015年10月，电视剧版《致青春》已经开拍。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/talaile.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">他来了，请闭眼</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">本剧改编自丁墨同名推理小说，将犯罪心理学、基本演绎法和都市言情三者流畅结合，平静温馨的生活中参杂这着各种惊险的悬疑元素，令人耳目一新。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/miyuezhuan.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">芈月传</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《芈月传》改编自蒋胜男的同名小说，该剧讲述了中国历史上第一个女政治家芈月极为曲折传奇的人生故事。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/quanzhigaoshou.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">全职高手</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《全职高手》是蝴蝶蓝所著网游类小说，也是其封神之作。《全职高手》的IP热度和读者接受能力，堪称网络文学的奇迹。自连载起，不断引发狂潮，各种人物角色cosplay，同人小说，剧情配音，视频等纷纷涌现。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/naqieji.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">纳妾记</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《纳妾记》讲述了现代法医偶然穿越至明朝，凭借自身聪明才智和三寸不烂之舌，顺利升职、加薪，实现屌丝逆袭的故事。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
                <li class="yw-copy-li">
                    <div class="yw-copy-part yw-copy-part-s">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/guanjun.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">冠军之心</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">林海听涛，作为足球竞技类小说的帝王级人物，新作《冠军之心》尚未上线，就受到了多方关注，连载之后热度居高不下，长期霸占竞技类小说榜首。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                    <div class="yw-copy-part yw-copy-part-l">
                        <img class="yw-ip-img" data-src="<%= staticConf.staticPath %>/css/images/ip/2x/jipinjiading.jpg">
                        <div class="yw-ip-desc">
                            <div class="yw-mid-con">
                                <h6 class="yw-ip-name">极品家丁</h6>
                                <i class="yw-copy-line"></i>
                                <p class="yw-ip-text">《极品家丁》作为穿越架空历史类网络小说的开山之作，直到八年后的今天，依旧被无数读者念念不忘，堪称一代人的经典，被誉为架空历史小说中的《鹿鼎记》。</p>
                            </div><i class="yw-mid-i"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="yw-rel"><svg width="9" height="14" viewBox="0 0 9 14" class="yw-ip-cor"><path d="M1 1l6.238 5.346c.42.361.424.943 0 1.308L1 13"/></svg></div>
    </div>

    <!-- 移动产品 -->
    <div id="mobile" class="yw-home-app">
        <div class="yw-constr">
            <h3 class="yw-home-h3">移动产品</h3>
            <!-- 切换的选项卡 -->
            <div id="tabApp" class="yw-tab-tab">
                <a href="javascript:" class="yw-tab-a active" data-rel="tabPanel1">QQ阅读</a>
                <a href="javascript:" class="yw-tab-a" data-rel="tabPanel2">起点读书</a>
                <a href="javascript:" class="yw-tab-a" data-rel="tabPanel3">作家助手</a>
                <i class="yw-tab-bot-line"></i>
                <i id="tabLine" class="yw-tab-hline"></i>
            </div>
            <!-- 对应app的一些图文描述 -->
            <ul class="yw-tab-panel">
                <li id="tabPanel1" class="yw-tab-panel-li active">
                    <div class="yw-app-desc">
                        <h3 class="yw-app-slogon"><span class="yw-font-en">QQ</span>阅读 海量原著 想读就读</h3>
                        <p class="yw-app-desc-detail">个性推荐，拥有你的专属书城；精致排版，感受极致阅读体验。</p>
                        <p>
                            <a href="app.html#appqq" target="_blank" class="yw-btn-blue">查看详情 &gt;</a>
                        </p>
                    </div>
                    <div class="yw-app-img-x">
                        <img src="<%= staticConf.staticPath %>/css/images/yw-app-qq@2x.png" class="yw-app-img">
                    </div>
                </li>
                <li id="tabPanel2" class="yw-tab-panel-li">
                    <div class="yw-app-desc">
                        <h3 class="yw-app-slogon">起点读书 海量小说 原创乐土</h3>
                        <p class="yw-app-desc-detail">看原创正版小说，追大神作家；三亿读者的选择，百万作家在此创作；热门影视、游戏 IP 发源地。</p>
                        <p>
                            <a href="app.html#appqd" target="_blank" class="yw-btn-blue">查看详情 &gt;</a>
                        </p>
                    </div>
                    <div class="yw-app-img-x">
                        <img src="<%= staticConf.staticPath %>/css/images/yw-app-qd@2x.png?v=0.1" class="yw-app-img">
                    </div>
                </li>
                <li id="tabPanel3" class="yw-tab-panel-li">
                    <div class="yw-app-desc">
                        <h3 class="yw-app-slogon">作家助手 随时随地 全民写作</h3>
                        <p class="yw-app-desc-detail">阅文集团诚意打造的一款移动创作软件。</p>
                        <p>
                            <a href="app.html#appzj" target="_blank" class="yw-btn-blue">查看详情 &gt;</a>
                        </p>
                    </div>
                    <div class="yw-app-img-x">
                        <img src="<%= staticConf.staticPath %>/css/images/yw-app-zj@2x.png" class="yw-app-img">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 旗下品牌 -->
    <div id="brand" class="yw-brand">
        <div class="yw-constr">
            <h3 class="yw-home-h3">旗下品牌</h3>
            <ul id="brandDescX" class="yw-brand-desc">
                <li class="yw-brand-desc-li in">
                    <i class="brand brand-qidian"></i>
                    <p class="yw-brand-p">起点中文网创建于 2002 年 5 月，是国内最大文学阅读原创文学门户网站与写作平台之一，隶属于国内引领行业的数字阅读综合平台——阅文集团。起点中文网前身为起点原创文学协会，长期致力于原创文学作者的挖掘与培养工作，并以推动中国文学原创事业为发展宗旨，并以此为契机开创了在线收费阅读即电子出版的新模式。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-chuangshi"></i>
                    <p class="yw-brand-p">创世中文网成立于2013年，是由资深网络文学团队精心打造的集阅读、创作、互动社区、版权运营于一体的全开放网络文学平台。依托阅文集团，基于团队经验和影响力以及旗下大批知名网络作家，我们将全力推进网络文学泛娱乐运营、用户阅读和互动体验、原创扶持力度的全面升级，努力将网络文学推向一个全新时代，成为网络文学强势崛起的新锐力量和行业格局的主要变革者。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-yunqi"></i>
                    <p class="yw-brand-p">云起书院是引领行业的女性文学创作基地，以打造“精品”为目标，成就无数平民作者的文学梦想。作为网络文学产业的重要细分市场，女性文学有着巨大的市场想象空间。云起书院将肩负起打造全新女性文学产业生态的重任，基于腾讯强大的资源平台和运营体系，促进中国女性文学市场的健康、持续发展，迎接“全民阅读”时代的到来。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-hongxiu"></i>
                    <p class="yw-brand-p">红袖添香创办于1999年，国内领先行业的女性文学数字版权运营商。 红袖添香为用户提供涵盖小说、散文、杂文、诗歌、歌词、剧本、日记等体裁的高品质创作和阅读服务，在言情、职场小说等女性文学写作及出版领域具有巨大影响力。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-xiaoqiang"></i>
                    <p class="yw-brand-p">潇湘书院一直以做中国最好的女生原创网站为目标，立志为广大的原创作者提供一个公平、公正，健康的文学发展平台。优秀的工作团队和人性化的管理模式，使潇湘书院成为女性原创作者群体以及读者群体中具备强大吸引力和归属感的原创网站。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-nvsheng"></i>
                    <p class="yw-brand-p">起点女生网成立于2009年11月，其前身是“起点女生频道”，致力于对女性网络原创文学及作者的培养和挖掘。起点女生网依托起点中文网的成熟运作机制，成功实现了女性网络原创文学的商业化发展模式。囊括了《步步惊心》、《搜索》、《毒胭脂》等多部热门影视剧的原著小说版权。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-xiaoshuoyuedu"></i>
                    <p class="yw-brand-p">小说阅读网是国内优质文学版权运营商，网站拥有海量原创作品、签约作家、签约编剧及用户群，自2009年4月新版上线、开通VIP系统以来，打造出数部点击过亿的超人气签约作品，迅速创下单部作品点击逾两亿、单章订阅超三万、月稿酬收入过六万等各项辉煌记录，缔造出白金高薪网络作家十多人，月薪过万作家一百五十多人。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-yanqing"></i>
                    <p class="yw-brand-p">言情小说吧成立于2005年，从建立之初至今，一直秉承着为用户提供优质的言情小说阅读体验平台，打造全球华语言情小说阅读基地的理念，在网络文学界走出了一条专业化的独特发展道路。言情小说吧拥有人气超高的论坛、方便快捷的网游以及站内家园等，能给用户提供读书、休闲、娱乐的多方位体验。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-yuedu"></i>
                    <p class="yw-brand-p">悦读网作为原版电子杂志阅读网站，提供数十种原版杂志免费下载，免费在线电子杂志阅读，自成立以来，多次荣获业内各类奖项。凭借领先的技术和优质的服务，悦读网深受广大网民的欢迎并享有极高的声誉。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-rongshuxia"></i>
                    <p class="yw-brand-p">榕树下是国内历史悠久、极具品牌感染力的文学类网站，创办于1997年。“榕树下”曾使无数爱好文学的普通人好梦成真，并凝聚了一批在华语文学界极具影响力的作家，如韩寒、慕容雪村、宁财神、李寻欢、安妮宝贝、邢育森、蔡骏、今何在、郭敬明。2009年底，“榕树下”宣布改版上线之后，在原来的原创文学网站基础上，转型为一个传播文学、文化评论及原创写作的综合人文媒体，并定位于华语文学领域的垂直门户。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-tianfang"></i>
                    <p class="yw-brand-p">天方听书网创建于2004年，经过多年的运营和发展，已经成为国内引领行业的听书网站。天方听书网专注于有声读物的研发和市场运作，为广大听友提供时尚前沿的听书资讯和听书内容。网站内容涉及经济管理、中外文学、古典文学、现代文学、儿童文学、探案悬疑、科幻文学、百科知识等近20个大类。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-lanren"></i>
                    <p class="yw-brand-p">懒人听书是由深圳市懒人在线科技有限公司研发并运营的移动音频APP，公司成立于2012年，专注移动互联网有声数字领域，立足移动音频行业，为用户提供所需的书籍节目以及有声数字交流服务等高品质内容。 上线至今，懒人听书始终坚持产品第一、用户至上，不断优化产品，丰富平台资源，形成多项行业优势，业已成为移动音频行业优质品牌。</p>
                    <p class="yw-brand-p"></p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-qqyuedu"></i>
                    <p class="yw-brand-p">最早始于WAP版QQ书城的 QQ阅读，早在前智能手机年代就积累了大量用用户基础。有着优良用户体验和海量原创作品的 QQ阅读早已覆盖 iOS、Android 等主流移动设备，是目前市面上广受用户欢迎的移动读书软件。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-qidiandushu"></i>
                    <p class="yw-brand-p">起点读书是起点中文网首创“在线收费阅读”服务的移动应用，百万原创作家与3亿读者在此互动创作，10年来大神作家群星璀璨，积累了数百万部优秀原创作品。让亿万书友在 iOS、Android 等移动设备随时随地，畅享阅读。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-zuojiazhushou"></i>
                    <p class="yw-brand-p">作家助手是阅文集团诚意打造的一款移动创作应用，覆盖 Android、iOS 等主流移动平台，凭借流畅的用户体验、强大的创作工具、可视化的统计分析等优势，迅速成为市场上深受作家喜爱的移动创作应用之一。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-zhongzhibowen"></i>
                    <p class="yw-brand-p">中智博文图书有限公司成立于2003年，是一家专业从事图书策划、营销推广和发行代理的民营图书企业。公司以高品质、高效率、高市场敏锐度和实用性、艺术性相结合的原则，成功策划、出版发行了上千种图书品种，内容涵盖史地文化、少儿百科、经管励志、健康生活、学生读物、世界名著等诸多方面。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-jushihuawen"></i>
                    <p class="yw-brand-p">聚石文华的运营团队以专业出版策划人为主体，汇集行业精英凝聚而成；公司的整体运作主要包括图书的策划出版及发行 ，立志于为出版市场提供卓越的文学作品。自筹备阶段起，聚石文华已然洽谈并签约数名国内一流作家新作；并携手搜狐、腾讯、新浪、起点、晋江、红袖、四月天、17K等原创文学网站搭建出版文学的战略合作平台。</p>
                </li>
                <li class="yw-brand-desc-li">
                    <i class="brand brand-huawen"></i>
                    <p class="yw-brand-p">天津华文天下图书有限公司成立于2001年，是中国民营书业具有深远影响力的公司之一。公司策划了大量优秀畅销图书。其中多本图书单品销量超过百万册，在版权引进和国内原创作家的打造上，探索出一整套畅销书运营模式。</p>
                </li>
            </ul>
            <div id="brandNavX" class="yw-brand-nav-x">
                <a href="http://www.qidian.com" target="_blank" class="yw-brand-nav-a active"><i class="brand brand-qidian"></i></a>
                <a href="http://chuangshi.qq.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-chuangshi"></i></a>
                <a href="http://yunqi.qq.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-yunqi"></i></a>
                <a href="http://www.hongxiu.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-hongxiu"></i></a>
                <a href="http://www.xxsy.net" target="_blank" class="yw-brand-nav-a"><i class="brand brand-xiaoqiang"></i></a>
                <a href="http://www.qdmm.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-nvsheng"></i></a>
                <a href="http://www.readnovel.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-xiaoshuoyuedu"></i></a>
                <a href="http://www.xs8.cn" target="_blank" class="yw-brand-nav-a"><i class="brand brand-yanqing"></i></a>
                <a href="http://www.zubunet.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-yuedu"></i></a>
                <a href="http://www.rongshuxia.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-rongshuxia"></i></a>
                <a href="http://www.tingbook.com" target="_blank" class="yw-brand-nav-a"><i class="brand brand-tianfang"></i></a>
                <a href="http://www.lrts.me" target="_blank" class="yw-brand-nav-a"><i class="brand brand-lanren"></i></a>
                <a href="app.html#appqq" target="_blank" class="yw-brand-nav-a"><i class="brand brand-qqyuedu"></i></a>
                <a href="app.html#appqd" target="_blank" class="yw-brand-nav-a"><i class="brand brand-qidiandushu"></i></a>
                <a href="app.html#appzj" target="_blank" class="yw-brand-nav-a"><i class="brand brand-zuojiazhushou"></i></a>
                <a href="javascript:" target="_blank" class="yw-brand-nav-a"><i class="brand brand-zhongzhibowen"></i></a>
                <a href="javascript:" target="_blank" class="yw-brand-nav-a"><i class="brand brand-jushihuawen"></i></a>
                <a href="javascript:" target="_blank" class="yw-brand-nav-a"><i class="brand brand-huawen"></i></a>
                <a href="javascript:" class="yw-brand-nav-a yw-brand-nav-last"></a>
                <a href="javascript:" class="yw-brand-nav-a yw-brand-nav-last"></a>
                <a href="javascript:" class="yw-brand-nav-a yw-brand-nav-last"></a>
                <a href="javascript:" class="yw-brand-nav-a yw-brand-nav-last"></a>
            </div>
        </div>
    </div>

    <!-- 新闻中心 -->
    <div id="news" class="yw-news">
        <div class="yw-constr">
            <h3 class="yw-home-h3">新闻中心</h3>
            <div class="yw-news-x">
                <div class="yw-news-li">
                    <div class="yw-news-detail">
                        <h5 class="yw-news-title">阅文携手天涯明月刀举办武侠征文活动</h5>
                        <div class="yw-news-time">
                            <span class="yw-news-tag">活动</span>
                            <time>2016-05-18</time>
                        </div>
                        <p class="yw-news-sum">5月6日，由阅文集团和天涯明月刀共同举办的“武侠•无双”征文比赛正式启动，本次征文比赛形式开放，上古先秦任你挥毫，国术都市由你泼墨，也可以执笔中原武林，更可以轻裘长剑，书写一段异国江湖。据了解，本次征文共有两个模块：长篇征文以及微脑洞大赛。其中，...</p>
                        <p class="yw-news-more">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzAxMzM1MzU5OQ==&amp;mid=2651110669&amp;idx=1&amp;sn=64f606743c4db30a48715fc320073a49" target="_blank" class="yw-news-more-a">阅读更多 &gt;</a>
                        </p>
                    </div>
                </div><div class="yw-news-li">
                    <div class="yw-news-detail">
                        <h5 class="yw-news-title">阅文集团亮相深圳文博会</h5>
                        <div class="yw-news-time">
                            <span class="yw-news-tag">新闻</span>
                            <time>2016-05-17</time>
                        </div>
                        <p class="yw-news-sum">日前，第十二届中国(深圳)国际文化产业博览交易会在深圳会展中心落下帷幕。作为引领行业的正版数字阅读平台和文学IP培育平台，整合一新的阅文集团带来移动入口旗舰产品“QQ阅读”精彩亮相,吸引了众多业内人士关注。</p>
                        <p class="yw-news-more">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzAxMzM1MzU5OQ==&amp;mid=2651110666&amp;idx=1&amp;sn=b80b4db443e7bcedc4873b52729552de" target="_blank" class="yw-news-more-a">阅读更多 &gt;</a>
                        </p>
                    </div>
                </div><div class="yw-news-li">
                    <div class="yw-news-detail">
                        <h5 class="yw-news-title">阅文IP拓展再出招《女娲成长日记》</h5>
                        <div class="yw-news-time">
                            <span class="yw-news-tag">娱乐</span>
                            <time>2016-05-12</time>
                        </div>
                        <p class="yw-news-sum">由阅文集团、腾讯视频共同出品，夐窠执导，金文君，王芸担任制片，改编自阅文集团旗下大神作家凌舞水袖的人气网络小说《女娲成长日记》的同名动画版，已于2016年4月12日播出，由腾讯视频每周二独播，开播以来点击量一路上涨，截止至第三集开播点击已破一千万。而真人版网剧...</p>
                        <p class="yw-news-more">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzAxMzM1MzU5OQ==&amp;mid=2651110662&amp;idx=1&amp;sn=5007f0790fd11c848e05bed5949794b6#rd" target="_blank" class="yw-news-more-a">阅读更多 &gt;</a>
                        </p>
                    </div>
                </div><div class="yw-news-li">
                    <div class="yw-news-detail">
                        <h5 class="yw-news-title">2016移动阅读报告</h5>
                        <div class="yw-news-time">
                            <span class="yw-news-tag">观察</span>
                            <time>2016-03-08</time>
                        </div>
                        <p class="yw-news-sum">2016移动阅读报告 ——世界读书日特别奉献。</p>
                        <p class="yw-news-more">
                            <a href="http://mp.weixin.qq.com/s?__biz=MzAxMzM1MzU5OQ==&amp;mid=2651110657&amp;idx=1&amp;sn=eca4eea64c3767075351674058b0b305" target="_blank" class="yw-news-more-a">阅读更多 &gt;</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 版权与联系 -->
    <div id="contact" class="yw-contact">
        <i class="yw-contact-bg"></i>
        <div class="yw-constr">
            <!-- 联系方式 -->
            <div class="yw-contact-detail">
                <dl class="yw-contact-dl">
                    <dt class="yw-contact-dt">出版版权合作</dt>
                    <dd class="yw-contact-dd">高小姐</dd>
                    <dd class="yw-contact-dd">QQ：378146293</dd>
                    <dd class="yw-contact-dd">邮箱：gaobeier@yuewen.com</dd>
                </dl>
                <dl class="yw-contact-dl">
                    <dt class="yw-contact-dt">活动推广合作</dt>
                    <dd class="yw-contact-dd">范小姐</dd>
                    <dd class="yw-contact-dd">QQ：404008291</dd>
                    <dd class="yw-contact-dd">邮箱：fanqiwen@yuewen.com</dd>
                </dl>
                <dl class="yw-contact-dl">
                    <dt class="yw-contact-dt">影视及游戏版权改编合作</dt>
                    <dd class="yw-contact-dd">曹小姐</dd>
                    <dd class="yw-contact-dd">QQ：1467637818</dd>
                    <dd class="yw-contact-dd">邮箱：caoqiqi@yuewen.com</dd>
                </dl>
                <dl class="yw-contact-dl">
                    <dt class="yw-contact-dt">小说衍生品合作</dt>
                    <dd class="yw-contact-dd">王小姐</dd>
                    <dd class="yw-contact-dd">QQ：2295352586</dd>
                    <dd class="yw-contact-dd">邮箱：wanghan@yuewen.com</dd>
                </dl>
                <dl class="yw-contact-dl">
                    <dt class="yw-contact-dt">商务合作</dt>
                    <dd class="yw-contact-dd">张小姐</dd>
                    <dd class="yw-contact-dd">QQ：397370049</dd>
                    <dd class="yw-contact-dd">邮箱：zhanglin@yuewen.com</dd>
                </dl>
                <dl class="yw-contact-dl">
                    <dt class="yw-contact-dt">媒体合作</dt>
                    <dd class="yw-contact-dd">卢小姐</dd>
                    <dd class="yw-contact-dd">QQ：396735700</dd>
                    <dd class="yw-contact-dd">邮箱：luxiaoyun@yuewen.com</dd>
                </dl>
            </div>
            <div class="yw-contact-map">
                <span class="yw-local-bj">
                    <i class="icon-local"></i>北京
                </span>
                <span class="yw-local-sh">
                    <i class="icon-local"></i>上海
                </span>
                <span class="yw-local-hz">
                    杭州<i class="icon-local"></i>
                </span>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <div class="yw-footer">
        <div class="yw-constr">
            <p class="yw-footer-copyright">Copyright © 2016 All Rights Reserved <span class="br">阅文集团 版权所有</span></p>
            <div class="yw-footer-share">
                <a href="<%= staticConf.staticPath %>/css/images/yw-qrcode.png" class="icon-share icon-share-weixin" title="阅文集团官方微信公众号" target="_blank">阅文集团官方微信公众号</a>
                <a href="http://weibo.com/tengxunwenxue" class="icon-share icon-share-weibo" title="阅文集团官方微博" target="_blank">阅文集团官方微博</a>
            </div>
        </div>
    </div>
</div>

<div id="ywOverlay" class="yw-overlay">
    <div class="yw-mid-con"></div><i class="yw-mid-i"></i>
</div>

<script src="<%= staticConf.staticPath %>/js/fastclick.js"></script>
<script src="<%= staticConf.staticPath %>/js/yuewen.js"></script>
<script>
// IE10+加载zepto.js
// IE7-IE9加载jQuery
var URLLIB = '<%= staticConf.staticPath %>/js/zepto.min.js';

if (!history.pushState) {
    URLLIB = '<%= staticConf.staticPath %>/js/jquery.min.js';
}

(function(document) {
    if ('addEventListener' in document) {
        // 移动端点击无延时，同时，和PC事件可以无缝兼容
        document.addEventListener('DOMContentLoaded', function() {
            FastClick.attach(document.body);
        }, false);
    }

    YUEWEN.load(URLLIB, function() {
        this.init();
        this.slide('#hdDotX a');
    });

})(document);

</script>
</body>
</html>
