<!-- start logo & 搜索 -->
<div class="logo-wrap box-center" style="background-image:url(<%= staticConf.staticPath %>/images/erciyuan/logo_search_bg.png)" >
    <div class="box-center cf">
        <div class="logo fl">
            <a href="/" data-aid="qd_A150"></a>
        </div>
        <div class="search-wrap fl">
            <p><input class="search-box" id="s-box" type="text" placeholder="<%= defaultSearch['keywords']%>"></p>
            <a id="search-btn" class="search-btn" href="javascript:" data-aid="qd_A12"><em class="iconfont">
                &#xe60d;</em></a>
        </div>
    </div>
</div>
<!-- end logo & 搜索 -->