<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>免费作品_起点中文网</title>
    <meta name="description" content="最热门的免费小说网,提供人气玄幻小说,奇幻小说,武侠小说,仙侠小说,都市小说,历史小说,军事小说,竞技小说,灵异小说,二次元小说,免费小说在线阅读与下载.大神作品齐聚起点,最新章节每日更新">
    <meta name="keywords" content="免费小说,免费网络小说,免费玄幻小说,免费奇幻小说,免费武侠小说,免费仙侠小说,免费都市小说,免费历史小说,免费军事小说,免费竞技小说,免费灵异小说,免费二次元小说">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://h5.qidian.com/bookstore.html">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script>
        document.domain = 'qidian.com';
    </script>
    <!-- start speedTimer[var, zero] -->
    <script>
        var speedTimer = [],
            speedZero = new Date().getTime();
    </script>
    <!-- end speedTimer[var, zero] -->
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/lbfUI/css/Checkbox.0.1.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/reset.0.1.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/global.0.1.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/font.0.1.0.1.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/header.0.2.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/module.0.2.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/list_module.0.2.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/free.0.2.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/all_finish.0.2.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/layout.0.1.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/qd_popup.0.1.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/footer.0.2.css">
    <!-- 配置Combo 若无需合并,请给link或者script增加 data-ignore="true" 属性-->

</head>
<body>
<div class="wrap">
    <% include ../layout/header2.html %>
    <%
    /*
    设置主导航高亮navHighLight = 4
    首页无高亮（首页没设置此变量）
    1:全部作品
    2:排行
    3:完本
    4:免费
    */
    var navHighLight = 4;
    %>
    <!-- start 主导航 -->
    <% include ../layout/main_nav.html %>
    <!-- end 主导航 -->

    <!-- start 免费频道容器 -->
    <div class="free-container box-center">
        <!-- start 免费种类切换 -->
        <div class="free-type-tab mb30 cf" id="free-type-tab">
            <ul>
                <li type="1">限时免费</li>
                <li type="2" class="act">免费作品</li>
            </ul>
        </div>
        <!-- end 免费种类切换 -->
        <!-- start 免费内容区 -->
        <div id="free-channel-wrap">
            <!-- start 限时免费 -->
            <!-- end 限时免费 -->

            <!-- start 免费作品 -->
            <div class="free-work">
                <div class="all-pro-wrap box-center cf">
                    <!-- start 侧边栏筛选条件 -->
                    <% include ../layout/sidebar_left.html %>
                    <!-- end 侧边栏筛选条件 -->
                    <!-- start 全部作品内容区 -->
                    <div class="main-content-wrap fl">
                        <!-- start 操作栏 -->
                        <% include ../layout/toolbar-top.html%>
                        <!-- end 操作栏 -->
                        <!-- start 全部作品列表 -->
                        <% include ../component/all_finish_free_list.html%>
                        <!-- end 全部作品列表 -->

                    </div>
                    <!-- end 全部作品内容区 -->
                </div>

            </div>
            <!-- end 免费作品 -->
        </div>
        <!-- end 免费内容区 -->


    </div>
    <!-- end 免费频道容器 -->


    <!-- start 页脚 -->
    <% include ../layout/footer.html %>
    <!-- end 页脚 -->
</div>
<!-- start LBF lib -->
<script data-ignore="true" src="//<%= staticConf.staticDomain %>/lbf/1.0.2/LBF.js?max_age=31536000"></script>
<script>
    LBF.config(<%- JSON.stringify(staticConf.lbf.conf) -%>);
    // 全局的通用数据都放g_data变量里h
    var g_data = {};
    // 环境变量，会按照环境选择性打log
    g_data.envType = '<%= envType %>';
    // 用作统计PV
    g_data.pageId = 'qd_P_free';
    //当前查询的参数
    g_data.params = '<%- JSON.stringify(data["paramList"])-%>';
    //当前页面路由
    g_data.url = '//<%= staticConf.domainPrefix%>f.qidian.com/all';
    g_data.domain =  '//<%= staticConf.domainPrefix%>f.qidian.com';
    // 域名环境变量
    g_data.domainSearch = '<%= staticConf.domainPrefix %>se.qidian.com';
</script>
<script>
    LBF.use(['lib.jQuery', 'monitor.SpeedReport','site.all_finish_free.common'], function ($, SpeedReport,Common) {
        // 页面逻辑入口
        new Common({});
        $(window).on('load.speedReport', function () {
            // speedTimer[onload]
            speedTimer.push(new Date().getTime());
                var f1 = 7718, // china reading limited's ID
                    f2 = 219, // site ID
                    f3 = 17; // page ID
            // chrome & IE9 Performance API
            SpeedReport.reportPerformance({
                flag1: f1,
                flag2: f2,
                flag3IE: f3,
                flag3Chrome: f3
            });
            // common speedTimer:['dom ready', 'onload']
            var speedReport = SpeedReport.create({
                flag1: f1,
                flag2: f2,
                flag3: f3,
                start: speedZero
            });
            // chrome & IE9 Performance API range 1~19, common speedTimer use 20+
            for (var i = 0; i < speedTimer.length; i++) {
                speedReport.add(speedTimer[i], i + 20)
            }
            // http://isdspeed.qq.com/cgi-bin/r.cgi?flag1=7718&flag2=224&flag3=1&1=38&2=38&…
            speedReport.send();
        })
    });
    // speedTimer[dom ready], put it before </body>
    speedTimer.push(new Date().getTime());
</script>
<!-- end LBF lib -->

</body>
</html>
