# list all git ignored files and folders

# 临时文件
.idea/
node_modules

# Node Modules (use `npm install` to generate these)
node_modules/*
node_modules
npm-debug.log

# OS X Junk
.DS_Store

# Not-Needed System Files
*.swp
*.bak
.svn
# 开发者本地项目列表无需入库
.yworkprojects


