@charset "utf-8";

/**
 * @author yangye
 * @design yangxuesong;
 */
@import "global";
@import "mixin";
/* 免费频道 */
.free-container {
	padding: 20px 0 30px;
}
.free-work .all-pro-wrap {
	padding-top: 0;
}
.free-type-tab {
	position: relative;
	z-index: 2;
	height: 40px;
	border-bottom: 1px solid #666;
	li {
		float: left;
		width: 130px;
		text-align: center;
		font: 18px/44px FZZCYSK;
		color: $A6;
		cursor: pointer;
		&.act {
			position: relative;
			top: 1px;
			z-index: 3;
			width: 128px;
			border-top: 2px solid #2972CC;
			border-left: 1px solid #E6E6E6;
			border-right: 1px solid #E6E6E6;
			background: white;
			font: 18px/38px FZZCYSK;
			color: #2972CC;
		}
	}
}
.limit-book-list {
	width: 954px;
	min-height: 400px;
	li:last-of-type {
		border-bottom: none;
	}
}
/* 书封里的评分 */
.book-img-text .book-img-box {
	.score {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		height: 14px;
		padding: 0 3px 0 2px;
		border-radius: 0 5px 0 0;
		background: $hover;
		font: 14px/14px Arial;
		color: white;
	}
}
/* 设置ul样式隐藏最后一根横线 */
#limit-list {
	.book-img-text {
		padding-bottom: 50px;
	}
}
/* 下期预告无数据 */
.no-next {
	padding: 81px 0 0;
	text-align: center;
	p {
		margin-top: 10px;
	}
}
/* 倒计时 */
.count-down {
	position: relative;
	margin-bottom: 40px;
	background: url("/qd/images/free/count_down.png") no-repeat;
	height: 160px;
	.digital {
		position: absolute;
		top: 60px;
		left: 343px;
		height: 60px;
		color: white;
		font: 24px/1 Arial;
		span {
			float: left;
			width: 60px;
			height: 60px;
			margin-right: 10px;
			text-align: center;
			font-size: 24px;
			font-family: FZZCYSK;
		}
	}
}

/* 1024 响应点样式变动 */
@media (max-width: 1025px) {
	.book-img-text .book-mid-info {
		width: 380px;
	}
	.limit-book-list {
		width: 744px;
	}
}
/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.count-down {
		background: url('/qd/images/free/count_down_2x.png') no-repeat;
		background-size: contain;
	}
}