@charset "utf-8";

/**
 * @author yangye
 * @design yangxuesong;
 */
@import "global";
@import "mixin";

/* 固定导航条*/
.pin-nav-wrap {
	position: fixed;
	z-index: 100000;
	top: -43px;
	left: 0;
	width: 100%;
	height: 42px;
	background: #3E3D43;
	-webkit-transform: translateZ(0); //解决chrome抖动
	transition: .5s all;
	&.show {
		top: 0;
	}
	.nav-list {
		height: 42px;
		//为了起点中文网和页面主体容器视觉对齐
		margin-left: -10px;
		li {
			float: left;

			&.act {
				a {
					height: 40px;
					line-height: 38px;
					border-top: 2px solid $hover;
					background: #2B2A2E;
					transition: none;
					span {
						top: 17px;
						@include triangle-up(white);
					}
				}
				.dropdown {
					display: block;
					-webkit-animation: .15s ease-out backwards;
					-moz-animation: .15s ease-out backwards;
					-ms-animation: .15s ease-out backwards;
					animation: .15s ease-out backwards;
					-webkit-animation-name: fadeinT;
					-moz-animation-name: fadeinT;
					-ms-animation-name: fadeinT;
					animation-name: fadeinT;
				}
			}
			&.site {
				width: 95px;
				margin-right: 28px;
				a {
					width: 95px;
					color: white;
					&.pin-logo {
						display: block;
						width: 95px;
						height: 42px;
						background-image: url("/qd/images/pin_logo_1x.png");
						background-repeat: no-repeat;
						background-position: 10px 50%;
					}
				}
				.dropdown {
					width: 125px;
				}
				&.act a {
					height: 38px;
				}
			}
			a {
				position: relative;
				display: block;
				padding: 0 15px;
				height: 42px;
				color: #CCC;
				font: 14px/42px $simsun;
				overflow: hidden;
				&:hover {
					color: white;
				}
				span {
					@include triangle-down(#CCC);
					top: 19px;
					right: 15px;
				}
			}
			&.more {
				a {
					width: 44px;
				}
				.dropdown {
					width: 74px;
				}
			}
			.dropdown {
				display: none;
				position: relative;
				background: #2B2A2E;
				-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
				a {
					height: auto;
					padding: 2px 15px;
					font: 14px/38px $simsun;
					color: #CCC;
					border-top: none;
					&:hover {
						color: white;
						background: black;
					}
				}
			}
		}
	}
	.min-user {
		.iconfont {
			font-size: 17px;
			display: inline-block;
			vertical-align: middle;
			color: white;
			&:hover {
				background: none;
			}
		}
		li {
			position: relative;
			z-index: 11;
			.pin-input {
				position: absolute;
				z-index: 1;
				top: 8px;
				right: 42px;
				height: 26px;
				border-bottom: 2px solid white;
				width: 40px;
				background: #3E3D43;
				font-size: 14px;
				font-family: $simsun;
				color: $E6;
				color: rgba(255, 255, 255, .7);
				*color: $E6;
				opacity: 0;
				filter: alpha(opacity=0);
			}
		}
		li.book-shelf {
			a {
				&:hover {
					background: #2B2A2E;
				}
			}
			i {
				margin-left: 5px;
			}
			cite {
				display: inline-block;
				vertical-align: middle;
				padding: 0 4px;
				line-height: 1.4;
				margin: -2px 0 0 4px;
				border-radius: 4px;
				color: white;
				font-size: 11px;
				font-family: Arial;
				background: $hover;
				strong {
					font-weight: 400;
				}
			}
			em {
				margin-top: -2px;
				*margin-top: 0;
				margin-left: 5px;
			}
		}
		li a {
			position: relative;
			background: none;
			margin-right: 0;
			z-index: 10;
			color: white;
		}
		li.line {
			margin: 10px 0 0;
			height: 24px;
			border-right: 1px solid #515056;
		}
		li.sign-out {
			padding: 0 6px 0 15px;
			position: relative;
			a {
				padding: 0;
				margin-right: 8px;
				display: inline;
				color: #CCC;
				&:hover {
					color: white;
				}
			}
		}
		li.sign-in {
			a {
				padding: 0 20px 0 10px;
				min-width: 80px;
				i {
					padding-right: 5px;
				}
			}
			.dropdown {
				width: 100%;
				position: absolute;
				top: 42px;
				right: 0;
				a {
					padding: 0 10px;
					text-align: left;
					&.pin-user-name {
						height: 32px;
						overflow: hidden;
					}
					i {
						padding-right: 0;
					}
				}
			}
		}
	}
}
/* 主导航 作品分类有下拉 作品分类的样式 */
#type-hover .classify-list {
	display: none;
	position: absolute;
	z-index: 100;
	top: 40px;
	box-shadow: 0 3px 5px #CCC;
}
.red {
	color: $red;
}
/* 作品分类下拉样式 */
.classify-list {
	position: relative;
	top: -10px;
	border: 1px solid $E6;
	border-top: none;
	width: 214px;
	height: 420px;
	dd {
		float: left;
		width: 50%;
		height: 60px;
		background: #F7F6F2;
		@extend %cf;
		a {
			display: block;
			color: #333;
			cite {
				position: relative;
				display: block;
				width: 85px;
				height: 43px;
				padding-top: 17px;
				padding-left: 17px;
				overflow: hidden;
				.rec {
					display: inline-block;
					vertical-align: middle;
					margin-top: -6px;
					*margin-top: -3px;
					margin-left: 3px;
					width: 7px;
					height: 8px;
					background: url("/qd/images/index/rec.png") no-repeat;
				}
				.info {
					float: left;
					max-width: 42px;
					i, b {
						display: block;
						cursor: pointer;
						text-align: left;
					}
					i {
						font: 14px/1 $simsun;
						white-space: nowrap;
					}
					b {
						font: 12px/1.5 Arial;
						color: #999;
					}
				}
				em {
					float: left;
					width: 24px;
					height: 24px;
					margin: 2px 8px 0 0;
					transition: ease-out .3s;
					&.lingyi {
						margin-top: 0;
					}
					&.jingji, &.erciyuan {
						margin-top: 1px;
					}
				}
			}
			&:hover {
				color: #000;
				em {
					margin: 2px 10px 0 -2px;
				}
				cite b {
					transition: all .3s;
					color: #000;
				}
			}
		}
		&.even {
			background: #FCFCFA;
		}
	}
}
/* 区块里的更多 */
.book-list-wrap:hover {
	.more {
		display: inline;
	}
}
/* 区块标题 */
h3.wrap-title {
	height: 24px;
	line-height: 25px;
	overflow: hidden;
	padding-bottom: 4px;
	font: {
		family: FZZCYSK;
		size: 18px;
	}
	font-weight: 400;
	*line-height: 1;
	color: #1A1A1A;
	@extend %bb6;
	span {
		margin-left: 5px;
	}
	em, a {
		font: 12px/1 Arail, $simsun;
		color: $blue;
		&:hover {
			color: #2972CC;
		}
	}
	em, i {
		margin: 0 5px;
		font-family: Arail, $fontbase;
	}
	.more {
		display: none;
	}
}
/* 书列表区块容器 */
.book-list-wrap {
	width: 216px;
	.book-list li {
		height: 31px;
		*vertical-align: bottom;

		@extend %bbe;
		@extend %cf;
		a {
			float: left;
			font: 14px/32px $simsun;
			&.channel {
				overflow: hidden;
				min-width: 56px;
				height: 32px;
				margin-left: -8px;
				color: $gray8;
				em {
					font-family: $fontbase;
					font-size: 13px;
				}
			}
			&.name {
				max-width: 95px;
				margin-left: -3px;
				@include word-wrap;
				color: #1A1A1A;
			}
			&:hover {
				color: $hover;
			}
		}
		&.str3 {
			.channel {
				width: 70px;
			}
			.name {
				width: 80px;
			}
		}
		.author, .rec {
			float: right;
			width: 64px;
			font: 12px/32px $simsun;
			text-align: right;
			color: #B3B3B3;
			@include word-wrap-multi;
		}
		&.color-type_1 {
			a {
				color: $red;
				&:hover {
					color: $hover;
				}
			}
			.author {
				color: $A6;
				&:hover {
					color: $hover;
				}
			}
		}
		&.bd0 {
			border-bottom: none;
			.name {
				width: 140px;
				@include word-wrap-multi;
			}
			span {
				width: 26px;
			}
		}
	}
}
/* 立体书封容器 */
.book-wrap {
	padding: 15px 0;
	.book-info {
		width: 124px;
		h3 {
			width: 36px;
			height: 18px;
			font: 700 14px/18px Arial;
			text-align: center;
			color: white;
			background: $red;
			@include mb(3px);
		}
		h4 {
			overflow: hidden;
			height: 24px;
			font: 16px/24px $fontbase;
			color: #1A1A1A;
		}
		p {
			&.digital {
				overflow: hidden;
				height: 24px;
				padding: 3px 0 0;
				@include mb(4px);
				font-size: 12px;
				color: $red;
				em {
					font: {
						size: 18px;
						family: Arial;
					}
				}
				&.f16 {
					font-size: 16px;
				}
			}
			&.author {
				overflow: hidden;
				height: 16px;
				font-size: 12px;
				font-family: $simsun;
				i {
					margin: 0 5px;
					font-family: Arial;
				}
				a {
					color: $A6;
					&.type:hover {
						color: $hover;
					}
					&.writer:hover {
						color: #000;
					}
				}
			}
		}
		.tag {
			color: $red;
			display: block;
			width: 50px;
			height: 18px;
			text-align: center;
			padding: 0 3px;
			font-size: 12px;
			line-height: 18px;
			font-family: $simsun;
			@include mb(2px);
			@include border($red);
			overflow: hidden;
		}
		.desc {
			font-size: 12px;
			font-family: $simsun;
			color: $gray6;
			height: 16px;
			overflow: hidden;
		}
	}
	.book-cover {
		position: relative;
		z-index: 4;
		float: right;
		width: 52px;
		margin-top: -3px;
		margin-right: 8px;
		text-align: center;
		.link {
			position: relative;
			z-index: 10;
		}
		img {
			width: 60px;
			height: 87px;
		}
		span {
			position: absolute;
			z-index: 1;
		}
	}
}
/* IE9以上开启立体书封效果 */
html:root {
	.book-cover {
		-webkit-transform: perspective(60px) rotateY(-10deg);
		-moz-transform: perspective(60px) rotateY(-10deg);
		transform: perspective(60px) rotateY(-10deg);
		/* 封底 */
		&:before {
			position: absolute;
			z-index: 3;
			top: 3%;
			left: 10%;
			width: 100%;
			height: 90%;
			background-color: #999;
		}
		/* 白色书页填充 */
		&:after {
			position: absolute;
			z-index: 2;
			top: 2%;
			left: 100%;
			width: 10%;
			height: 92%;
			content: ' ';
			-webkit-transform: perspective(60px) rotateY(30deg);
			-moz-transform: perspective(60px) rotateY(30deg);
			transform: perspective(60px) rotateY(30deg);
			background-color: #EFEFEF;
			box-shadow: inset 0 0 5px #333;
		}
		/* 投影 */
		span {
			position: absolute;
			z-index: 1;
			top: 83.5%;
			left: 7px;
			width: 20px;
			height: 10px;
			content: ' ';
			box-shadow: 25px 0 5px 5px #ADADAD;
			-webkit-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
			-moz-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
			transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
		}
		img {
			width: 52px;
			height: 87px;
		}
	}
}
/* 平面书封面 */
.book-img {
	width: 72px;
	height: 96px;
	margin-right: 12px;
	a {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .4), 0 0 5px #F9F2E9 inset;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			-webkit-transition: -webkit-transform .3s ease-out;
			-moz-transition: -moz-transform .3s ease-out;
			-ms-transition: -ms-transform .3s ease-out;
			transition: transform .3s ease-out;
			color: #FCFCFA;
			&:hover {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				transform: scale(1.1);
			}

		}
		span {
			position: absolute;
			padding: 0 3px 0 2px;
			height: 17px;
			color: white;
			bottom: 0;
			left: 0;
			text-align: center;
			font: 12px/18px Arial;
			background: #ED4259;
			border-radius: 0 5px 0 0;
		}
	}
}
/* 排行榜 */
.rank-list {
	.mr0 {
		margin-right: 0;
	}
	position: relative;
	z-index: 1;
	&:hover {
		.more {
			display: inline;
		}
	}
	float: left;
	width: 216px;
	margin-right: 30px;
	.book-list li {
		height: 31px;
		*vertical-align: bottom;
		@extend %cf;
		&:hover {
			.name-box .arrow-up {
				background: $hover;
			}
		}
		&.bd0, &:last-of-type {
			.name-box {
				border-bottom: none;
			}
		}
		&.unfold {
			overflow: visible;
			height: 114px;
			@extend %bbe;
			i {
				color: $A6;
			}
		}
		.num-box {
			float: left;
			width: 28px;
			height: 32px;
			span {
				display: block;
				width: 16px;
				height: 16px;
				margin-top: 8px;
				margin-left: -1px;
				font: 700 14px/16px Arial;
				text-align: center;
				color: $gray6;
				background: #EDEDED;
				overflow: hidden;
				letter-spacing: -1px;
				&.num2 {
					color: white;
					background: #E67225;
				}
				&.num3 {
					color: white;
					background: #E6BF25;
				}
			}
		}
		.name-box {
			position: relative;
			float: left;
			height: 30px;
			@extend %bbe;
			a {
				float: left;
				font: 14px/31px $simsun;

				&.name {
					overflow: hidden;
					width: 116px;
					height: 31px;
					@include word-wrap;
					color: #1A1A1A;
				}
				&:hover {
					color: $hover;
				}
			}
			&.rec {
				a {
					color: $red;
				}
				.author {
					color: #B3B3B3;
					&:hover {
						color: $hover;
					}
				}
			}
			&.bd0 {
				border-bottom: none;
			}
			i.total {
				float: right;
				width: 72px;
				font: 12px/32px $simsun;
				text-align: right;
				color: #B3B3B3;

				@include word-wrap-multi;
			}
			span {
				position: absolute;
				right: 0;
				font: 12px/31px $fontbase;
				text-align: right;
				color: #BFBFBF;
				&.up {
					color: $gray6;
				}
			}
		}
	}
}
/* 排序的榜单列表（24小时热销） */
.sort-list {
	.book-list li {
		.name-box a.name {
			width: 178px;
			padding-right: 10px;
			@include word-wrap-multi;
		}
	}
}
/* 3d focus-slide */
.roundabout-holder {
	width: 156px;
	height: 112px;
	img {
		width: 100%;
	}
}
.roundabout {
	display: none;
	position: relative;
	li {
		position: absolute;
		width: 84px;
		height: 112px;
		-webkit-box-shadow: 0 1px 8px #7F7F7F;
		-moz-box-shadow: 0 1px 8px #7F7F7F;
		box-shadow: 0 1px 8px #7F7F7F;
		cursor: pointer;
		img {
			height: 100%;
		}
		&.book1 {
			left: 18px;
			top: -13px;
			z-index: 280;
		}
		&.book2 {
			left: 75px;
			top: -1px;
			z-index: 145;
		}
		&.book3 {
			left: -20px;
			top: -1px;
			z-index: 145;
		}
	}
}
/* 3d focus-slide textWrap */
.info-text {
	width: 192px;
	margin: 0 auto;
	text-align: center;
	h3 {
		height: 24px;
		font: 700 16px/24px $fontbase;
		@include mb(5px);
		overflow: hidden;
		a {
			color: #1A1A1A;
			&:hover {
				color: $hover;
			}
		}
	}
	.author {
		padding: 3px 0 5px;
		color: $red;
		font: 12px/16px $simsun;
		a {
			color: $red;
			&:hover {
				color: $hover;
			}
		}
		em {
			font-family: Arial;
			margin: 0 5px;
		}
	}
	.total {
		@include mb;
		font: 12px/18px $simsun;
		b {
			font-size: 18px;
			font-family: Arial;
		}
	}
	.intro {
		height: 80px;
		@include mb(20px);
		overflow: hidden;
		text-align: left;
		color: #626260;
		font: 12px/20px $simsun;
	}
}
/* 排行榜分页 */
.page-box {
	padding: 40px 0;
	.pagination {
		overflow: hidden;
		*zoom: 1;
		ul {
			float: left;
		}
		li {
			float: left;
			margin-right: 10px;
			text-align: center;
			a {
				float: left;
				padding: 0 7px;
				height: 22px;
				font: 14px/22px Arial;
				border: 1px solid white;
				&:hover {
					border: 1px solid $hover;
				}
			}
		}
		.lbf-pagination-prev, .lbf-pagination-next {
			font-family: simsun;
			line-height: 24px;
		}
		.lbf-pagination-current {
			border: 1px solid $hover;
			background: $hover;
			color: white;
		}
		.lbf-pagination-disabled {
			color: #CCC;
			cursor: default;
		}
		.lbf-pagination-jump {
			float: left;
			input {
				display: inline-block;
				vertical-align: middle;
				width: 26px;
				height: 22px;
				margin-right: 10px;
				border: 1px solid #F2F2F2;
				text-align: center;
				font: 12px/22px Arial;
				&:focus {
					border: 1px solid #BBDAFF;
				}
			}
			.lbf-pagination-go {
				display: inline-block;
				vertical-align: middle;
				width: 34px;
				height: 22px;
				border: 1px solid #F2F2F2;
				text-align: center;
				font: 12px/22px $fontbase;
				&:hover {
					border: 1px solid $hover;
				}
			}
		}
	}
}
/* LightTips提示内的容器 */
.simple-tips {
	width: 240px;
	margin: 0 auto;
	padding: 11px 0;
}
/* circle loading */
:root .la-ball-pulse {
	font-size: 0;
	span {
		display: inline-block;
		background-color: currentColor;
		border: 0 solid currentColor;
		background: #666;
		width: 8px;
		height: 8px;
		margin: 0 8px 0 0;
		border-radius: 100%;
		-webkit-animation: ball-pulse 1s ease infinite;
		-moz-animation: ball-pulse 1s ease infinite;
		-o-animation: ball-pulse 1s ease infinite;
		animation: ball-pulse 1s ease infinite;
		&:nth-child(1) {
			-webkit-animation-delay: -200ms;
			-moz-animation-delay: -200ms;
			-o-animation-delay: -200ms;
			animation-delay: -200ms;
		}
		&:nth-child(2) {
			-webkit-animation-delay: -100ms;
			-moz-animation-delay: -100ms;
			-o-animation-delay: -100ms;
			animation-delay: -100ms;
		}
		&:nth-child(3) {
			-webkit-animation-delay: 0;
			-moz-animation-delay: 0;
			-o-animation-delay: 0;
			animation-delay: 0;
		}
	}
}
/*
 * Animation circle loading
 */
@-webkit-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-webkit-transform: scale(.01);
		transform: scale(.01);
	}
}
@-moz-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-moz-transform: scale(.01);
		transform: scale(.01);
	}
}
@-o-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-o-transform: scale(.01);
		transform: scale(.01);
	}
}
@keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
	30% {
		opacity: .1;
		-webkit-transform: scale(.01);
		-moz-transform: scale(.01);
		-o-transform: scale(.01);
		transform: scale(.01);
	}
}
//css3 bounceIN 弹出动画
@-webkit-keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
		transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
	}
	0% {
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}
	60% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
		opacity: 1;
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 0.7;
	}
}
@keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
		-webkit-transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
		transition-timing-function: cubic-bezier(.215, .610, .355, 1.000);
	}
	0% {
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(.9, .9, .9);
		transform: scale3d(.9, .9, .9);
	}
	60% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
		opacity: 1;
	}
	80% {
		-webkit-transform: scale3d(.97, .97, .97);
		transform: scale3d(.97, .97, .97);
	}
	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
		opacity: 0.7;
	}
}
.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
}
//css3 fadeinT .animate
@-webkit-keyframes fadeinT {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes fadeinT {
	0% {
		opacity: 0;
		-moz-transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}
@-ms-keyframes fadeinT {
	0% {
		opacity: 0;
		-ms-transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}
@keyframes fadeinT {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.pin-nav-wrap .nav-list li.site a.pin-logo {
		background-image: url("/qd/images/pin_logo_3x.png");
		background-size: 80px;
		background-repeat: no-repeat;
	}
	.focus-wrap .classify-list dd a cite .rec {
		background: url("/qd/images/index/rec2x.png") no-repeat;
		background-size: 100%;
	}
}