/*
* base reset
**/
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: PingFang SC, Microsoft YaHei, Arial;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
img {
    vertical-align: top;
    border: none;
}
input,
textarea {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-appearance: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type="text"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="url"],
textarea {
    -webkit-appearance: none;
    border: 1px solid;
    -webkit-border-radius: 0;
    border-radius: 0;
}
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
a {
    text-decoration: none;
    -webkit-touch-callout: none;
}
em,
i {
    font-style: normal;
}
li {
    list-style: none;
}
html{
    max-width: 768px;
    margin: 0 auto;
}
