@import "mixin";
@import "global";


//二次元频道页
/* 颜色相关变量 */
$search-btn-bg:#f23d56;
$search-bar-color:#d5d5d5;
$main-nav-bg:#f54e78;
$main-nav-color:#fff;

/* 顶部导航样式 */
.pin-nav-wrap {
  position: relative;
  z-index: 10;
  top: 0;
}

/*logo 搜索框样式*/
.logo-wrap{
  height:100px;
  .logo{
    margin:27px 241px 0 0;
    width:155px;
    a{
      width:155px;
      height:47px;
      background:url("/qd/images/erciyuan/logo1x.png") no-repeat;
    }
  }
  .search-wrap{
    border:4px solid #e6e6e6;
    border:4px solid rgba(0,0,0,0.1);
    border-radius:8px;
    .search-btn{
      width:70px;
      height:40px;
      background:$search-btn-bg;
      border-radius:0 5px 5px 0;
    }
    p{
      border:1px solid $search-bar-color;
      border-radius:5px 0 0 5px;
    }
  }
}

/*主导航条样式*/
.main-nav-wrap{
  background:$main-nav-bg;
   .main-nav{
     background-color:$main-nav-bg;
     li{
       &.nav-li{
         a{
           border-bottom:2px solid $main-nav-bg;//暂时给2像素border，为之后加Hover效果做准备，如果不需要border，之后需把导航条高度改成40px,目前首页是有2px的border的
         }
       }
     }
   }

}

/* retina屏logo双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .logo-wrap .logo a {
    background: url("/qd/images/erciyuan/logo3x.png") no-repeat;
    background-size: 217px;
    background-repeat: no-repeat;
  }
}


.box-center {
  @include center-box;
}

//如果分辨率是1024，触发响应点
@media (max-width: 1025px) {
  //居中容器改变成990
  .box-center {
    width: 990px;
    margin: 0 auto;
  }
  //所有需要隐藏的个体
  .respon {
    display: none;
  }
}
