@charset "utf-8";

/**
 * @author yangye
 * @design yangxuesong;
 */

$black: #262626;
$gray6: #666;
$gray8: #808080;
$gray9: #999;
$A6: #A6A6A6;
$fontbase: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";

//专门为XP做字体优化，12-14px字体换成宋体。
$simsun: "PingFangSC-Regular", "-apple-system", Simsun;
$E6: #E6E6E6;
$red: #BF2C24;
$blue: #3F5A93;
$blue_hover: #2972CC;
//玫红色
$hover: #ED4259;
%red {
	color: $red;
}
