@charset "utf-8";

/**
 * @author yangye
 * @design yangxuesong;
 */
@import "mixin";
.box-center {
	@include center-box;
}
//如果分辨率是1200,触发响应点
@media (max-width: 1200px) {
	//居中容器改变成990
	.box-center {
		width: 990px;
		margin: 0 auto;
	}
	//所有需要隐藏的个体
	.respon {
		display: none;
	}
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mr0 {
	margin-right: 0;
}
.mr10 {
	margin-right: 10px;
}
.mr30 {
	margin-right: 30px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb60 {
	margin-bottom: 60px;
}
.hidden {
	display: none;
}
/* 父容器清浮动 */
.cf {
	zoom: 1;
	&:before, &:after {
		display: table;
		content: '';
	}
	&:after {
		clear: both;
	}
}
/* inline-block去除元素之间空隙 */
.dib-wrap {
	font-size: 0;
	*word-spacing: -1px;
	a, span {
		display: inline-block;
		vertical-align: top;
		letter-spacing: normal;
		word-spacing: normal;
	}
}
/* inline-block 无需去除空隙 */
.dib-box {
	a, span {
		display: inline-block;
		vertical-align: top;
		letter-spacing: normal;
		word-spacing: normal;
	}
}