@charset "utf-8";

/**
 * @author yangye
 * @design yangxuesong;
 */
@import "global";
@import "mixin";
.rank-box {
	padding: 20px 0 0;
}
.rank-nav-list {
	width: 216px;
	margin-right: 30px;
	ul li {
		font: 14px/1 $simsun;
		@include mb(20px);
		&.act {
			a {
				color: $hover;
				font-weight: 700;
			}
			cite {
				display: inline-block;
				margin: -3px 0 0 8px;
				vertical-align: middle;
				border-top: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid $hover;
				width: 0;
				height: 0;
			}
		}
	}
	p.line {
		@extend %bbd;
		margin: 17px 0;
	}
	h4 {
		@include mb(18px);
		font-family: $simsun;
	}
}
/* 榜单内容 */
.rank-header {
	@include mb(24px);
	h3 {
		font: 26px/26px 'FZZCYSK';
		@include mb(15px);
		span {
			margin-left: 10px;
			color: #666;
			font-size: 14px;
			font-family: $simsun;
			em {
				font-family: Arial;
				margin-right: 5px;
			}
		}
		.link {
			float: right;
			margin-top: 12px;
			font: 12px/1 $simsun;
			color: $gray6;
			&:hover {
				color: inherit;
			}
		}
	}
	//分类筛选
	.type-list {
		height: 40px;
		padding-left: 12px;
		background: #F7F6F2;
		//缩减换行空隙
		font-size: 0;
		a {
			color: $A6;
			font: 12px/40px $simsun;
			&.act {
				color: $hover;
				font-weight: 700;
			}
			&:hover {
				color: $hover;
			}
			&.black {
				color: #262626;
				&:hover {
					color: $hover;
				}
			}
		}
		i {
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 0 12px;
			color: #E6E6E6;
			margin-top: -2px;
			font: 14px/35px Arial;
		}
		em {
			margin: 0 10px;
			color: #A6A6A6;
			font: 14px/40px Arial;
		}
	}
	//按时间、分类查询，切换列表显示样式
	.rank-toolbar-wrap {
		min-height: 80px;
		background: #F7F6F2;
		&.notimebox {
			min-height: 40px;
		}
		.tool-box {
			position: relative;
			padding: 0 12px;
		}
		.type-list {
			padding-left: 0;
		}
		.btn-box {
			min-height: 37px;
		}
		p.line {
			@extend %bbe;
		}
		.lbf-combobox {
			margin-top: 5px;
			.lbf-combobox-icon {
				top: 12px;
				right: 15px;
				border-top: 4px solid #A6A6A6;
				border-right: 4px solid transparent;
				border-bottom: 0 none;
				border-left: 4px solid transparent;
			}
		}
		.lbf-combobox .lbf-combobox-label {
			height: 18px;
			line-height: 18px;
			background: none;
			&.lbf-dropdown-on {
				background: white;
			}
		}
	}
}
/* 榜单区域 */
.rank-body {
	h3.wrap-title {
		.more {
			display: inline;
		}
	}
}
/* rank-list 此处的样式和首页的rank-list有细节上的样式差别 */
.rank-list {
	//固高，与下一行的4个列表保持36px的间距
	height: 450px;
	//周月总tab切换样式
	.tab-title {
		position: relative;
		.tab-wrap {
			position: absolute;
			top: 1px;
			right: 0;
			a {
				color: $A6;
				font: 12px/16px $simsun;
				&.act, &:hover {
					color: $hover;
				}
			}
			em {
				margin: 0 3px;
				color: $A6;
				font: 12px/16px Arial;
			}
		}
	}
}
/* 社区排行 */
.rank-tab-box {
	height: 40px;
	background: #F7F6F2;
	@extend %bbe;
	a {
		text-align: center;
		display: inline-block;
		padding: 0 12px;
		font: 14px/40px $simsun;
		&.act {
			height: 39px;
			font-weight: 700;
			color: $hover;
			border-bottom: 2px solid $hover;
		}
	}
}
/* 粉丝列表 */
.fans-list {
	float: left;
	margin-right: 30px;
	&.mr0 {
		margin-right: 0;
	}
	h3 {
		@include mb(5px);
		@extend %cf;
		b {
			float: left;
			font: 700 12px/16px $simsun;
			&.col-1 {
				margin-right: 15px;
			}
			&.col-2 {
				margin-right: 28px;
			}
			&.col-3 {
				float: right;
			}
		}
	}
	li {
		@extend %cf;
		border-top: 1px solid #E6E6E6;
		&:first-child {
			border-top: none;
		}
		.number, a {
			float: left;
		}
		.number {
			margin-right: 40px;
		}
		a {
			font: 14px/40px $simsun;
			width: 100px;
			@include word-wrap;
		}
		i {
			float: right;
			font: 12px/40px Arail;
			color: $A6;
			max-width: 64px;
			@include word-wrap-multi;
		}
	}
}
//火狐hack 因为火狐对()符号大小与chrome不一样，导致宽度被撑开。
@-moz-document url-prefix() {
	.fans-list {
		margin-right: 14px;
	}
}
.rank-view-list .book-img-text li:last-of-type {
	border-bottom: none;
	margin-bottom: 0;
}
.fans-data-list {
	padding-bottom: 60px;
}
/* 无数据样式 */
.no-rank-data {
	padding: 126px 0 0;
	text-align: center;
	span {
		display: block;
		width: 78px;
		height: 83px;
		margin: 0 auto 10px;
		background: url(/qd/images/rank/nodata.png) no-repeat;
	}
	p {
		color: $gray8;
	}
}
/* 数据为-的时候样式替代 */
.rank-list .book-list li .name-box b.name {
	float: left;
	width: 116px;
	height: 31px;
	color: #1A1A1A;
	font: 14px/31px $simsun;
}
.sort-list .book-list li .name-box b.name {
	float: left;
	width: 188px;
	height: 31px;
	color: #1A1A1A;
	font: 14px/31px $simsun;
}
/* 1200时响应点 */
@media (max-width: 1200px) {
	.fans-list {
		margin-bottom: 22px;
	}
	.rank-header .type-list em {
		margin: 0 5px;
	}
}
/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
	.no-rank-data span {
		background: url(/qd/images/rank/nodata_2x.png) no-repeat;
		background-size: 100%;
	}
}