<div class="main-nav-wrap">
    <div class="main-nav box-center cf">
        <ul>
            <li class="first"><span><em>
                <i></i>
                <i></i>
                <i></i>
            </em>作品分类</span>
            </li>
            <li class="nav-li"><a href="//<%= staticConf.domainPrefix %>a.qidian.com" data-aid="qd_A15">全部作品</a></li>
            <li class="nav-li"><a href="//<%= staticConf.domainPrefix %>r.qidian.com" data-aid="qd_A16">排行</a></li>
            <li class="nav-li"><a href="//<%= staticConf.domainPrefix %>fin.qidian.com" data-aid="qd_A17">完本</a></li>
            <li class="nav-li"><a href="//<%= staticConf.domainPrefix %>f.qidian.com" data-aid="qd_A18">免费</a></li>
            <li class="nav-li"><a href="http://www.qidian.com/contribute/authorloginbk.aspx" target="_blank" data-aid="qd_A19">作家专区</a>
            </li>
            <li class="nav-li"><a href="http://c.qidian.com" target="_blank" data-aid="qd_A20"><b class="iconfont client">&#xe604;</b>客户端</a>
            </li>
            <li class="game phone" id="game-phone">
                <a class="phone-game" href="http://xs.qidian.com/Home/Pc/Index/index" target="_blank" data-aid="qd_A22"><b class="iconfont webgame">
                    &#xe612;</b>手游</a>
                <!-- start 手游下拉框 -->
                <!-- end 手游下拉框 -->
            </li>
            <li class="game web" id="game-web">
                <a class="web-game" href="http://game.qidian.com/" target="_blank" data-aid="qd_A21"><b class="iconfont">
                    &#xe60b;</b>页游</a>
                <!-- start 页游下拉框 -->
                <!-- end 页游下拉框 -->
            </li>
        </ul>
    </div>
</div>