<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>限时免费_起点中文网</title>
    <meta name="description" content="最热门的免费小说网,提供人气玄幻小说,奇幻小说,武侠小说,仙侠小说,都市小说,历史小说,军事小说,竞技小说,灵异小说,二次元小说,免费小说在线阅读与下载.大神作品齐聚起点,最新章节每日更新">
    <meta name="keywords" content="免费小说,免费网络小说,免费玄幻小说,免费奇幻小说,免费武侠小说,免费仙侠小说,免费都市小说,免费历史小说,免费军事小说,免费竞技小说,免费灵异小说,免费二次元小说">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://h5.qidian.com/bookstore.html">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script>
        document.domain = 'qidian.com';
    </script>
    <!-- start speedTimer[var, zero] -->
    <script>
        var speedTimer = [],
            speedZero = new Date().getTime();
    </script>
    <!-- end speedTimer[var, zero] -->
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/lbfUI/css/Checkbox.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/reset.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/global.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/font.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/header.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/module.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/list_module.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/free.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/all_finish.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/layout.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/qd_popup.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/footer.css">
</head>
<body>
<div class="wrap">
    <% include ../layout/header2.html %>
    <%
        /*
            设置主导航高亮navHighLight = 4
            0:首页
            1:全部作品
            2:排行
            3:完本
            4:免费
            5:频道页
            6:搜索页
        */
        var navHighLight = 4;
    %>
    <!-- start 主导航 -->
    <% include ../layout/main_nav.html %>
    <!-- end 主导航 -->

    <!-- start 免费频道容器 -->
    <div class="free-container box-center">
        <!-- start 免费种类切换 -->
        <div class="free-type-tab mb30 cf" id="free-type-tab">
            <em></em>
            <ul>
                <li type="1"class="act">限时免费</li>
                <li type="2">免费作品</li>
            </ul>
        </div>
        <!-- end 免费种类切换 -->
        <!-- start 免费内容区 -->
        <div id="free-channel-wrap">
            <!-- start 限时免费 -->
            <div id="limit-channel">
                <!-- start 倒计时 -->
                <div class="count-down" id="time-box" data-endtime="<%= data['limitInfo']['leavetime'] %>">
                    <div class="digital">
                        <%
                        var day=data['limitInfo']['day'];
                        var hour=data['limitInfo']['hour'];
                        var min=data['limitInfo']['min'];
                        var sec=data['limitInfo']['sec'];
                        if(data['limitInfo']['hour']<10){
                        hour='0'+data['limitInfo']['hour'];
                        }
                        if(data['limitInfo']['min']<10){
                        min='0'+data['limitInfo']['min'];
                        }
                        if(data['limitInfo']['sec']<10){
                        sec='0'+data['limitInfo']['sec'];
                        }
                        %>
                        <span class="day"><%= day%></span>
                        <span class="hour"><%= hour%></span>
                        <span class="minute"><%= min%></span>
                        <span class="second"><%= sec%></span>
                    </div>
                </div>
                <!-- end 倒计时 -->
                <div class="limit-free-list cf">
                    <!-- start 左侧限时免费列表 -->
                    <div class="limit-book-list fl">
                        <!-- start 暂无数据的情况 -->
                        <% if(data.listInfo==null||data.listInfo.length==0){ %>
                        <div class="no-data">
                            <div class="no-result-img">
                                <span class="no-data-img"></span>
                            </div>
                            <h3>本期暂无限免 小编会尽快上架</h3>
                            <p>你也可以去<a class="blue" href="//<%= staticConf.domainPrefix %>f.qidian.com/all">免费作品</a>查看</p>
                        </div>
                        <%}else{%>
                        <!-- end 暂无数据的情况 -->

                        <!-- start 限免书数据列表-->
                        <div id="limit-list">
                            <div class="book-img-text">
                                <ul>
                                    <% for(var i=0;i< data.listInfo.length;i++){
                                       var item = data.listInfo[i];
                                    %>
                                    <li data-rankid="<%= i+1%>">
                                        <div class="book-img-box">
                                            <%if(item['score']!=null&&item['score']!=""){%><div class="score"><%= item['score']%></div><%}%>
                                            <a href="<%= item['bookUrl']%>" data-aid="qd_E03" data-bid="<%= item['bookId']%>" target="_blank"><img src="<%= item['imageUrl']%>"></a>
                                        </div>
                                        <div class="book-mid-info">
                                            <h4><a href="<%= item['bookUrl']%>" target="_blank" data-aid="qd_E04" data-bid="<%= item['bookId']%>"><%= item['bookName']||'- -'%></a></h4>
                                            <p class="author">
                                                <img src="<%= staticConf.staticPath %>/images/ico/user.png"><a class="name" href="<%= item['authorUrl']%>" target="_blank" data-aid="qd_E05"><%= item['authorName']%></a><em>|</em><a href="<%= item['chanUrl']%>" data-aid="qd_E06" target="_blank"><%= item['chanName']%></a><em>|</em><span><%= item['bookStatus']%></span>
                                            </p>
                                            <p class="intro">
                                                <%= item['desc']||'- -'%>
                                            </p>
                                            <p class="update"><a href="<%= item['lastChapterUrl']%>" data-aid="qd_E07" data-chapterurl="<%= item['lastChapterUrl']%>" target="_blank">最新更新  <%= item['lastChapterName']%></a><em>
                                                &#183;</em><span><%= item['lastUpdateTime']%></span>
                                            </p>
                                        </div>
                                        <div class="book-right-info">
                                            <div class="price">
                                                <p><span>¥</span>0</p>
                                                <s>¥<%= item['price']%></s>
                                            </div>
                                            <p class="btn">
                                                <a class="red-btn" href="<%= item['bookUrl']%>" target="_blank" data-aid="qd_E01">免费阅读</a>
                                                <%
                                                var bookInShelf='加入书架';
                                                var inShelf='blue-btn';
                                                if( item['isInShelf']==true){
                                                bookInShelf='已在书架';
                                                inShelf='in-shelf';
                                                }
                                                %>
                                                <a class="<%= inShelf%> add-book" href="javascript:" data-aid="qd_E02" data-bookId="<%= item['bookId']%>"><%= bookInShelf%></a>
                                            </p>
                                        </div>
                                    </li>
                                    <%}%>
                                </ul>
                            </div>
                        </div>
                        <!-- end 限免书数据列表-->
                        <%}%>
                    </div>

                    <!-- end 左侧限时免费列表 -->

                    <!-- start 右侧下期预告 -->
                    <div class="right-side-wrap fr">
                        <div class="other-rec-wrap">
                            <h3>下期预告</h3>
                            <!-- start 暂无下期预告 -->
                            <% if(data.nextFreeInfo==null||data.nextFreeInfo.length==0){%>
                            <div class="no-next">
                                <span class="no-data-img"></span>
                                <p>暂无下期预告</p>
                            </div>
                            <%}else{%>
                            <!-- end 暂无下期预告 -->
                            <!-- start 下期预告数据列表 -->
                            <ul>
                                <% for(var i=0;i< data.nextFreeInfo.length;i++){
                                   var item = data.nextFreeInfo[i];
                                %>
                                <li data-rankid="<%= i+1%>">
                                    <div class="img-box">
                                        <%if(item['score']!=null&&item['score']!=""){%><span><%= item['score']%></span><%}%>
                                        <a href="<%= item['bookUrl']%>" target="_blank" data-aid="qd_E08" data-bid="<%= item['bookId']%>"><img src="<%= item['imageUrl']%>"></a>
                                    </div>
                                    <div class="book-info">
                                        <h4><a href="<%= item['bookUrl']%>" target="_blank" data-aid="qd_E09" data-bid="<%= item['bookId']%>"><%= item['bookName']||'- -'%></a></h4>
                                        <p class="author"><img src="<%= staticConf.staticPath %>/images/ico/user.png"><a href="<%= item['authorUrl']%>" data-aid="qd_E10" target="_blank"><%= item['authorName']%></a></p>
                                        <p class="intro"><%= item['desc']||'- -'%></p>
                                    </div>
                                </li>
                                <%}%>
                            </ul>
                            <%}%>
                            <!-- end 下期预告数据列表 -->
                        </div>
                    </div>
                    <!-- end 右侧下期预告 -->
                </div>
            </div>
            <!-- end 限时免费 -->
        </div>
        <!-- end 免费内容区 -->


    </div>
    <!-- end 免费频道容器 -->


    <!-- start 页脚 -->
    <% include ../layout/footer.html %>
    <!-- end 页脚 -->
</div>
<!-- start LBF lib -->
<script data-ignore="true" src="//<%= staticConf.staticDomain %>/lbf/1.0.2/LBF.js?max_age=31536000"></script>
<script>
    LBF.config(<%- JSON.stringify(staticConf.lbf.conf) -%>);
    // 全局的通用数据都放g_data变量里
    var g_data = {};
    // 环境变量，会按照环境选择性打log
    g_data.envType = '<%= envType %>';
    // 用作统计PV
    g_data.pageId = 'qd_P_limitfree';
    g_data.targetUrl = '//<%= staticConf.domainPrefix%>f.qidian.com';
    // 域名环境变量
    g_data.domainSearch = '<%= staticConf.domainPrefix %>se.qidian.com';
</script>
<script>
    LBF.use(['lib.jQuery', 'monitor.SpeedReport', '/qd/js/free/limitedFree.js'], function ($, SpeedReport, LimitFree) {

        // 页面逻辑入口
        new LimitFree({});
        $(window).on('load.speedReport', function () {
            // speedTimer[onload]
            speedTimer.push(new Date().getTime());
                var f1 = 7718, // china reading limited's ID
                    f2 = 219, // site ID
                    f3 = 11; // page ID
            // chrome & IE9 Performance API
            SpeedReport.reportPerformance({
                flag1: f1,
                flag2: f2,
                flag3IE: f3,
                flag3Chrome: f3
            });
            // common speedTimer:['dom ready', 'onload']
            var speedReport = SpeedReport.create({
                flag1: f1,
                flag2: f2,
                flag3: f3,
                start: speedZero
            });
            // chrome & IE9 Performance API range 1~19, common speedTimer use 20+
            for (var i = 0; i < speedTimer.length; i++) {
                speedReport.add(speedTimer[i], i + 20)
            }
            // http://isdspeed.qq.com/cgi-bin/r.cgi?flag1=7718&flag2=224&flag3=1&1=38&2=38&…
            speedReport.send();
        })
    });
    // speedTimer[dom ready], put it before </body>
    speedTimer.push(new Date().getTime());
</script>
<!-- end LBF lib -->

</body>
</html>
