@charset 'UTF-8';
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/* 居中容器 */
/*边框*/
/*下边距 默认mb就是10px*/
/* 不折行截字 */
/* 折行截字 */
/* 字号22的标题 - 调整行高 */
/* 嵌套小三角 */
/* 实体小三角 */
/* 过渡动画 默认0.3秒 */
/* 平面书封hover放大到1.1倍 */
/* 父容器清浮动 */
.book-img-text .book-mid-info p.author, .other-rec-wrap li .book-info .author {
    overflow: hidden;

    *zoom: 1;
}

/* 标题下边框线 */
.book-img-text dd {
    border-bottom: 1px solid #ebebeb;
}

.rank-table-list td {
    border-bottom: 1px solid #e6e6e6;
}

/* 排行榜 完本 全部作品 通用样式*/
/* 切换 视图列表按钮 */
.main-content-wrap {
    width: 954px;
}

.view-mode {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 12px;
    margin-top: 12px;
}
.view-mode .iconfont {
    float: left;
    color: #a6a6a6; 
    font-size: 16px;
}
.view-mode .iconfont:hover {
    color: #666;
}
.view-mode .iconfont.act {
    color: #262626;
}
.view-mode em {
    float: left;
    margin: 0 10px; 
    color: #e6e6e6;
    font: 14px/1 Arial;
}

/* 图文展示列表 */
.book-img-text {
    /* 书封面容器 */
    /* 书介绍信息 */
    /* 书统计信息-加入书架按钮 */
}
.book-img-text li {
    height: 162px;
    padding-top: 25px;
    border-top: 1px solid #e6e6e6;

    *vertical-align: bottom;
}
.book-img-text li:first-child {
    padding-top: 0;
    border-top: none;
}
.book-img-text .book-img-box, .book-img-text .book-mid-info {
    float: left;
}
.book-img-text .book-right-info {
    float: right;
}
.book-img-text .book-img-box {
    position: relative;
    z-index: 3;
    width: 102px;
    height: 136px;
    margin-right: 16px;
}
.book-img-text .book-img-box a {
    display: block;
    overflow: hidden;
    width: 102px;
    height: 136px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .35);
}
.book-img-text .book-img-box a img {
    width: 102px;
    height: 136px;
    -webkit-transition: -webkit-transform .4s ease-out;
       -moz-transition:    -moz-transform .4s ease-out;
        -ms-transition:     -ms-transform .4s ease-out;
            transition:         transform .4s ease-out;
}
.book-img-text .book-img-box a img:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.book-img-text .book-mid-info {
    width: 542px;
}
.book-img-text .book-mid-info h4 {
    overflow: hidden; 
    height: 24px;
    margin-bottom: 6px;
    font: 18px/24px 'PingFangSC-Regular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Microsoft YaHei', 'sans-serif';
}
.book-img-text .book-mid-info h4 cite.red-kw {
    color: #bf2c24;
}
.book-img-text .book-mid-info p {
    font-family: 'PingFangSC-Regular', '-apple-system', Simsun; 
    font-size: 12px;
}
.book-img-text .book-mid-info p.author {
    overflow: hidden; 
    height: 16px;
    margin-bottom: 15px;
}
.book-img-text .book-mid-info p.author img {
    float: left;
    width: 14px;
    height: 14px;
    margin: 1px 5px 0 0;
}
.book-img-text .book-mid-info p.author a {
    float: left;
    color: #a6a6a6;
    line-height: 16px;
}
.book-img-text .book-mid-info p.author a:hover {
    color: #ed4259;
}
.book-img-text .book-mid-info p.author a.name:hover {
    color: #262626;
}
.book-img-text .book-mid-info p.author i {
    float: left;
    margin: 0 3px;
    color: #a6a6a6; 
    font-family: 'PingFangSC-Regular', '-apple-system', Simsun;
    line-height: 16px;
}
.book-img-text .book-mid-info p.author em {
    float: left;
    margin: 1px 8px 0;
    color: #e6e6e6;
    font-family: Arial;
}
.book-img-text .book-mid-info p.author span {
    float: left;
    color: #a6a6a6;
    line-height: 16px;
}
.book-img-text .book-mid-info p.intro {
    overflow: hidden;
    height: 40px;
    margin-bottom: 12px;
    color: #666; 
    line-height: 20px;
}
.book-img-text .book-mid-info p.intro cite.red-kw {
    color: #bf2c24;
}
.book-img-text .book-mid-info p.update {
    line-height: 22px;
}
.book-img-text .book-mid-info p.update a {
    display: inline-block;
    color: #3f5a93; 
    vertical-align: middle;
}
.book-img-text .book-mid-info p.update a:hover {
    color: #2972cc;
}
.book-img-text .book-mid-info p.update a.red {
    color: #bf2c24;
}
.book-img-text .book-mid-info p.update a.red.def {
    cursor: default;
}
.book-img-text .book-mid-info p.update i {
    display: inline-block;
    margin: 0 5px;
    color: #a6a6a6; 
    font-family: Arial;
    vertical-align: middle;
}
.book-img-text .book-mid-info p.update em {
    margin: 0 5px;
    font-family: Arial;
}
.book-img-text .book-mid-info p.update b {
    display: inline-block;
    color: #b5b5b5; 
    font: 12px/22px 'PingFangSC-Regular', '-apple-system', Simsun;
    vertical-align: middle;
}
.book-img-text .book-mid-info p.update b.red {
    color: #bf2c24;
}
.book-img-text .book-mid-info p.update em, .book-img-text .book-mid-info p.update span {
    display: inline-block;
    color: #b5b5b5;
    vertical-align: middle;
}
.book-img-text .book-right-info {
    position: relative;
    width: 224px;
    height: 136px;
    margin-top: 5px;
}
.book-img-text .book-right-info .total {
    text-align: right;
}
.book-img-text .book-right-info .total p {
    margin-bottom: 6px;
    color: #666;
    font: 12px/16px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.book-img-text .book-right-info .total p span {
    margin-right: 3px;
    color: #262626;
    font: 12px/18px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.book-img-text .book-right-info .price {
    padding-top: 35px; 
    text-align: right;
}
.book-img-text .book-right-info .price p {
    margin-bottom: 5px;
    font: 18px/24px Arial;
}
.book-img-text .book-right-info .price p span {
    margin-right: 5px; 
    font-family: Arial;
}
.book-img-text .book-right-info .price s {
    display: block;
    color: #a6a6a6; 
    font: 12px/1 Arial;
}
.book-img-text .book-right-info .btn {
    position: absolute;
    bottom: 4px;
    left: 0;
    font-size: 0;

    *letter-spacing: -1;
}
.book-img-text .book-right-info .btn a {
    display: inline-block;
    width: 98px;
    height: 32px;
    border-width: 1px;
    border-style: solid;
    font: 14px/32px 'PingFangSC-Regular', '-apple-system', Simsun; 
    text-align: center;
    vertical-align: middle;
}
.book-img-text .book-right-info .btn a.red-btn {
    margin-right: 24px;
    border-color: #bf2c24;
    background: #bf2c24;
    color: white;
}
.book-img-text .book-right-info .btn a.red-btn:hover {
    border-color: #ed4259; 
    background: #ed4259;
}
.book-img-text .book-right-info .btn a.red-btn.disabled {
    border-color: #a6a6a6;
    background: none;
    color: #a6a6a6;
    cursor: default;
}
.book-img-text .book-right-info .btn a.blue-btn {
    border-color: #3f5a93;
    color: #3f5a93;
}
.book-img-text .book-right-info .btn a.blue-btn:hover {
    border-color: #2972cc;
    background: #f0f5ff; 
    color: #2972cc;
}
.book-img-text .book-right-info .btn a.in-shelf {
    border-color: #a6a6a6;
    color: #a6a6a6;
    cursor: default;
}

/* 全部作品-图文展示列表-一排2本书信息*/
.book-img-text dd {
    margin-bottom: 24px;
}

.book-img-text .all-img-list li {
    float: left;
    width: 477px;
}
.book-img-text .all-img-list li .book-mid-info {
    width: 344px;
}
.book-img-text .all-img-list li .book-mid-info p.author span {
    color: #a6a6a6;
}
.book-img-text .all-img-list li .book-mid-info p.update {
    color: inherit;
}
.book-img-text .all-img-list li .book-mid-info p.update span {
    color: #a6a6a6;
}
.book-img-text .all-img-list li .book-mid-info p.update span.red {
    color: #bf2c24;
}

/* 通用 - 排行序列数字样式 */
span.rank-tag {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-width: 14px;
    height: 22px;
    padding: 0 4px;
    background: #000;
    background: rgba(0, 0, 0, .6); 
    color: white;
    font: 16px/22px FZZCYSK;
    text-align: center;

    filter: alpha(opacity=60);
}
span.rank-tag cite {
    display: none;
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 5px solid #bf2c24;
    border-right: 11px solid transparent;
    border-bottom: 0 none;
    border-left: 11px solid transparent;
}
span.rank-tag.no1 {
    background: #bf2c24;
    line-height: 24px;

    filter: alpha(opacity=100);
}
span.rank-tag.no1 cite {
    display: block;
}
span.rank-tag.no2 {
    background: #e67225;
    line-height: 24px;

    filter: alpha(opacity=100);
}
span.rank-tag.no2 cite {
    display: block;
    border-top: 5px solid #e67225;
    border-right: 11px solid transparent;
    border-bottom: 0 none;
    border-left: 11px solid transparent;
}
span.rank-tag.no3 {
    background: #e6bf25;
    line-height: 24px;

    filter: alpha(opacity=100);
}
span.rank-tag.no3 cite {
    display: block;
    border-top: 5px solid #e6bf25;
    border-right: 11px solid transparent;
    border-bottom: 0 none;
    border-left: 11px solid transparent;
}

/* 文字小说列表，表格列表 */
.rank-table-list {
    text-align: left;
}
.rank-table-list tbody tr {
    transition: all .3s;
}
.rank-table-list tbody tr:hover {
    background: #f7f6f2;
}
.rank-table-list th {
    height: 20px;
    font: 700 12px/16px 'PingFangSC-Regular', '-apple-system', Simsun;
    text-align: left; 
    vertical-align: top;
}
.rank-table-list th.right {
    text-align: right;
}
.rank-table-list td {
    height: 40px;
    font: 14px/40px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.rank-table-list td.td-one a {
    color: #808080;
}
.rank-table-list td.td-one i.point {
    color: #808080;
}
.rank-table-list td .type {
    margin-left: -6px;
    color: #808080;
}
.rank-table-list td .type em {
    color: #808080;
    font-family: 'PingFangSC-Regular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Microsoft YaHei', 'sans-serif';
    font-size: 13px;
}
.rank-table-list td .go-sub-type em {
    color: #808080;
    font-family: 'PingFangSC-Regular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Microsoft YaHei', 'sans-serif';
    font-size: 13px;
}
.rank-table-list td .name {
    display: block;
    overflow: hidden;
    width: 138px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rank-table-list td .chapter {
    display: block;
    overflow: hidden;
    width: 280px;
    color: #666; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rank-table-list td .chapter:hover {
    color: #262626;
}
.rank-table-list td.month {
    font: 700 12px/40px Arail;
}
.rank-table-list td.date {
    color: #666;
    font: 12px/40px Arail; 
    text-align: right;
}
.rank-table-list td.time {
    color: #666;
    font: 12px/40px Arail;
}
.rank-table-list td .author {
    display: block;
    overflow: hidden;
    width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rank-table-list td .author:hover {
    color: inherit;
}
.rank-table-list td .author, .rank-table-list td .total {
    color: #999;
    font-size: 12px;
}
.rank-table-list td a:hover {
    color: #ed4259;
}
.rank-table-list td a.blue:hover {
    color: #2972cc;
}
.rank-table-list td .in-shelf, .rank-table-list td .gray:hover {
    color: #a6a6a6;
}

/* 通用序列 1-3有颜色 4之后无背景颜色*/
/* 热门新书表格，章节在第四列，1024时隐藏 */
@media (max-width: 1025px) {
    .hot-new col:nth-of-type(4), .hot-new th:nth-of-type(4), .hot-new tr td:nth-of-type(4) {
        display: none;
    }
}

.rank-box em.number, .rank-body em.number {
    display: block;
    position: relative; 
    height: 40px;
}
.rank-box em.number span.rank-tag, .rank-body em.number span.rank-tag {
    top: 10px;
    min-width: auto;
    height: 18px;
    background: none;
    color: #666;
    font-size: 14px;

    filter: alpha(opacity=100);
}
.rank-box em.number span.rank-tag.no1, .rank-box em.number span.rank-tag.no2, .rank-box em.number span.rank-tag.no3, .rank-body em.number span.rank-tag.no1, .rank-body em.number span.rank-tag.no2, .rank-body em.number span.rank-tag.no3 {
    margin-top: 0; 
    color: white;
    line-height: 22px;
}
.rank-box em.number span.rank-tag.no1, .rank-body em.number span.rank-tag.no1 {
    background: #bf2c24;
}
.rank-box em.number span.rank-tag.no2, .rank-body em.number span.rank-tag.no2 {
    background: #e67225;
}
.rank-box em.number span.rank-tag.no3, .rank-body em.number span.rank-tag.no3 {
    background: #e6bf25;
}
.rank-box em.number span.rank-tag cite, .rank-body em.number span.rank-tag cite {
    border-right: 8px solid transparent;
    border-bottom: 0 none;
    border-left: 8px solid transparent;
}

/* 操作栏 */
.tool-bar {
    position: relative;
    height: 40px;
    margin-bottom: 24px;
    padding: 0 12px;
    background: #f7f6f2;
}
.tool-bar .select-wrap {
    position: relative;
}
.tool-bar .sort-count {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 68px;
}
.tool-bar .sort-count .count-text {
    float: left;
    margin-right: 5px;
}
.tool-bar .sort-count i {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    color: #e6e6e6;
    font: 14px/18px Arial;
}
.tool-bar .sort-count .yiwen {
    float: left;
    position: relative;
    z-index: 1;
}
.tool-bar .sort-count .yiwen .iconfont {
    margin: 0 0 0;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    -webkit-text-stroke-width: 0;
}
.tool-bar .sort-count .hover-tip {
    display: none;
    position: absolute;
    z-index: 1;
    top: 36px;
    left: -125px;
    width: 230px;
    height: 28px;
    border: 1px solid #d2d2d2;
    background: #fff; 
    text-align: center;
}
.tool-bar .sort-count .hover-tip p {
    font: 12px/28px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.tool-bar .sort-count .hover-tip cite {
    position: absolute;
    top: -6px;
    left: 125px;
    width: 0;
    height: 0; 
    border-top: 0 none;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #d2d2d2;
    border-left: 5px solid transparent;
}
.tool-bar .sort-count .hover-tip cite b {
    position: absolute;
    top: 1px;
    right: -5px;
    width: 0;
    height: 0; 
    border-top: 0 none;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-left: 5px solid transparent;
}
.tool-bar .count-info {
    color: #a6a6a6;
    font: 12px/40px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.tool-bar .count-info span {
    margin: 0 5px;
    color: #262626;
    font: 12px/16px Arail;
}
.tool-bar .select-wrap a {
    display: inline-block;
    position: relative;
    height: 40px;
    margin-right: 12px;
    color: #a6a6a6;
    font: 12px/40px 'PingFangSC-Regular', '-apple-system', Simsun; 
    vertical-align: middle;
}
.tool-bar .select-wrap a:hover {
    color: #ed4259;
}
.tool-bar .select-wrap a cite {
    display: inline-block;
    margin: -1px 0 0 4px; 
    font-size: 12px;
    line-height: 40px;
    vertical-align: middle;
}
.tool-bar .select-wrap a.act {
    color: #ed4259; 
    font-weight: 700;
}
.tool-bar .select-wrap a.act cite {
    color: #ed4259; 
    font-weight: 400;
}
.tool-bar .select-wrap em {
    display: inline-block;
    margin-top: -3px;
    margin-right: 14px;
    color: #e6e6e6;
    font: 14px/18px Arial; 
    vertical-align: middle;
}
.tool-bar .select-wrap .lbf-checkbox {
    width: 12px;
    height: 12px;
    background: url(/qd/images/ico/qd_checkbox.0.1.png) no-repeat; 
    vertical-align: middle;
}
.tool-bar .select-wrap .lbf-checkbox.lbf-checkbox-hover {
    background-position: 0 -12px;
}
.tool-bar .select-wrap .lbf-checkbox.lbf-checkbox-checked {
    background-position: 0 -24px;
}
.tool-bar .select-wrap label {
    display: inline-block;
    color: #666;
    font: 12px/17px 'PingFangSC-Regular', '-apple-system', Simsun; 
    vertical-align: middle;

    *margin-left: 5px;
}
.tool-bar .select-wrap label:hover {
    color: #1a1a1a;
}

/* 右侧推广区 —— 搜索页、免费频道页右侧的更多内容 */
.other-rec-wrap {
    width: 216px;
}
.other-rec-wrap h3 {
    position: relative;
    z-index: 2;
    padding-bottom: 4px;
    border-bottom: 1px solid #666;
    font: 18px/21px FZZCYSK;
}
.other-rec-wrap li {
    position: relative;
    z-index: 1;
    height: 97px;
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
}
.other-rec-wrap li:last-of-type {
    border-bottom: none;
}
.other-rec-wrap li .img-box {
    float: left;
    position: relative;
    z-index: 2;
    width: 72px;
    height: 96px;
    margin-right: 12px;
}
.other-rec-wrap li .img-box a {
    display: block;
    overflow: hidden; 
    width: 72px;
    height: 96px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .35);
}
.other-rec-wrap li .img-box a img {
    width: 72px;
    height: 96px;
    -webkit-transition: -webkit-transform .3s ease-out;
       -moz-transition:    -moz-transform .3s ease-out;
        -ms-transition:     -ms-transform .3s ease-out;
            transition:         transform .3s ease-out;
}
.other-rec-wrap li .img-box a img:hover {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}
.other-rec-wrap li .img-box span {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 14px;
    padding: 0 3px 0 2px;
    border-radius: 0 5px 0 0;
    background: #ed4259;
    color: white; 
    font: 14px/14px Arial;
}
.other-rec-wrap li .book-info {
    position: absolute;
    z-index: 1;
    left: 90px;
    width: 130px;
}
.other-rec-wrap li .book-info h4 {
    overflow: hidden; 
    height: 21px;
    margin-bottom: 8px;
    font: 16px/21px 'PingFangSC-Regular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Microsoft YaHei', 'sans-serif';
}
.other-rec-wrap li .book-info .author {
    height: 16px;
    margin-bottom: 8px;
}
.other-rec-wrap li .book-info .author img {
    float: left;
    width: 14px;
    height: 14px;
    margin: 2px 5px 0 0;
}
.other-rec-wrap li .book-info .author a {
    float: left;
    color: #a6a6a6;
    font: 12px/16px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.other-rec-wrap li .book-info .author a:hover {
    color: inherit;
}
.other-rec-wrap li .book-info .intro {
    overflow: hidden; 
    height: 40px;
    color: #666;
    font: 12px/20px 'PingFangSC-Regular', '-apple-system', Simsun;
}

/* 暂无数据 */
.no-data {
    width: 300px;
    margin: 60px auto 30px;
    text-align: center;
}
.no-data .no-result-img {
    padding: 47px 0 13px;
}
.no-data h3 {
    font: 16px/24px 'PingFangSC-Regular', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Microsoft YaHei', 'sans-serif';
}
.no-data p {
    color: #a6a6a6; 
    font: 14px/24px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.no-data p .blue {
    margin: 0 5px;
}

/* 暂无数据的图片样式 */
.no-data-img {
    display: block;
    width: 243px;
    height: 100px;
    margin: 0 auto;
    background: url('/qd/images/common/big_wu.0.1.png') no-repeat;
}

.other-rec-wrap .no-data-img {
    width: 161px;
    height: 90px;
    background: url('/qd/images/common/wu.0.2.png') no-repeat;
}

/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .no-data-img {
        background: url('/qd/images/common/big_wu_3x.0.1.png') no-repeat;
        background-size: 100%;
    }
    .other-rec-wrap .no-data-img {
        background: url('/qd/images/common/wu_3x.0.1.png') no-repeat;
        background-size: 100%;
    }
    .tool-bar .select-wrap .lbf-checkbox {
        background: url(/qd/images/ico/qd_checkbox_3x.0.1.png) no-repeat;
        background-size: 100%;
    }
}

/* 1024 响应点样式变动 */
@media (max-width: 1025px) {
    .main-content-wrap {
        width: 744px;
    }
    .rank-list.mr0 {
        margin-right: 30px;
    }
    .book-img-text .all-img-list li {
        width: 372px;
    }
    .book-img-text .all-img-list li .book-mid-info {
        width: 240px;
    }
    .book-img-text .book-mid-info {
        width: 380px;
    }
    .book-img-text .book-mid-info p.author a.name {
        overflow: hidden;
        max-width: 50px;
        white-space: normal;
        text-overflow: ellipsis;
    }
}
