@charset 'UTF-8';
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/* 居中容器 */
/*边框*/
/*下边距 默认mb就是10px*/
/* 不折行截字 */
/* 折行截字 */
/* 字号22的标题 - 调整行高 */
/* 嵌套小三角 */
/* 实体小三角 */
/* 过渡动画 默认0.3秒 */
/* 平面书封hover放大到1.1倍 */
/* 父容器清浮动 */
.fans-list h3, .fans-list li {
    overflow: hidden;

    *zoom: 1;
}

/* 标题下边框线 */
.rank-header .rank-toolbar-wrap p.line, .rank-tab-box {
    border-bottom: 1px solid #ebebeb;
}

.rank-nav-list p.line {
    border-bottom: 1px solid #e6e6e6;
}

.rank-box {
    padding: 20px 0 0;
}

.rank-nav-list {
    width: 216px;
    margin-right: 30px;
}
.rank-nav-list ul li {
    margin-bottom: 20px; 
    font: 14px/1 'PingFangSC-Regular', '-apple-system', Simsun;
}
.rank-nav-list ul li.act a {
    color: #ed4259;
    font-weight: 700;
}
.rank-nav-list ul li.act cite {
    display: inline-block;
    width: 0;
    height: 0; 
    margin: -3px 0 0 8px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #ed4259;
    vertical-align: middle;
}
.rank-nav-list p.line {
    margin: 17px 0;
}
.rank-nav-list h4 {
    margin-bottom: 18px;
    font-family: 'PingFangSC-Regular', '-apple-system', Simsun;
}

/* 榜单内容 */
.rank-header {
    margin-bottom: 24px;
}
.rank-header h3 {
    margin-bottom: 15px; 
    font: 26px/26px 'FZZCYSK';
}
.rank-header h3 span {
    margin-left: 10px;
    color: #666;
    font-family: 'PingFangSC-Regular', '-apple-system', Simsun; 
    font-size: 14px;
}
.rank-header h3 span em {
    margin-right: 5px; 
    font-family: Arial;
}
.rank-header h3 .link {
    float: right;
    margin-top: 12px;
    color: #666; 
    font: 12px/1 'PingFangSC-Regular', '-apple-system', Simsun;
}
.rank-header h3 .link:hover {
    color: inherit;
}
.rank-header .type-list {
    height: 40px;
    padding-left: 12px;
    background: #f7f6f2;
    font-size: 0;
}
.rank-header .type-list a {
    color: #a6a6a6;
    font: 12px/40px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.rank-header .type-list a.act {
    color: #ed4259;
    font-weight: 700;
}
.rank-header .type-list a:hover {
    color: #ed4259;
}
.rank-header .type-list a.black {
    color: #262626;
}
.rank-header .type-list a.black:hover {
    color: #ed4259;
}
.rank-header .type-list i {
    display: inline-block;
    margin: 0 5px 0 12px;
    margin-top: -2px;
    color: #e6e6e6;
    font: 14px/35px Arial; 
    vertical-align: middle;
}
.rank-header .type-list em {
    margin: 0 10px;
    color: #a6a6a6;
    font: 14px/40px Arial;
}
.rank-header .rank-toolbar-wrap {
    min-height: 80px;
    background: #f7f6f2;
}
.rank-header .rank-toolbar-wrap.notimebox {
    min-height: 40px;
}
.rank-header .rank-toolbar-wrap .tool-box {
    position: relative;
    padding: 0 12px;
}
.rank-header .rank-toolbar-wrap .type-list {
    padding-left: 0;
}
.rank-header .rank-toolbar-wrap .btn-box {
    min-height: 37px;
}
.rank-header .rank-toolbar-wrap .lbf-combobox {
    margin-top: 5px;
}
.rank-header .rank-toolbar-wrap .lbf-combobox .lbf-combobox-icon {
    top: 12px;
    right: 15px;
    border-top: 4px solid #a6a6a6;
    border-right: 4px solid transparent;
    border-bottom: 0 none;
    border-left: 4px solid transparent;
}
.rank-header .rank-toolbar-wrap .lbf-combobox .lbf-combobox-label {
    height: 18px;
    background: none; 
    line-height: 18px;
}
.rank-header .rank-toolbar-wrap .lbf-combobox .lbf-combobox-label.lbf-dropdown-on {
    background: white;
}

/* 榜单区域 */
.rank-body h3.wrap-title .more {
    display: inline;
}

/* rank-list 此处的样式和首页的rank-list有细节上的样式差别 */
.rank-list {
    height: 450px;
}
.rank-list ul li {
    margin-top: -1px;
}
.rank-list ul li .name-box {
    border-top: 1px solid #e6e6e6;
    border-bottom: none;
}
.rank-list .tab-title {
    position: relative;
}
.rank-list .tab-title .tab-wrap {
    position: absolute;
    top: 1px;
    right: 0;
}
.rank-list .tab-title .tab-wrap a {
    color: #a6a6a6;
    font: 12px/16px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.rank-list .tab-title .tab-wrap a.act, .rank-list .tab-title .tab-wrap a:hover {
    color: #ed4259;
}
.rank-list .tab-title .tab-wrap em {
    margin: 0 3px;
    color: #a6a6a6;
    font: 12px/16px Arial;
}

/* 社区排行 */
.rank-tab-box {
    height: 40px;
    background: #f7f6f2;
}
.rank-tab-box a {
    display: inline-block;
    padding: 0 12px;
    font: 14px/40px 'PingFangSC-Regular', '-apple-system', Simsun; 
    text-align: center;
}
.rank-tab-box a.act {
    height: 39px;
    border-bottom: 2px solid #ed4259; 
    color: #ed4259;
    font-weight: 700;
}

/* 粉丝列表 */
.fans-list {
    float: left;
    margin-right: 30px;
}
.fans-list.mr0 {
    margin-right: 0;
}
.fans-list h3 {
    margin-bottom: 5px;
}
.fans-list h3 b {
    float: left;
    font: 700 12px/16px 'PingFangSC-Regular', '-apple-system', Simsun;
}
.fans-list h3 b.col-1 {
    margin-right: 15px;
}
.fans-list h3 b.col-2 {
    margin-right: 28px;
}
.fans-list h3 b.col-3 {
    float: right;
}
.fans-list li {
    border-top: 1px solid #e6e6e6;
}
.fans-list li:first-child {
    border-top: none;
}
.fans-list li .number, .fans-list li a {
    float: left;
}
.fans-list li .number {
    margin-right: 40px;
}
.fans-list li a {
    overflow: hidden;
    width: 100px;
    font: 14px/40px 'PingFangSC-Regular', '-apple-system', Simsun;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fans-list li i {
    float: right;
    overflow: hidden;
    max-width: 64px;
    color: #a6a6a6;
    font: 12px/40px Arail;
    white-space: normal;
    text-overflow: ellipsis;
}

@-moz-document url-prefix() {
    .fans-list {
        margin-right: 14px;
    }
}

.rank-view-list .book-img-text li:last-of-type {
    margin-bottom: 0; 
    border-bottom: none;
}

.fans-data-list {
    padding-bottom: 60px;
}

/* 无数据样式 */
.no-rank-data {
    padding: 126px 0 0;
    text-align: center;
}
.no-rank-data span {
    display: block;
    width: 161px;
    height: 83px;
    margin: 0 auto 10px;
    background: url(/qd/images/rank/nodata.0.1.png) no-repeat;
}
.no-rank-data p {
    color: #808080;
}

/* 1024时响应点 */
@media (max-width: 1025px) {
    .fans-list {
        margin-bottom: 22px;
    }
    .rank-header .type-list em {
        margin: 0 5px;
    }
}

/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .no-rank-data span {
        background: url(/qd/images/rank/nodata_3x.0.1.png) no-repeat;
        background-size: 100%;
    }
}
