
            <div class="rank-header">
                   <h3>人气榜单<span><em><%= data['updTime'] %></em>更新</span></h3>
                <div class="type-list">
                    <p>
                        <a data-chanid="-1" <%=actindex %>  href="javascript:;" >全部分类</a><em>&#183;</em>
                        <a data-chanid="21" <%=actxuanhuan %>  href="javascript:;">玄幻</a><em>&#183;</em>
                        <a data-chanid="1" <%=actqihuan %>  href="javascript:;">奇幻</a><em>&#183;</em>
                        <a data-chanid="2" <%=actwuxia %>  href="javascript:;">武侠</a><em>&#183;</em>
                        <a data-chanid="22" <%=actxianxia %>  href="javascript:;">仙侠</a><em>&#183;</em>
                        <a  data-chanid="4" <%=actdushi %>  href="javascript:;">都市</a><em>&#183;</em>
                        <a data-chanid="15" <%=actzhichang %>  href="javascript:;">职场</a><em>&#183;</em>
                        <a data-chanid="6" <%=actjunshi %>  href="javascript:;">军事</a><em>&#183;</em>
                        <a data-chanid="5" <%=actlishi %>  href="javascript:;">历史</a><em>&#183;</em>
                        <a data-chanid="7" <%=actyouxi %>  href="javascript:;">游戏</a><em>&#183;</em>
                        <a data-chanid="8" <%=actjingji %>  href="javascript:;">竞技</a><em>&#183;</em>
                        <a data-chanid="9" <%=actkehuan %>  href="javascript:;">科幻</a><em>&#183;</em>
                        <a data-chanid="10" <%=actlingyi %>  href="javascript:;">灵异</a><em>&#183;</em>
                        <a data-chanid="12" <%=acterciyuan %>  href="javascript:;">二次元</a>
                    </p>
                </div>
            </div>