@charset "UTF-8";
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/* 居中容器 */
/*边框*/
/*下边距 默认mb就是10px*/
/* 不折行截字 */
/* 折行截字 */
/* 字号22的标题 - 调整行高 */
/* 嵌套小三角 */
/* 实体小三角 */
/* 过渡动画 默认0.3秒 */
/* 平面书封hover放大到1.1倍 */
/* 父容器清浮动 */
.focus-wrap .notice-wrap .attention, .edit-rec-wrap .edit-rec-list, .hot-classify-wrap .hot-book-list dd, .score-list li {
  overflow: hidden;
  *zoom: 1; }

/* 标题下边框线 */
.update-wrap .update-list-wrap .update-tab {
  border-bottom: 1px solid #666; }

.edit-rec-wrap .edit-rec p.line, .hot-classify-wrap li .book-wrap.bd, .update-wrap .update-list-wrap .update-list table td {
  border-bottom: 1px solid #EBEBEB; }

.edit-rec-wrap .focus-today, .center-book-list .line, .score-list li, .update-wrap .update-rec-list ul li, .update-wrap .god-wrap .god-list ul li {
  border-bottom: 1px solid #E6E6E6; }

/* 焦点图一栏 */
.focus-wrap {
  height: 410px; }
  .focus-wrap .focus-box {
    width: 748px; }
    .focus-wrap .focus-box .focus-slider {
      width: 100%;
      height: 250px; }
      .focus-wrap .focus-box .focus-slider .lbf-slides {
        width: 100%;
        position: relative;
        z-index: 1;
        height: 250px;
        overflow: hidden; }
        .focus-wrap .focus-box .focus-slider .lbf-slides .la-ball-pulse {
          position: absolute;
          left: 50%;
          margin-left: -20px;
          top: 100px; }
        .focus-wrap .focus-box .focus-slider .lbf-slides .more {
          display: none;
          position: absolute;
          z-index: 3;
          right: 0;
          bottom: 0;
          width: 36px;
          height: 36px;
          background: #333;
          filter: alpha(opacity=90);
          background: rgba(0, 0, 0, 0.7); }
          .focus-wrap .focus-box .focus-slider .lbf-slides .more .point {
            padding: 16px 0 0 10px; }
        .focus-wrap .focus-box .focus-slider .lbf-slides li {
          display: none;
          position: absolute;
          top: -49px;
          left: 0; }
          .focus-wrap .focus-box .focus-slider .lbf-slides li a, .focus-wrap .focus-box .focus-slider .lbf-slides li img {
            display: block;
            width: 748px; }
          .focus-wrap .focus-box .focus-slider .lbf-slides li#item1 {
            display: block; }
        .focus-wrap .focus-box .focus-slider .lbf-slides .thumb {
          position: absolute;
          z-index: 2;
          left: -1px;
          bottom: 0;
          width: 102%; }
          .focus-wrap .focus-box .focus-slider .lbf-slides .thumb a {
            width: 18.4%;
            padding: 0 5px;
            height: 36px;
            font: 14px/36px "PingFangSC-Regular", Simsun;
            border: none;
            border-left: 1px solid #AAA;
            border-right: 1px solid #AAA;
            text-align: center;
            white-space: normal;
            color: white;
            background: #333;
            filter: alpha(opacity=90);
            background: rgba(0, 0, 0, 0.7);
            zoom: 1; }
            .focus-wrap .focus-box .focus-slider .lbf-slides .thumb a.active {
              background: #ED4259;
              font-weight: 700; }
            .focus-wrap .focus-box .focus-slider .lbf-slides .thumb a .yxtd {
              display: inline-block;
              margin: -3px 5px 0 0;
              font-size: 16px;
              color: #FFEEA8;
              vertical-align: middle;
              opacity: .9;
              filter: alpha(opacity=90);
              -webkit-text-stroke-width: 0; }
            .focus-wrap .focus-box .focus-slider .lbf-slides .thumb a.game-link {
              color: #FFEEA8; }
    .focus-wrap .focus-box .focus-img li {
      position: relative;
      z-index: 1;
      float: left;
      width: 33.33%;
      height: 160px;
      overflow: hidden;
      text-align: center;
      background: url("/qd/images/index/focus_img_bg.png") no-repeat; }
      .focus-wrap .focus-box .focus-img li.middle {
        background: #F7F6F2; }
      .focus-wrap .focus-box .focus-img li img {
        display: block;
        margin: 19px auto 0; }
      .focus-wrap .focus-box .focus-img li:hover {
        z-index: 2;
        transition: all .5s;
        box-shadow: 0 5px 16px #D9D4C7; }
  .focus-wrap .notice-wrap .notice {
    position: relative;
    width: 214px;
    height: 248px;
    text-align: center;
    background: #FCFCFA;
    border: 1px solid #E6E6E6;
    margin-bottom: 10px; }
    .focus-wrap .notice-wrap .notice .more {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      background: #A6A6A6;
      overflow: hidden; }
      .focus-wrap .notice-wrap .notice .more em {
        padding: 11px 0 0 3px; }
    .focus-wrap .notice-wrap .notice h3 {
      width: 160px;
      height: 16px;
      margin: 0 auto 8px;
      padding-top: 12px;
      font: 700 16px/1 "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
      overflow: hidden; }
    .focus-wrap .notice-wrap .notice .notice-list {
      padding-left: 5px; }
      .focus-wrap .notice-wrap .notice .notice-list li {
        overflow: hidden;
        height: 25px;
        margin-bottom: 5px;
        font: 14px/25px "PingFangSC-Regular", Simsun;
        text-align: left; }
        .focus-wrap .notice-wrap .notice .notice-list li a {
          display: block;
          width: 196px;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis; }
          .focus-wrap .notice-wrap .notice .notice-list li a i {
            font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif"; }
          .focus-wrap .notice-wrap .notice .notice-list li a em {
            display: inline-block;
            width: 38px;
            height: 16px;
            margin: -2px 10px 0 8px;
            font: 12px/16px "PingFangSC-Regular", Simsun;
            text-align: center;
            vertical-align: middle;
            color: #FFF;
            background: #BF2C24;
            *margin: 1px 10px 0 8px;
            *cursor: pointer; }
        .focus-wrap .notice-wrap .notice .notice-list li.color-type_1 a {
          color: #BF2C24; }
          .focus-wrap .notice-wrap .notice .notice-list li.color-type_1 a:hover {
            color: #ED4259; }
  .focus-wrap .notice-wrap .attention .word_slide {
    position: relative;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    color: #666; }
    .focus-wrap .notice-wrap .attention .word_slide li {
      display: none;
      position: absolute;
      left: 33px; }
  .focus-wrap .notice-wrap .attention em {
    position: absolute;
    left: 12px;
    top: 1px;
    top: 3px \0 ;
    width: 16px;
    height: 16px;
    font-size: 16px;
    color: #BF2C24;
    overflow: hidden; }
  .focus-wrap .notice-wrap .attention a {
    float: left;
    text-align: left;
    width: 170px;
    height: 22px;
    font: 14px/22px "PingFangSC-Regular", Simsun;
    overflow: hidden; }
    .focus-wrap .notice-wrap .attention a:hover {
      color: #ED4259; }
  .focus-wrap .notice-banner {
    position: relative;
    width: 216px;
    height: 150px; }
    .focus-wrap .notice-banner .la-ball-pulse {
      position: absolute;
      left: 85px;
      top: 68px; }
    .focus-wrap .notice-banner a, .focus-wrap .notice-banner img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
      width: 216px;
      height: 150px; }
    .focus-wrap .notice-banner a {
      background: url(about:blank); }
    .focus-wrap .notice-banner embed {
      position: absolute;
      z-index: 1;
      width: 216px;
      height: 150px; }

:root .notice .more i {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  background: #FCFCFA;
  -webkiet-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

/* 第二屏 排行榜 */
.index-two-wrap .book-list ul {
  height: 503px;
  overflow: hidden; }

/* 编辑推荐 */
.edit-rec-wrap {
  width: 708px; }
  .edit-rec-wrap h3 {
    width: 100%; }
  .edit-rec-wrap .edit-rec {
    width: 736px;
    height: 305px;
    position: relative;
    z-index: 2;
    overflow: hidden; }
    .edit-rec-wrap .edit-rec p.line {
      position: absolute;
      z-index: 1;
      top: 164px;
      *top: 144px;
      left: 0;
      width: 708px; }
  .edit-rec-wrap .focus-today {
    height: 137px;
    padding: 30px 0;
    /* 编辑推荐 slides */ }
    .edit-rec-wrap .focus-today .slider-wrap {
      position: relative;
      width: 277px;
      height: 124px;
      margin-right: 38px; }
    .edit-rec-wrap .focus-today .carousel {
      position: relative;
      padding-left: 104px; }
      .edit-rec-wrap .focus-today .carousel .la-ball-pulse {
        position: absolute;
        z-index: 300;
        top: 52px;
        left: 130px; }
      .edit-rec-wrap .focus-today .carousel .slides {
        display: none;
        position: relative; }
        .edit-rec-wrap .focus-today .carousel .slides .slideItem {
          position: absolute;
          cursor: pointer;
          overflow: visible; }
          .edit-rec-wrap .focus-today .carousel .slides .slideItem img {
            height: 100%;
            box-shadow: 0 1px 3px #999; }
      .edit-rec-wrap .focus-today .carousel .buttonNav {
        position: absolute;
        top: 142px;
        left: 98px;
        z-index: 10; }
        .edit-rec-wrap .focus-today .carousel .buttonNav .bullet {
          float: left;
          width: 8px;
          height: 8px;
          margin: 0 7px 0 0;
          border-radius: 100%;
          background: #DDD;
          cursor: pointer; }
        .edit-rec-wrap .focus-today .carousel .buttonNav .bulletActive {
          margin-top: -2px;
          background: none;
          border: 2px solid #ED4259; }
    .edit-rec-wrap .focus-today .description {
      position: absolute;
      top: 0;
      left: 316px;
      width: 390px; }
      .edit-rec-wrap .focus-today .description h3 {
        overflow: hidden;
        width: 380px;
        height: 24px;
        margin-top: -5px;
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 9px; }
        .edit-rec-wrap .focus-today .description h3 a {
          color: #1A1A1A; }
          .edit-rec-wrap .focus-today .description h3 a:hover {
            color: #ED4259; }
      .edit-rec-wrap .focus-today .description p {
        overflow: hidden;
        height: 72px;
        margin-bottom: 7px;
        font: 14px/24px "PingFangSC-Regular", Simsun;
        color: #666; }
      .edit-rec-wrap .focus-today .description .desc-wrap {
        display: none; }
        .edit-rec-wrap .focus-today .description .desc-wrap.act {
          display: block; }
  .edit-rec-wrap .edit-rec-list {
    padding: 27px 0 28px; }
    .edit-rec-wrap .edit-rec-list li {
      float: left;
      width: 154px;
      margin-right: 30px; }
      .edit-rec-wrap .edit-rec-list li .tag {
        height: 17px;
        line-height: 17px;
        padding: 1px 4px;
        text-align: center;
        background: #F7F6F1;
        overflow: hidden; }
        .edit-rec-wrap .edit-rec-list li .tag a {
          display: inline-block;
          max-width: 114px;
          height: 17px;
          margin: -3px 0 0;
          vertical-align: middle;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          font-family: "PingFangSC-Regular", Simsun;
          font-weight: 700;
          color: #1A1A1A; }
          .edit-rec-wrap .edit-rec-list li .tag a:hover {
            color: #ED4259; }
        .edit-rec-wrap .edit-rec-list li .tag i {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          font-family: Arial;
          color: #666; }
          .edit-rec-wrap .edit-rec-list li .tag i.syh {
            margin-top: -6px; }
          .edit-rec-wrap .edit-rec-list li .tag i.xyh {
            margin-bottom: -1px; }
      .edit-rec-wrap .edit-rec-list li h3 {
        overflow: hidden;
        height: 20px;
        padding-top: 6px; }
        .edit-rec-wrap .edit-rec-list li h3 a {
          color: #1A1A1A; }
          .edit-rec-wrap .edit-rec-list li h3 a:hover {
            color: #ED4259; }
          .edit-rec-wrap .edit-rec-list li h3 a span {
            font: 14px/20px "PingFangSC-Regular", Simsun;
            vertical-align: middle; }
        .edit-rec-wrap .edit-rec-list li h3 b {
          font: 14px/20px "PingFangSC-Regular", Simsun;
          display: inline-block;
          vertical-align: middle;
          max-width: 124px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .edit-rec-wrap .edit-rec-list li em {
        display: block;
        overflow: hidden;
        height: 21px;
        padding: 2px 0 4px;
        color: #BF2C24; }
        .edit-rec-wrap .edit-rec-list li em cite {
          margin-right: 3px;
          font-family: Arial;
          font-size: 14px;
          vertical-align: middle; }
        .edit-rec-wrap .edit-rec-list li em i {
          font-family: "PingFangSC-Regular", Simsun;
          font-size: 12px;
          vertical-align: middle; }
      .edit-rec-wrap .edit-rec-list li p {
        overflow: hidden;
        height: 36px;
        font-size: 12px;
        font-family: "PingFangSC-Regular", Simsun;
        line-height: 20px;
        color: #666; }

.banner-wrap {
  position: relative;
  overflow: hidden;
  height: 100px; }
  .banner-wrap a {
    display: block;
    position: absolute;
    width: 1200px;
    height: 100px;
    left: 50%;
    margin-left: -600px;
    z-index: 20;
    background: url(about:blank); }
  .banner-wrap img {
    display: block;
    width: 1200px;
    height: 100px; }
  .banner-wrap embed {
    position: absolute;
    width: 1200px;
    height: 100px;
    z-index: 1; }

.rank-list-row {
  *position: relative;
  width: 101%;
  height: 420px;
  overflow: hidden; }

.rank-wrap .load-more {
  position: relative;
  display: block;
  height: 19px;
  margin-bottom: 20px;
  font: 14px/1 "PingFangSC-Regular", Simsun;
  color: #3F5A93;
  width: 70px;
  margin: 0 auto; }
  .rank-wrap .load-more span {
    position: absolute;
    top: 5px;
    right: -3px;
    border-top: 5px solid #3F5A93;
    border-right: 5px solid transparent;
    border-bottom: 0 none;
    border-left: 5px solid transparent;
    width: 0;
    height: 0; }
    .rank-wrap .load-more span i {
      position: absolute;
      top: -7px;
      right: -5px;
      border-top: 5px solid #FFF;
      border-right: 5px solid transparent;
      border-bottom: 0 none;
      border-left: 5px solid transparent;
      width: 0;
      height: 0; }
    .rank-wrap .load-more span.up {
      border-top: 0 none;
      border-bottom: 5px solid #3F5A93; }
      .rank-wrap .load-more span.up i {
        top: 2px;
        border-top: 0 none;
        border-bottom: 5px solid #FFF; }

/* 热门作品 */
.hot-work-box {
  width: 216px;
  margin-right: 30px; }
  .hot-work-box h3.wrap-title {
    padding-bottom: 8px;
    line-height: 30px;
    font-size: 22px;
    overflow: hidden; }
  .hot-work-box .hot-work-info {
    height: 395px;
    background: #F7F5F0;
    overflow: hidden; }
  .hot-work-box .read-btn {
    margin: 0 auto; }
  .hot-work-box .hot-work-slide {
    padding: 24px 0;
    margin-bottom: 185px; }

.hot-classify-wrap {
  width: 954px;
  height: 391px;
  padding-top: 4px; }
  .hot-classify-wrap li {
    position: relative;
    z-index: 1;
    float: left;
    width: 216px;
    margin: 0 30px 45px 0; }
    .hot-classify-wrap li .book-wrap {
      padding: 0 0 5px; }
      .hot-classify-wrap li .book-wrap.bd {
        margin-bottom: 13px; }
      .hot-classify-wrap li .book-wrap .book-info {
        width: 144px; }
        .hot-classify-wrap li .book-wrap .book-info .digital {
          height: auto; }
          .hot-classify-wrap li .book-wrap .book-info .digital em {
            font-size: 14px; }
    .hot-classify-wrap li.erciyuan .hot-book-list dd a.classify {
      width: 70px; }
    .hot-classify-wrap li.erciyuan .hot-book-list dd a.name {
      width: 150px; }
    .hot-classify-wrap li.mr0 {
      margin-right: 0; }
  .hot-classify-wrap h3.wrap-title {
    position: relative;
    overflow: visible;
    margin-bottom: 5px; }
    .hot-classify-wrap h3.wrap-title .icon-tag {
      position: absolute;
      top: -10px;
      right: -1px;
      background-image: url(/qd/images/index/hot-classify-tag_1x.png); }
      .hot-classify-wrap h3.wrap-title .icon-tag.ds {
        top: -8px;
        right: -2px;
        width: 46px;
        height: 36px;
        background-position: 0 0; }
      .hot-classify-wrap h3.wrap-title .icon-tag.ecy {
        top: -8px;
        right: 0;
        width: 52px;
        height: 40px;
        background-position: 0 -36px; }
      .hot-classify-wrap h3.wrap-title .icon-tag.jsls {
        top: -8px;
        width: 47px;
        height: 43px;
        background-position: 0 -76px; }
      .hot-classify-wrap h3.wrap-title .icon-tag.khly {
        top: -6px;
        width: 53px;
        height: 43px;
        background-position: 0 -119px; }
      .hot-classify-wrap h3.wrap-title .icon-tag.wxxx {
        right: -2px;
        width: 45px;
        height: 39px;
        background-position: 0 -162px; }
      .hot-classify-wrap h3.wrap-title .icon-tag.xhqh {
        width: 41px;
        height: 39px;
        background-position: 0 -201px; }
      .hot-classify-wrap h3.wrap-title .icon-tag.yxjj {
        top: -6px;
        right: -6px;
        width: 52px;
        height: 42px;
        background-position: 0 -240px; }
  .hot-classify-wrap .hot-book-list dd a {
    float: left;
    margin-left: -8px;
    font: 14px/32px "PingFangSC-Regular", Simsun;
    color: #1A1A1A; }
    .hot-classify-wrap .hot-book-list dd a:hover {
      color: #ED4259; }
    .hot-classify-wrap .hot-book-list dd a.classify {
      overflow: hidden;
      width: 56px;
      height: 32px;
      margin-right: 5px;
      color: #808080; }
      .hot-classify-wrap .hot-book-list dd a.classify:hover {
        color: #ED4259; }
      .hot-classify-wrap .hot-book-list dd a.classify em {
        font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
        font-size: 13px; }
    .hot-classify-wrap .hot-book-list dd a.name {
      overflow: hidden;
      width: 168px;
      height: 32px; }

/* 左边轮播公用容器 */
.left-wrap {
  width: 954px; }
  .left-wrap .wrap-title {
    font-size: 22px;
    line-height: 27px;
    margin-top: -2px;
    padding-bottom: 6px; }
    .left-wrap .wrap-title span {
      display: inline-block;
      vertical-align: middle;
      margin-top: 4px;
      margin-left: 8px;
      font: 12px/20px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
      color: #3F5A93; }
  .left-wrap:hover .more {
    display: inline; }
  .left-wrap .left-info {
    width: 216px;
    height: 395px;
    background: #F7F5F0;
    overflow: hidden; }
    .left-wrap .left-info .read-btn {
      margin: 0 auto; }
    .left-wrap .left-info .slide-box {
      position: relative;
      z-index: 1;
      padding: 40px 0 0 48px;
      height: 120px; }
      .left-wrap .left-info .slide-box .la-ball-pulse {
        position: absolute;
        z-index: 300;
        left: 88px;
        top: 70px; }

/* 完本精品 列表 */
.center-book-list {
  position: relative;
  width: 738px; }
  .center-book-list .line {
    position: absolute;
    left: 30px;
    width: 708px; }
    .center-book-list .line.line1 {
      top: 138px;
      *top: 115px; }
    .center-book-list .line.line2 {
      top: 276px;
      *top: 253px; }
  .center-book-list ul {
    position: relative;
    width: 738px;
    height: 375px;
    overflow: hidden;
    padding: 20px 0 0 30px;
    *height: 380px; }
    .center-book-list ul li {
      float: left;
      width: 339px;
      height: 96px;
      margin: 0 30px 43px 0; }
      .center-book-list ul li.mr0 {
        margin-right: 0; }
      .center-book-list ul li.mb0 {
        margin-bottom: 0; }
      .center-book-list ul li .book-img, .center-book-list ul li .book-info {
        float: left; }
      .center-book-list ul li .book-info {
        width: 255px; }
        .center-book-list ul li .book-info h3 {
          overflow: hidden;
          height: 21px;
          margin-top: -3px;
          font: 16px/21px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
          margin-bottom: 8px; }
          .center-book-list ul li .book-info h3 a {
            color: #1A1A1A; }
            .center-book-list ul li .book-info h3 a:hover {
              color: #ED4259; }
        .center-book-list ul li .book-info p {
          overflow: hidden;
          height: 40px;
          font: 12px/20px "PingFangSC-Regular", Simsun;
          color: #666;
          margin-bottom: 10px; }
      .center-book-list ul li.no-img {
        width: 30.5%;
        margin-right: 20px; }
        .center-book-list ul li.no-img .book-info {
          width: 216px; }

/* 右侧栏容器 */
.right-wrap {
  position: relative;
  z-index: 1;
  width: 216px; }
  .right-wrap .rank-list .book-list li.unfold {
    height: auto; }
  .right-wrap .book-wrap .book-info p.digital {
    height: 20px;
    padding: 4px 0 0; }
    .right-wrap .book-wrap .book-info p.digital em {
      font-size: 14px; }

.score-list li {
  *vertical-align: bottom;
  border-bottom: none;
  /*
   * 为了ejs模板不输出最后一个li加class，改为上边框线，第一个无上边线
   * 3d书封的阴影不能被遮掉，所以父容器不能用overflow。
   */
  border-top: 1px solid #E6E6E6; }
  .score-list li.unfold {
    border-top: none; }
.score-list .book-wrap .book-info h3 {
  font: 14px/18px "PingFangSC-Regular", Simsun; }
.score-list .book-wrap .book-info h4 {
  font-size: 16px; }
.score-list .book-wrap .book-info .score {
  padding: 2px 0;
  height: 16px;
  font: 12px/16px "PingFangSC-Regular", Simsun;
  color: #BF2C24;
  overflow: hidden; }
  .score-list .book-wrap .book-info .score cite {
    margin: 0 3px; }

/* 评分列表 */
.score-list li.unfold {
  overflow: visible;
  height: 114px; }
.score-list li .name {
  float: left;
  width: 160px;
  height: 31px;
  font: 14px/31px "PingFangSC-Regular", Simsun;
  overflow: hidden; }
.score-list li i {
  float: right;
  text-align: right;
  width: 46px;
  height: 16px;
  margin-top: 8px;
  font-size: 12px;
  font-family: "PingFangSC-Regular", Simsun;
  color: #A6A6A6;
  overflow: hidden; }

/* user图标状态栏 */
.state-box {
  font-size: 12px;
  font-family: "PingFangSC-Regular", Simsun;
  line-height: 18px; }
  .state-box img {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -1px 5px 0 0;
    vertical-align: middle; }
  .state-box .author {
    display: block;
    overflow: hidden;
    height: 18px;
    padding-right: 10px;
    margin-top: 2px;
    color: #A6A6A6; }
    .state-box .author:hover {
      color: inherit; }
  .state-box i, .state-box span {
    float: right;
    padding: 0 3px;
    text-align: center;
    overflow: hidden; }
  .state-box span {
    max-width: 62px;
    height: 18px;
    border: 1px solid #DF9591;
    color: #BF2C24; }
  .state-box i {
    max-width: 52px;
    height: 18px;
    margin-right: 8px;
    color: #A6A6A6;
    border: 1px solid #BFBFBF; }

/* 最近更新 */
.update-wrap .wrap-title {
  font-size: 22px;
  line-height: 27px;
  margin-top: -2px;
  padding-bottom: 6px; }
  .update-wrap .wrap-title span {
    display: inline-block;
    vertical-align: middle;
    margin-top: 4px;
    margin-left: 8px;
    font: 12px/20px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
    color: #3F5A93; }
.update-wrap .update-list-wrap {
  height: 660px;
  overflow: hidden; }
.update-wrap .wrap-title {
  overflow: hidden;
  width: 216px;
  height: 24px; }
.update-wrap .update-rec-list, .update-wrap .god-wrap .god-list {
  width: 216px;
  height: 632px;
  background: #F7F5F0;
  overflow: hidden; }
  .update-wrap .update-rec-list ul, .update-wrap .god-wrap .god-list ul {
    width: 192px;
    margin: 0 auto; }
    .update-wrap .update-rec-list ul li, .update-wrap .god-wrap .god-list ul li {
      height: 210px; }
      .update-wrap .update-rec-list ul li.bd0, .update-wrap .god-wrap .god-list ul li.bd0 {
        border-bottom: none; }
  .update-wrap .update-rec-list .book-wrap, .update-wrap .god-wrap .god-list .book-wrap {
    padding: 25px 0 12px; }
    .update-wrap .update-rec-list .book-wrap .book-info, .update-wrap .god-wrap .god-list .book-wrap .book-info {
      margin-top: 26px; }
      .update-wrap .update-rec-list .book-wrap .book-info h4, .update-wrap .god-wrap .god-list .book-wrap .book-info h4, .update-wrap .update-rec-list .book-wrap .book-info p, .update-wrap .god-wrap .god-list .book-wrap .book-info p {
        text-align: right; }
      .update-wrap .update-rec-list .book-wrap .book-info h4 a, .update-wrap .god-wrap .god-list .book-wrap .book-info h4 a {
        color: #1A1A1A; }
        .update-wrap .update-rec-list .book-wrap .book-info h4 a:hover, .update-wrap .god-wrap .god-list .book-wrap .book-info h4 a:hover {
          color: #ED4259; }
      .update-wrap .update-rec-list .book-wrap .book-info .digital, .update-wrap .god-wrap .god-list .book-wrap .book-info .digital {
        height: 20px; }
        .update-wrap .update-rec-list .book-wrap .book-info .digital i, .update-wrap .god-wrap .god-list .book-wrap .book-info .digital i {
          margin: 0 3px; }
  .update-wrap .update-rec-list .book-cover, .update-wrap .god-wrap .god-list .book-cover {
    float: left; }
  .update-wrap .update-rec-list p.intro, .update-wrap .god-wrap .god-list p.intro {
    overflow: hidden;
    height: 60px;
    font: 12px/20px "PingFangSC-Regular", Simsun;
    color: #666; }
.update-wrap .update-list-wrap {
  width: 738px; }
  .update-wrap .update-list-wrap .update-tab {
    height: 24px;
    padding-bottom: 4px; }
    .update-wrap .update-list-wrap .update-tab p, .update-wrap .update-list-wrap .update-tab .blue {
      float: right; }
    .update-wrap .update-list-wrap .update-tab a, .update-wrap .update-list-wrap .update-tab span {
      float: left;
      margin-top: 7px;
      font: 12px/16px "PingFangSC-Regular", Simsun;
      color: #A6A6A6; }
    .update-wrap .update-list-wrap .update-tab a.act {
      font-weight: 700; }
    .update-wrap .update-list-wrap .update-tab a:hover, .update-wrap .update-list-wrap .update-tab a.act {
      color: #ED4259; }
    .update-wrap .update-list-wrap .update-tab a.blue {
      color: #3F5A93; }
      .update-wrap .update-list-wrap .update-tab a.blue:hover {
        color: #3F5A93; }
    .update-wrap .update-list-wrap .update-tab span {
      margin-right: 7px;
      margin-left: 7px;
      font-family: Arial;
      font-size: 12px; }
      .update-wrap .update-list-wrap .update-tab span.blue {
        color: #3F5A93; }
  .update-wrap .update-list-wrap .update-list {
    width: 708px;
    margin-left: 30px; }
    .update-wrap .update-list-wrap .update-list table td {
      height: 31px; }
      .update-wrap .update-list-wrap .update-list table td a {
        float: left;
        overflow: hidden;
        height: 30px; }
        .update-wrap .update-list-wrap .update-list table td a.classify, .update-wrap .update-list-wrap .update-list table td a.name {
          font: 14px/30px "PingFangSC-Regular", Simsun;
          color: #1A1A1A; }
        .update-wrap .update-list-wrap .update-list table td a.classify {
          margin-left: -7px;
          color: #808080; }
          .update-wrap .update-list-wrap .update-list table td a.classify em {
            font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
            font-size: 13px; }
        .update-wrap .update-list-wrap .update-list table td a.section {
          max-width: 220px;
          margin-right: 5px;
          color: #666;
          white-space: normal;
          overflow: hidden;
          text-overflow: ellipsis; }
          .update-wrap .update-list-wrap .update-list table td a.section em {
            margin-right: 5px; }
        .update-wrap .update-list-wrap .update-list table td a.author {
          color: #999; }
        .update-wrap .update-list-wrap .update-list table td a:hover {
          color: #ED4259; }
        .update-wrap .update-list-wrap .update-list table td a.section, .update-wrap .update-list-wrap .update-list table td a.author {
          font: 12px/30px "PingFangSC-Regular", Simsun; }
          .update-wrap .update-list-wrap .update-list table td a.section:hover, .update-wrap .update-list-wrap .update-list table td a.author:hover {
            color: inherit; }
      .update-wrap .update-list-wrap .update-list table td .vip {
        float: left;
        width: 20px;
        height: 12px;
        padding: 0 1px;
        margin-top: 9px;
        font: 12px/12px "PingFangSC-Regular", Simsun;
        text-align: center;
        color: white;
        background: #FC6C28;
        overflow: hidden; }
      .update-wrap .update-list-wrap .update-list table td i {
        float: right;
        margin-top: 3px;
        font: 12px/1 Arial;
        color: #666; }
    .update-wrap .update-list-wrap .update-list table tr.bd0 td {
      border-bottom: none; }
.update-wrap .god-wrap h3.wrap-title {
  font-size: 18px; }
.update-wrap .god-wrap .god-list {
  *position: relative; }
  .update-wrap .god-wrap .god-list .god-info {
    height: 194px;
    overflow: hidden; }
  .update-wrap .god-wrap .god-list ul {
    width: 192px;
    margin: 0 auto; }
  .update-wrap .god-wrap .god-list li {
    position: relative; }
    .update-wrap .god-wrap .god-list li .photo {
      position: absolute;
      top: 15px;
      right: 0;
      width: 60px;
      height: 60px; }
      .update-wrap .god-wrap .god-list li .photo img {
        width: 60px;
        height: 60px;
        border-radius: 100%; }
    .update-wrap .god-wrap .god-list li h3 {
      padding: 13px 0 5px;
      font-size: 16px; }
      .update-wrap .god-wrap .god-list li h3 a {
        display: block;
        width: 128px;
        height: 21px;
        overflow: hidden;
        color: #1A1A1A; }
        .update-wrap .god-wrap .god-list li h3 a:hover {
          color: #ED4259; }
    .update-wrap .god-wrap .god-list li p, .update-wrap .god-wrap .god-list li h4 {
      font-size: 12px;
      font-family: "PingFangSC-Regular", Simsun; }
    .update-wrap .god-wrap .god-list li h4 {
      font-weight: 400;
      color: #999;
      margin-bottom: 5px; }
    .update-wrap .god-wrap .god-list li .type {
      width: 128px;
      overflow: hidden;
      height: 16px;
      margin-bottom: 10px; }
    .update-wrap .god-wrap .god-list li .works {
      overflow: hidden;
      max-height: 36px;
      color: #3F5A93;
      margin-bottom: 8px; }
      .update-wrap .god-wrap .god-list li .works a {
        color: #3F5A93;
        line-height: 20px; }
        .update-wrap .god-wrap .god-list li .works a:hover {
          color: #ED4259; }
      .update-wrap .god-wrap .god-list li .works span {
        margin: 0 4px;
        font-family: simsun; }
    .update-wrap .god-wrap .god-list li .intro {
      overflow: hidden;
      height: 60px; }

/* 限时免费 */
.time-limit-wrap {
  height: 222px; }
  .time-limit-wrap li {
    position: relative;
    z-index: 1;
    float: left;
    width: 169px;
    height: 220px;
    text-align: center; }
    .time-limit-wrap li.time-box {
      width: 172px; }
      .time-limit-wrap li.time-box .iconfont {
        display: block;
        margin: 10px 0;
        font-size: 60px;
        height: 60px; }
      .time-limit-wrap li.time-box:hover {
        border: 1px solid #F7F6F2; }
      .time-limit-wrap li.time-box .limit-wrap {
        padding-top: 25px; }
      .time-limit-wrap li.time-box h3 {
        height: 21px;
        font: 18px/21px FZZCYSK;
        color: #ED4259;
        overflow: hidden; }
      .time-limit-wrap li.time-box .type {
        padding: 2px 0;
        height: 16px;
        font-size: 12px;
        font-family: "PingFangSC-Regular", Simsun;
        color: #999;
        overflow: hidden; }
      .time-limit-wrap li.time-box .countdown {
        height: 22px;
        color: #BF2C24;
        overflow: hidden;
        margin-bottom: 10px; }
        .time-limit-wrap li.time-box .countdown i {
          font: 18px/21px Arial; }
        .time-limit-wrap li.time-box .countdown em {
          margin-right: 5px; }
      .time-limit-wrap li.time-box .blue {
        display: block;
        font-size: 14px;
        font-family: "PingFangSC-Regular", Simsun;
        height: 19px;
        vertical-align: middle;
        overflow: hidden; }
        .time-limit-wrap li.time-box .blue span {
          display: inline-block;
          margin-top: -2px;
          margin-left: 5px;
          font-family: simsun;
          font-weight: 700;
          vertical-align: middle; }
    .time-limit-wrap li.odd {
      background: #F7F6F2;
      border: 1px solid #F7F6F2; }
    .time-limit-wrap li.even {
      background: #FCFCFA;
      border: 1px solid #FCFCFA; }
    .time-limit-wrap li .book-img {
      width: 66px;
      height: 88px;
      margin: 20px auto 10px; }
      .time-limit-wrap li .book-img a {
        width: 100%;
        height: 100%; }
    .time-limit-wrap li .blue-btn {
      margin: 0 auto; }
      .time-limit-wrap li .blue-btn.disabled {
        cursor: default;
        border-color: #A6A6A6;
        color: #A6A6A6; }
        .time-limit-wrap li .blue-btn.disabled:hover {
          background: none; }
    .time-limit-wrap li .name {
      display: block;
      overflow: hidden;
      height: 21px;
      padding: 0 10px;
      font: 16px/21px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
      color: #1A1A1A; }
      .time-limit-wrap li .name:hover {
        color: #ED4259; }
    .time-limit-wrap li s {
      display: block;
      margin: 8px 0;
      height: 14px;
      font: 12px/14px "PingFangSC-Regular", Simsun;
      color: #999;
      overflow: hidden; }
    .time-limit-wrap li:hover {
      position: relative;
      z-index: 3;
      transition: all .5s;
      box-shadow: 0 5px 16px #D9D4C7; }
    .time-limit-wrap li:first-of-type:hover {
      box-shadow: none; }

.filter-search-wrap {
  height: 80px;
  background: #F2F2F2; }
  .filter-search-wrap .box-center {
    background: #F2F2F2; }
  .filter-search-wrap .filter-search-box {
    width: 926px;
    height: 80px;
    overflow: hidden; }
    .filter-search-wrap .filter-search-box .title {
      height: 80px;
      width: 126px;
      padding-left: 48px;
      font: 14px/80px "PingFangSC-Regular", Simsun;
      margin-right: 24px;
      overflow: hidden;
      color: #1A1A1A; }
    .filter-search-wrap .filter-search-box .filter-search {
      border-right: 1px solid #D9D9D9;
      width: 692px;
      height: 34px;
      margin: 23px 35px 0 0;
      font-size: 0;
      overflow: hidden; }
      .filter-search-wrap .filter-search-box .filter-search .lbf-combobox {
        float: left;
        margin-right: 12px; }
        .filter-search-wrap .filter-search-box .filter-search .lbf-combobox.classify .lbf-combobox-caption {
          width: 24px; }
        .filter-search-wrap .filter-search-box .filter-search .lbf-combobox.tags a, .filter-search-wrap .filter-search-box .filter-search .lbf-combobox.words a {
          width: 92px; }
      .filter-search-wrap .filter-search-box .filter-search .red-btn {
        float: left;
        width: 100px;
        height: 34px;
        font: 14px/34px "PingFangSC-Regular", Simsun; }
  .filter-search-wrap .everyone {
    width: 220px;
    height: 40px;
    margin-top: 20px;
    overflow: hidden; }
    .filter-search-wrap .everyone .title {
      width: 60px;
      height: 32px;
      margin-right: 16px;
      font: 12px/37px "PingFangSC-Regular", Simsun;
      color: #A6A6A6;
      overflow: hidden; }
    .filter-search-wrap .everyone .key-words {
      width: 143px;
      height: 40px;
      overflow: hidden; }
      .filter-search-wrap .everyone .key-words a {
        display: block;
        font: 12px/20px "PingFangSC-Regular", Simsun;
        color: #666; }
        .filter-search-wrap .everyone .key-words a:hover {
          color: inherit; }

/* 蓝色圆角按钮 */
.blue-btn {
  display: block;
  border: 1px solid #3F5A93;
  border-radius: 20px;
  width: 80px;
  height: 26px;
  font: 14px/26px "PingFangSC-Regular", Simsun;
  text-align: center;
  color: #3F5A93;
  overflow: hidden; }
  .blue-btn:hover {
    border-color: #2972CC;
    color: #2972CC;
    background: #F0F5FF; }

/* 红色阅读按钮 */
.read-btn {
  display: block;
  width: 98px;
  height: 28px;
  border: 1px solid #BF2C24;
  border-radius: 15px;
  font: 14px/28px "PingFangSC-Regular", Simsun;
  background: #BF2C24;
  color: white; }
  .read-btn:hover {
    color: white;
    border: 1px solid #ED4259;
    background: #ED4259; }

/* 红色按钮 */
.red-btn {
  background: #BF2C24;
  text-align: center;
  color: white; }
  .red-btn:hover {
    color: white;
    background: #ED4259; }

.all-search {
  display: block;
  padding-left: 12px;
  font: 14px/32px "PingFangSC-Regular", Simsun;
  color: #808080;
  background: #F7F7F7; }

em.point {
  display: block; }
  em.point span {
    width: 4px;
    height: 4px;
    background: white;
    margin-right: 2px;
    border-radius: 100%; }

/* 轮播图-3d切换 */
.left-slider-wrap {
  padding: 24px 0 20px; }

.poster-main {
  position: relative;
  width: 277px;
  height: 124px;
  margin: 0 auto; }
  .poster-main a, .poster-main img {
    display: block; }
  .poster-main .poster-list {
    width: 277px;
    height: 124px;
    position: relative; }
  .poster-main .poster-item {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 66px;
    width: 84px;
    height: 112px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7); }
    .poster-main .poster-item .poster-info {
      display: none;
      position: absolute;
      width: 192px;
      margin: 25px 0 0 -52px;
      text-align: center;
      /*&.info2, &.info3 {
      	left:-50px;
      }*/ }
      .poster-main .poster-item .poster-info h3 {
        font: 18px/24px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif"; }
        .poster-main .poster-item .poster-info h3 a:hover {
          color: #ED4259; }
      .poster-main .poster-item .poster-info .author {
        padding: 8px 0;
        font: 12px/16px "PingFangSC-Regular", Simsun;
        color: #BF2C24; }
        .poster-main .poster-item .poster-info .author em {
          margin: 0 5px;
          font-family: Arial; }
      .poster-main .poster-item .poster-info .number {
        font-size: 12px;
        font-family: "PingFangSC-Regular", Simsun;
        margin-bottom: 10px;
        font-size: 12px;
        font-family: "PingFangSC-Regular", Simsun;
        color: #666; }
        .poster-main .poster-item .poster-info .number b {
          font-family: Arial;
          font-size: 18px;
          color: #333; }
      .poster-main .poster-item .poster-info .info {
        margin-bottom: 15px;
        font: 12px/20px "PingFangSC-Regular", Simsun;
        text-align: left;
        color: #666; }
    .poster-main .poster-item.act .poster-info {
      display: block; }
  .poster-main .poster-btn {
    position: absolute;
    top: 0;
    z-index: 1;
    cursor: pointer;
    /*opacity: 0;
    filter: alpha(opacity=0);*/ }
  .poster-main .poster-prev-btn {
    left: 0; }
  .poster-main .poster-next-btn {
    right: 0; }

/*  最近完本 新书推荐的视觉细节调整（非物理边距） */
.recent-finish-wrap .book-wrap .book-info {
  margin-top: 3px; }

.new-rec-wrap .book-wrap .book-info {
  margin-top: 2px; }

/* 热门作品 slides-wrap */
.three-silde-wrap {
  position: relative;
  z-index: 1;
  padding: 16px 0 0 48px;
  height: 112px;
  margin-bottom: 10px; }
  .three-silde-wrap .la-ball-pulse {
    position: absolute;
    z-index: 300;
    top: 50px;
    left: 88px; }

/* 满意度调查 */
.survey-btn {
  position: fixed;
  z-index: 21;
  bottom: 30px;
  left: 0;
  width: 30px;
  height: 94px;
  background: url(/qd/images/index/diaocha.png) no-repeat 0 -136px; }
  .survey-btn.first {
    left: -30px; }

.survey-wrap {
  position: fixed;
  left: -956px;
  bottom: 0;
  height: 140px;
  z-index: 20; }
  .survey-wrap.first {
    width: 100%;
    left: 0; }
  .survey-wrap .survey-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    background: #3E3D43;
    filter: alpha(opacity=95);
    background: rgba(61, 62, 67, 0.95); }
    .survey-wrap .survey-box .center {
      position: relative;
      width: 956px;
      margin: 0 auto; }
    .survey-wrap .survey-box p {
      width: 925px;
      height: 136px;
      margin: 0 auto;
      background-position: 0 0;
      background-image: url(/qd/images/index/diaocha.png); }
    .survey-wrap .survey-box .go-survey {
      position: absolute;
      top: 48px;
      left: 711px;
      width: 140px;
      height: 44px; }
    .survey-wrap .survey-box .close-survey {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 15px; }

.lbf-autocomplete-suggestion, .lbf-autocomplete-suggestions strong {
  height: 30px; }

/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .hot-classify-wrap h3.wrap-title .icon-tag {
    background-image: url(/qd/images/index/hot-classify-tag_2x.png);
    background-size: 53px;
    background-repeat: no-repeat; }

  .focus-wrap .classify-list dd a cite .rec {
    background: url("/qd/images/index/rec2x.png") no-repeat;
    background-size: 100%; }

  .survey-btn {
    background: url(/qd/images/index/survey_btn.png) no-repeat;
    background-size: 100%; }

  .survey-wrap .survey-box p {
    background: url(/qd/images/index/survey.png) no-repeat;
    background-size: 100%; } }
/* 1250px以下 排行榜ul宽度去除，不让右侧出白边*/
@media (max-width: 1250px) {
  .rank-list-row {
    width: auto; } }
/* 1024 响应点样式变动 */
@media (max-width: 1025px) {
  .main-nav-wrap .main-nav li a {
    padding: 0 25px; }

  .focus-wrap .focus-box {
    width: 538px; }

  .focus-wrap .focus-box .focus-slider .lbf-slides .thumb a {
    width: 17.91%; }

  .focus-wrap .focus-box .focus-slider .lbf-slides li {
    top: 0; }
    .focus-wrap .focus-box .focus-slider .lbf-slides li img {
      width: 538px;
      height: 250px; }

  .edit-rec-wrap, .edit-rec-wrap .edit-rec {
    width: 498px; }

  .edit-rec-wrap .focus-today .desc-wrap {
    width: 182px;
    overflow: hidden; }

  .edit-rec-wrap .edit-rec-list li:nth-of-type(4), .edit-rec-wrap .edit-rec-list li:nth-of-type(8) {
    display: none; }

  .edit-rec-wrap .edit-rec-list li {
    margin-right: 18px; }

  .edit-rec-wrap .edit-rec-list li:nth-of-type(3) {
    margin-right: 0; }

  .rank-list {
    width: 225px;
    margin-right: 30px; }

  .rank-list:nth-of-type(4) {
    margin-right: 0; }

  .hot-classify-wrap li:last-of-type {
    display: none; }

  .hot-classify-wrap {
    width: 744px; }
    .hot-classify-wrap ul {
      height: 425px; }
    .hot-classify-wrap li {
      width: 234px;
      margin-right: 20px; }
      .hot-classify-wrap li:nth-of-type(3), .hot-classify-wrap li:nth-of-type(6) {
        margin-right: 0; }
      .hot-classify-wrap li:nth-of-type(4) {
        margin-right: 20px; }
      .hot-classify-wrap li:nth-of-type(7) {
        display: none; }

  .left-wrap {
    width: 736px; }
    .left-wrap .center-book-list {
      width: 520px; }
      .left-wrap .center-book-list .line {
        width: 490px; }
      .left-wrap .center-book-list ul {
        width: 700px; }
      .left-wrap .center-book-list li {
        width: 234px;
        margin-right: 22px; }
        .left-wrap .center-book-list li .book-info {
          width: 150px; }
        .left-wrap .center-book-list li.no-img {
          width: 36%; }
          .left-wrap .center-book-list li.no-img.mr0 {
            display: none; }
        .left-wrap .center-book-list li:nth-of-type(4), .left-wrap .center-book-list li:nth-of-type(7) {
          margin-right: 0; }

  .state-box i {
    display: none; }

  .update-wrap .update-list-wrap {
    width: 530px; }
    .update-wrap .update-list-wrap .update-list {
      width: 500px; }

  .time-limit-wrap li {
    width: 161px; }
    .time-limit-wrap li:last-of-type {
      display: none; }

  .filter-search-wrap .everyone {
    display: none; }

  .right-wrap {
    width: 226px; } }

/*# sourceMappingURL=index.css.map */
