@charset "UTF-8";
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/* 居中容器 */
/*边框*/
/*下边距 默认mb就是10px*/
/* 不折行截字 */
/* 折行截字 */
/* 字号22的标题 - 调整行高 */
/* 嵌套小三角 */
/* 实体小三角 */
/* 过渡动画 默认0.3秒 */
/* 平面书封hover放大到1.1倍 */
/* 父容器清浮动 */
.classify-list dd, .book-list-wrap .book-list li, .rank-list .book-list li {
  overflow: hidden;
  *zoom: 1; }

/* 标题下边框线 */
h3.wrap-title {
  border-bottom: 1px solid #666; }

.book-list-wrap .book-list li, .rank-list .book-list li.unfold, .rank-list .book-list li .name-box {
  border-bottom: 1px solid #EBEBEB; }

/* 固定导航条*/
.pin-nav-wrap {
  position: fixed;
  z-index: 100000;
  top: -43px;
  left: 0;
  width: 100%;
  height: 42px;
  background: #3E3D43;
  -webkit-transform: translateZ(0);
  transition: .5s all; }
  .pin-nav-wrap.show {
    top: 0; }
  .pin-nav-wrap .nav-list {
    height: 42px;
    margin-left: -10px; }
    .pin-nav-wrap .nav-list li {
      float: left; }
      .pin-nav-wrap .nav-list li.act a {
        height: 40px;
        line-height: 38px;
        border-top: 2px solid #ED4259;
        background: #2B2A2E;
        transition: none; }
        .pin-nav-wrap .nav-list li.act a span {
          top: 17px;
          position: absolute;
          border-top: 0 none;
          border-right: 4px solid transparent;
          border-bottom: 4px solid white;
          border-left: 4px solid transparent;
          width: 0;
          height: 0; }
      .pin-nav-wrap .nav-list li.act .dropdown {
        display: block;
        -webkit-animation: .15s ease-out backwards;
        -moz-animation: .15s ease-out backwards;
        -ms-animation: .15s ease-out backwards;
        animation: .15s ease-out backwards;
        -webkit-animation-name: fadeinT;
        -moz-animation-name: fadeinT;
        -ms-animation-name: fadeinT;
        animation-name: fadeinT; }
      .pin-nav-wrap .nav-list li.site {
        width: 95px;
        margin-right: 28px; }
        .pin-nav-wrap .nav-list li.site a {
          width: 95px;
          color: white; }
          .pin-nav-wrap .nav-list li.site a.pin-logo {
            display: block;
            width: 95px;
            height: 42px;
            background-image: url("/qd/images/pin_logo_1x.png");
            background-repeat: no-repeat;
            background-position: 10px 50%; }
        .pin-nav-wrap .nav-list li.site .dropdown {
          width: 125px; }
        .pin-nav-wrap .nav-list li.site.act a {
          height: 38px; }
      .pin-nav-wrap .nav-list li a {
        position: relative;
        display: block;
        padding: 0 15px;
        height: 42px;
        color: #CCC;
        font: 14px/42px "PingFangSC-Regular", Simsun;
        overflow: hidden; }
        .pin-nav-wrap .nav-list li a:hover {
          color: white; }
        .pin-nav-wrap .nav-list li a span {
          position: absolute;
          border-top: 4px solid #CCC;
          border-right: 4px solid transparent;
          border-bottom: 0 none;
          border-left: 4px solid transparent;
          width: 0;
          height: 0;
          top: 19px;
          right: 15px; }
      .pin-nav-wrap .nav-list li.more a {
        width: 44px; }
      .pin-nav-wrap .nav-list li.more .dropdown {
        width: 74px; }
      .pin-nav-wrap .nav-list li .dropdown {
        display: none;
        position: relative;
        background: #2B2A2E;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }
        .pin-nav-wrap .nav-list li .dropdown a {
          height: auto;
          padding: 2px 15px;
          font: 14px/38px "PingFangSC-Regular", Simsun;
          color: #CCC;
          border-top: none; }
          .pin-nav-wrap .nav-list li .dropdown a:hover {
            color: white;
            background: black; }
  .pin-nav-wrap .min-user .iconfont {
    font-size: 17px;
    display: inline-block;
    vertical-align: middle;
    color: white; }
    .pin-nav-wrap .min-user .iconfont:hover {
      background: none; }
  .pin-nav-wrap .min-user li {
    position: relative;
    z-index: 11; }
    .pin-nav-wrap .min-user li .pin-input {
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 42px;
      height: 26px;
      border-bottom: 2px solid white;
      width: 40px;
      background: #3E3D43;
      font-size: 14px;
      font-family: "PingFangSC-Regular", Simsun;
      color: #E6E6E6;
      color: rgba(255, 255, 255, 0.7);
      *color: #E6E6E6;
      opacity: 0;
      filter: alpha(opacity=0); }
  .pin-nav-wrap .min-user li.book-shelf a:hover {
    background: #2B2A2E; }
  .pin-nav-wrap .min-user li.book-shelf i {
    margin-left: 5px; }
  .pin-nav-wrap .min-user li.book-shelf cite {
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
    line-height: 1.4;
    margin: -2px 0 0 4px;
    border-radius: 4px;
    color: white;
    font-size: 11px;
    font-family: Arial;
    background: #ED4259; }
    .pin-nav-wrap .min-user li.book-shelf cite strong {
      font-weight: 400; }
  .pin-nav-wrap .min-user li.book-shelf em {
    margin-top: -2px;
    *margin-top: 0;
    margin-left: 5px; }
  .pin-nav-wrap .min-user li a {
    position: relative;
    background: none;
    margin-right: 0;
    z-index: 10;
    color: white; }
  .pin-nav-wrap .min-user li.line {
    margin: 10px 0 0;
    height: 24px;
    border-right: 1px solid #515056; }
  .pin-nav-wrap .min-user li.sign-out {
    padding: 0 6px 0 15px;
    position: relative; }
    .pin-nav-wrap .min-user li.sign-out a {
      padding: 0;
      margin-right: 8px;
      display: inline;
      color: #CCC; }
      .pin-nav-wrap .min-user li.sign-out a:hover {
        color: white; }
  .pin-nav-wrap .min-user li.sign-in a {
    padding: 0 20px 0 10px;
    min-width: 80px; }
    .pin-nav-wrap .min-user li.sign-in a i {
      padding-right: 5px; }
  .pin-nav-wrap .min-user li.sign-in .dropdown {
    width: 100%;
    position: absolute;
    top: 42px;
    right: 0; }
    .pin-nav-wrap .min-user li.sign-in .dropdown a {
      padding: 0 10px;
      text-align: left; }
      .pin-nav-wrap .min-user li.sign-in .dropdown a.pin-user-name {
        height: 32px;
        overflow: hidden; }
      .pin-nav-wrap .min-user li.sign-in .dropdown a i {
        padding-right: 0; }

/* 主导航 作品分类有下拉 作品分类的样式 */
#type-hover .classify-list {
  display: none;
  position: absolute;
  z-index: 100;
  top: 40px;
  box-shadow: 0 3px 5px #CCC; }

.red {
  color: #BF2C24; }

/* 作品分类下拉样式 */
.classify-list {
  position: relative;
  top: -10px;
  border: 1px solid #E6E6E6;
  border-top: none;
  width: 214px;
  height: 420px; }
  .classify-list dd {
    float: left;
    width: 50%;
    height: 60px;
    background: #F7F6F2; }
    .classify-list dd a {
      display: block;
      color: #333; }
      .classify-list dd a cite {
        position: relative;
        display: block;
        width: 85px;
        height: 43px;
        padding-top: 17px;
        padding-left: 17px;
        overflow: hidden; }
        .classify-list dd a cite .rec {
          display: inline-block;
          vertical-align: middle;
          margin-top: -6px;
          *margin-top: -3px;
          margin-left: 3px;
          width: 7px;
          height: 8px;
          background: url("/qd/images/index/rec.png") no-repeat; }
        .classify-list dd a cite .info {
          float: left;
          max-width: 42px; }
          .classify-list dd a cite .info i, .classify-list dd a cite .info b {
            display: block;
            cursor: pointer;
            text-align: left; }
          .classify-list dd a cite .info i {
            font: 14px/1 "PingFangSC-Regular", Simsun;
            white-space: nowrap; }
          .classify-list dd a cite .info b {
            font: 12px/1.5 Arial;
            color: #999; }
        .classify-list dd a cite em {
          float: left;
          width: 24px;
          height: 24px;
          margin: 2px 8px 0 0;
          transition: ease-out .3s; }
          .classify-list dd a cite em.lingyi {
            margin-top: 0; }
          .classify-list dd a cite em.jingji, .classify-list dd a cite em.erciyuan {
            margin-top: 1px; }
      .classify-list dd a:hover {
        color: #000; }
        .classify-list dd a:hover em {
          margin: 2px 10px 0 -2px; }
        .classify-list dd a:hover cite b {
          transition: all .3s;
          color: #000; }
    .classify-list dd.even {
      background: #FCFCFA; }

/* 区块里的更多 */
.book-list-wrap:hover .more {
  display: inline; }

/* 区块标题 */
h3.wrap-title {
  height: 24px;
  line-height: 25px;
  overflow: hidden;
  padding-bottom: 4px;
  font-family: FZZCYSK;
  font-size: 18px;
  font-weight: 400;
  *line-height: 1;
  color: #1A1A1A; }
  h3.wrap-title span {
    margin-left: 5px; }
  h3.wrap-title em, h3.wrap-title a {
    font: 12px/1 Arail, "PingFangSC-Regular", Simsun;
    color: #3F5A93; }
    h3.wrap-title em:hover, h3.wrap-title a:hover {
      color: #2972CC; }
  h3.wrap-title em, h3.wrap-title i {
    margin: 0 5px;
    font-family: Arail, "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif"; }
  h3.wrap-title .more {
    display: none; }

/* 书列表区块容器 */
.book-list-wrap {
  width: 216px; }
  .book-list-wrap .book-list li {
    height: 31px;
    *vertical-align: bottom; }
    .book-list-wrap .book-list li a {
      float: left;
      font: 14px/32px "PingFangSC-Regular", Simsun; }
      .book-list-wrap .book-list li a.channel {
        overflow: hidden;
        min-width: 56px;
        height: 32px;
        margin-left: -8px;
        color: #808080; }
        .book-list-wrap .book-list li a.channel em {
          font-family: "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
          font-size: 13px; }
      .book-list-wrap .book-list li a.name {
        max-width: 95px;
        margin-left: -3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #1A1A1A; }
      .book-list-wrap .book-list li a:hover {
        color: #ED4259; }
    .book-list-wrap .book-list li.str3 .channel {
      width: 70px; }
    .book-list-wrap .book-list li.str3 .name {
      width: 80px; }
    .book-list-wrap .book-list li .author, .book-list-wrap .book-list li .rec {
      float: right;
      width: 64px;
      font: 12px/32px "PingFangSC-Regular", Simsun;
      text-align: right;
      color: #B3B3B3;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis; }
    .book-list-wrap .book-list li.color-type_1 a {
      color: #BF2C24; }
      .book-list-wrap .book-list li.color-type_1 a:hover {
        color: #ED4259; }
    .book-list-wrap .book-list li.color-type_1 .author {
      color: #A6A6A6; }
      .book-list-wrap .book-list li.color-type_1 .author:hover {
        color: #ED4259; }
    .book-list-wrap .book-list li.bd0 {
      border-bottom: none; }
      .book-list-wrap .book-list li.bd0 .name {
        width: 140px;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis; }
      .book-list-wrap .book-list li.bd0 span {
        width: 26px; }

/* 立体书封容器 */
.book-wrap {
  padding: 15px 0; }
  .book-wrap .book-info {
    width: 124px; }
    .book-wrap .book-info h3 {
      width: 36px;
      height: 18px;
      font: 700 14px/18px Arial;
      text-align: center;
      color: white;
      background: #BF2C24;
      margin-bottom: 3px; }
    .book-wrap .book-info h4 {
      overflow: hidden;
      height: 24px;
      font: 16px/24px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
      color: #1A1A1A; }
    .book-wrap .book-info p.digital {
      overflow: hidden;
      height: 24px;
      padding: 3px 0 0;
      margin-bottom: 4px;
      font-size: 12px;
      color: #BF2C24; }
      .book-wrap .book-info p.digital em {
        font-size: 18px;
        font-family: Arial; }
      .book-wrap .book-info p.digital.f16 {
        font-size: 16px; }
    .book-wrap .book-info p.author {
      overflow: hidden;
      height: 16px;
      font-size: 12px;
      font-family: "PingFangSC-Regular", Simsun; }
      .book-wrap .book-info p.author i {
        margin: 0 5px;
        font-family: Arial; }
      .book-wrap .book-info p.author a {
        color: #A6A6A6; }
        .book-wrap .book-info p.author a.type:hover {
          color: #ED4259; }
        .book-wrap .book-info p.author a.writer:hover {
          color: #000; }
    .book-wrap .book-info .tag {
      color: #BF2C24;
      display: block;
      width: 50px;
      height: 18px;
      text-align: center;
      padding: 0 3px;
      font-size: 12px;
      line-height: 18px;
      font-family: "PingFangSC-Regular", Simsun;
      margin-bottom: 2px;
      border: 1px solid #BF2C24;
      overflow: hidden; }
    .book-wrap .book-info .desc {
      font-size: 12px;
      font-family: "PingFangSC-Regular", Simsun;
      color: #666;
      height: 16px;
      overflow: hidden; }
  .book-wrap .book-cover {
    position: relative;
    z-index: 4;
    float: right;
    width: 52px;
    margin-top: -3px;
    margin-right: 8px;
    text-align: center; }
    .book-wrap .book-cover .link {
      position: relative;
      z-index: 10; }
    .book-wrap .book-cover img {
      width: 60px;
      height: 87px; }
    .book-wrap .book-cover span {
      position: absolute;
      z-index: 1; }

/* IE9以上开启立体书封效果 */
html:root .book-cover {
  -webkit-transform: perspective(60px) rotateY(-10deg);
  -moz-transform: perspective(60px) rotateY(-10deg);
  transform: perspective(60px) rotateY(-10deg);
  /* 封底 */
  /* 白色书页填充 */
  /* 投影 */ }
  html:root .book-cover:before {
    position: absolute;
    z-index: 3;
    top: 3%;
    left: 10%;
    width: 100%;
    height: 90%;
    background-color: #999; }
  html:root .book-cover:after {
    position: absolute;
    z-index: 2;
    top: 2%;
    left: 100%;
    width: 10%;
    height: 92%;
    content: ' ';
    -webkit-transform: perspective(60px) rotateY(30deg);
    -moz-transform: perspective(60px) rotateY(30deg);
    transform: perspective(60px) rotateY(30deg);
    background-color: #EFEFEF;
    box-shadow: inset 0 0 5px #333; }
  html:root .book-cover span {
    position: absolute;
    z-index: 1;
    top: 83.5%;
    left: 7px;
    width: 20px;
    height: 10px;
    content: ' ';
    box-shadow: 25px 0 5px 5px #ADADAD;
    -webkit-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    -moz-transform: perspective(74px) rotateX(-70deg) rotateY(-5deg);
    transform: perspective(74px) rotateX(-70deg) rotateY(-5deg); }
  html:root .book-cover img {
    width: 52px;
    height: 87px; }

/* 平面书封面 */
.book-img {
  width: 72px;
  height: 96px;
  margin-right: 12px; }
  .book-img a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 0 5px #F9F2E9 inset;
    overflow: hidden; }
    .book-img a img {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform .3s ease-out;
      -moz-transition: -moz-transform .3s ease-out;
      -ms-transition: -ms-transform .3s ease-out;
      transition: transform .3s ease-out;
      color: #FCFCFA; }
      .book-img a img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
    .book-img a span {
      position: absolute;
      padding: 0 3px 0 2px;
      height: 17px;
      color: white;
      bottom: 0;
      left: 0;
      text-align: center;
      font: 12px/18px Arial;
      background: #ED4259;
      border-radius: 0 5px 0 0; }

/* 排行榜 */
.rank-list {
  position: relative;
  z-index: 1;
  float: left;
  width: 216px;
  margin-right: 30px; }
  .rank-list .mr0 {
    margin-right: 0; }
  .rank-list:hover .more {
    display: inline; }
  .rank-list .book-list li {
    height: 31px;
    *vertical-align: bottom; }
    .rank-list .book-list li:hover .name-box .arrow-up {
      background: #ED4259; }
    .rank-list .book-list li.bd0 .name-box, .rank-list .book-list li:last-of-type .name-box {
      border-bottom: none; }
    .rank-list .book-list li.unfold {
      overflow: visible;
      height: 114px; }
      .rank-list .book-list li.unfold i {
        color: #A6A6A6; }
    .rank-list .book-list li .num-box {
      float: left;
      width: 28px;
      height: 32px; }
      .rank-list .book-list li .num-box span {
        display: block;
        width: 16px;
        height: 16px;
        margin-top: 8px;
        margin-left: -1px;
        font: 700 14px/16px Arial;
        text-align: center;
        color: #666;
        background: #EDEDED;
        overflow: hidden;
        letter-spacing: -1px; }
        .rank-list .book-list li .num-box span.num2 {
          color: white;
          background: #E67225; }
        .rank-list .book-list li .num-box span.num3 {
          color: white;
          background: #E6BF25; }
    .rank-list .book-list li .name-box {
      position: relative;
      float: left;
      height: 30px; }
      .rank-list .book-list li .name-box a {
        float: left;
        font: 14px/31px "PingFangSC-Regular", Simsun; }
        .rank-list .book-list li .name-box a.name {
          overflow: hidden;
          width: 116px;
          height: 31px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #1A1A1A; }
        .rank-list .book-list li .name-box a:hover {
          color: #ED4259; }
      .rank-list .book-list li .name-box.rec a {
        color: #BF2C24; }
      .rank-list .book-list li .name-box.rec .author {
        color: #B3B3B3; }
        .rank-list .book-list li .name-box.rec .author:hover {
          color: #ED4259; }
      .rank-list .book-list li .name-box.bd0 {
        border-bottom: none; }
      .rank-list .book-list li .name-box i.total {
        float: right;
        width: 72px;
        font: 12px/32px "PingFangSC-Regular", Simsun;
        text-align: right;
        color: #B3B3B3;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis; }
      .rank-list .book-list li .name-box span {
        position: absolute;
        right: 0;
        font: 12px/31px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
        text-align: right;
        color: #BFBFBF; }
        .rank-list .book-list li .name-box span.up {
          color: #666; }

/* 排序的榜单列表（24小时热销） */
.sort-list .book-list li .name-box a.name {
  width: 178px;
  padding-right: 10px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis; }

/* 3d focus-slide */
.roundabout-holder {
  width: 156px;
  height: 112px; }
  .roundabout-holder img {
    width: 100%; }

.roundabout {
  display: none;
  position: relative; }
  .roundabout li {
    position: absolute;
    width: 84px;
    height: 112px;
    -webkit-box-shadow: 0 1px 8px #7F7F7F;
    -moz-box-shadow: 0 1px 8px #7F7F7F;
    box-shadow: 0 1px 8px #7F7F7F;
    cursor: pointer; }
    .roundabout li img {
      height: 100%; }
    .roundabout li.book1 {
      left: 18px;
      top: -13px;
      z-index: 280; }
    .roundabout li.book2 {
      left: 75px;
      top: -1px;
      z-index: 145; }
    .roundabout li.book3 {
      left: -20px;
      top: -1px;
      z-index: 145; }

/* 3d focus-slide textWrap */
.info-text {
  width: 192px;
  margin: 0 auto;
  text-align: center; }
  .info-text h3 {
    height: 24px;
    font: 700 16px/24px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif";
    margin-bottom: 5px;
    overflow: hidden; }
    .info-text h3 a {
      color: #1A1A1A; }
      .info-text h3 a:hover {
        color: #ED4259; }
  .info-text .author {
    padding: 3px 0 5px;
    color: #BF2C24;
    font: 12px/16px "PingFangSC-Regular", Simsun; }
    .info-text .author a {
      color: #BF2C24; }
      .info-text .author a:hover {
        color: #ED4259; }
    .info-text .author em {
      font-family: Arial;
      margin: 0 5px; }
  .info-text .total {
    margin-bottom: 10px;
    font: 12px/18px "PingFangSC-Regular", Simsun; }
    .info-text .total b {
      font-size: 18px;
      font-family: Arial; }
  .info-text .intro {
    height: 80px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: left;
    color: #626260;
    font: 12px/20px "PingFangSC-Regular", Simsun; }

/* 排行榜分页 */
.page-box {
  padding: 40px 0; }
  .page-box .pagination {
    overflow: hidden;
    *zoom: 1; }
    .page-box .pagination ul {
      float: left; }
    .page-box .pagination li {
      float: left;
      margin-right: 10px;
      text-align: center; }
      .page-box .pagination li a {
        float: left;
        padding: 0 7px;
        height: 22px;
        font: 14px/22px Arial;
        border: 1px solid white; }
        .page-box .pagination li a:hover {
          border: 1px solid #ED4259; }
    .page-box .pagination .lbf-pagination-prev, .page-box .pagination .lbf-pagination-next {
      font-family: simsun;
      line-height: 24px; }
    .page-box .pagination .lbf-pagination-current {
      border: 1px solid #ED4259;
      background: #ED4259;
      color: white; }
    .page-box .pagination .lbf-pagination-disabled {
      color: #CCC;
      cursor: default; }
    .page-box .pagination .lbf-pagination-jump {
      float: left; }
      .page-box .pagination .lbf-pagination-jump input {
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 22px;
        margin-right: 10px;
        border: 1px solid #F2F2F2;
        text-align: center;
        font: 12px/22px Arial; }
        .page-box .pagination .lbf-pagination-jump input:focus {
          border: 1px solid #BBDAFF; }
      .page-box .pagination .lbf-pagination-jump .lbf-pagination-go {
        display: inline-block;
        vertical-align: middle;
        width: 34px;
        height: 22px;
        border: 1px solid #F2F2F2;
        text-align: center;
        font: 12px/22px "PingFangSC-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Microsoft YaHei", "sans-serif"; }
        .page-box .pagination .lbf-pagination-jump .lbf-pagination-go:hover {
          border: 1px solid #ED4259; }

/* LightTips提示内的容器 */
.simple-tips {
  width: 240px;
  margin: 0 auto;
  padding: 11px 0; }

/* circle loading */
:root .la-ball-pulse {
  font-size: 0; }
  :root .la-ball-pulse span {
    display: inline-block;
    background-color: currentColor;
    border: 0 solid currentColor;
    background: #666;
    width: 8px;
    height: 8px;
    margin: 0 8px 0 0;
    border-radius: 100%;
    -webkit-animation: ball-pulse 1s ease infinite;
    -moz-animation: ball-pulse 1s ease infinite;
    -o-animation: ball-pulse 1s ease infinite;
    animation: ball-pulse 1s ease infinite; }
    :root .la-ball-pulse span:nth-child(1) {
      -webkit-animation-delay: -200ms;
      -moz-animation-delay: -200ms;
      -o-animation-delay: -200ms;
      animation-delay: -200ms; }
    :root .la-ball-pulse span:nth-child(2) {
      -webkit-animation-delay: -100ms;
      -moz-animation-delay: -100ms;
      -o-animation-delay: -100ms;
      animation-delay: -100ms; }
    :root .la-ball-pulse span:nth-child(3) {
      -webkit-animation-delay: 0;
      -moz-animation-delay: 0;
      -o-animation-delay: 0;
      animation-delay: 0; }

/*
 * Animation circle loading
 */
@-webkit-keyframes ball-pulse {
  0%,
	60%,
	100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    opacity: .1;
    -webkit-transform: scale(0.01);
    transform: scale(0.01); } }
@-moz-keyframes ball-pulse {
  0%,
	60%,
	100% {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1); }
  30% {
    opacity: .1;
    -moz-transform: scale(0.01);
    transform: scale(0.01); } }
@-o-keyframes ball-pulse {
  0%,
	60%,
	100% {
    opacity: 1;
    -o-transform: scale(1);
    transform: scale(1); }
  30% {
    opacity: .1;
    -o-transform: scale(0.01);
    transform: scale(0.01); } }
@keyframes ball-pulse {
  0%,
	60%,
	100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  30% {
    opacity: .1;
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -o-transform: scale(0.01);
    transform: scale(0.01); } }
@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1; }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.7; } }
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
    opacity: 0; }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1; }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.7; } }
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s; }

@-webkit-keyframes fadeinT {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes fadeinT {
  0% {
    opacity: 0;
    -moz-transform: translateY(-10px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@-ms-keyframes fadeinT {
  0% {
    opacity: 0;
    -ms-transform: translateY(-10px); }
  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }
@keyframes fadeinT {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .pin-nav-wrap .nav-list li.site a.pin-logo {
    background-image: url("/qd/images/pin_logo_3x.png");
    background-size: 80px;
    background-repeat: no-repeat; }

  .focus-wrap .classify-list dd a cite .rec {
    background: url("/qd/images/index/rec2x.png") no-repeat;
    background-size: 100%; } }

/*# sourceMappingURL=module.css.map */
