@charset "UTF-8";
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/**
 * @author yangye
 * @design yangxuesong;
 */
/* 居中容器 */
/*边框*/
/*下边距 默认mb就是10px*/
/* 不折行截字 */
/* 折行截字 */
/* 字号22的标题 - 调整行高 */
/* 嵌套小三角 */
/* 实体小三角 */
/* 过渡动画 默认0.3秒 */
/* 平面书封hover放大到1.1倍 */
/* 父容器清浮动 */
.fans-list li {
  overflow: hidden;
  *zoom: 1; }

/* 标题下边框线 */
.rank-header .rank-toolbar-wrap p.line, .rank-tab-box {
  border-bottom: 1px solid #EBEBEB; }

.rank-nav-list p.line {
  border-bottom: 1px solid #E6E6E6; }

.rank-box {
  padding: 20px 0 0; }

.rank-nav-list {
  width: 216px;
  margin-right: 30px; }
  .rank-nav-list ul li {
    font: 14px/1 "PingFangSC-Regular", Simsun;
    margin-bottom: 20px; }
    .rank-nav-list ul li.act a {
      color: #ED4259;
      font-weight: 700; }
    .rank-nav-list ul li.act cite {
      display: inline-block;
      margin: -3px 0 0 8px;
      vertical-align: middle;
      border-top: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #ED4259;
      width: 0;
      height: 0; }
  .rank-nav-list p.line {
    margin: 17px 0; }
  .rank-nav-list h4 {
    margin-bottom: 18px;
    font-family: "PingFangSC-Regular", Simsun; }

/* 榜单内容 */
.rank-header {
  margin-bottom: 24px; }
  .rank-header h3 {
    font: 26px/26px 'FZZCYSK';
    margin-bottom: 15px; }
    .rank-header h3 span {
      margin-left: 10px;
      color: #666;
      font-size: 14px;
      font-family: "PingFangSC-Regular", Simsun; }
      .rank-header h3 span em {
        font-family: Arial;
        margin-right: 5px; }
  .rank-header .type-list {
    height: 40px;
    padding-left: 12px;
    background: #F7F6F2;
    font-size: 0; }
    .rank-header .type-list a {
      color: #A6A6A6;
      font: 12px/40px "PingFangSC-Regular", Simsun; }
      .rank-header .type-list a.act {
        color: #ED4259;
        font-weight: 700; }
      .rank-header .type-list a:hover {
        color: #ED4259; }
      .rank-header .type-list a.black {
        color: #262626; }
        .rank-header .type-list a.black:hover {
          color: #ED4259; }
    .rank-header .type-list i {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px 0 12px;
      color: #E6E6E6;
      margin-top: -2px;
      font: 14px/35px Arial; }
    .rank-header .type-list em {
      margin: 0 10px;
      color: #A6A6A6;
      font: 14px/40px Arial; }
  .rank-header .rank-toolbar-wrap {
    min-height: 80px;
    background: #F7F6F2; }
    .rank-header .rank-toolbar-wrap.notimebox {
      min-height: 40px; }
    .rank-header .rank-toolbar-wrap .tool-box {
      position: relative;
      padding: 0 12px; }
    .rank-header .rank-toolbar-wrap .type-list {
      padding-left: 0; }
    .rank-header .rank-toolbar-wrap .btn-box {
      min-height: 37px; }
    .rank-header .rank-toolbar-wrap .lbf-combobox {
      margin-top: 5px; }
      .rank-header .rank-toolbar-wrap .lbf-combobox .lbf-combobox-icon {
        top: 12px;
        right: 15px;
        border-top: 4px solid #A6A6A6;
        border-right: 4px solid transparent;
        border-bottom: 0 none;
        border-left: 4px solid transparent; }
    .rank-header .rank-toolbar-wrap .lbf-combobox .lbf-combobox-label {
      height: 18px;
      line-height: 18px;
      background: none; }
      .rank-header .rank-toolbar-wrap .lbf-combobox .lbf-combobox-label.lbf-dropdown-on {
        background: white; }

/* 榜单区域 */
.rank-body h3.wrap-title .more {
  display: inline; }

/* rank-list 此处的样式和首页的rank-list有细节上的样式差别 */
.rank-list {
  height: 450px; }
  .rank-list ul li {
    margin-top: -1px; }
    .rank-list ul li .name-box {
      border-top: 1px solid #E6E6E6;
      border-bottom: none; }
  .rank-list .tab-title {
    position: relative; }
    .rank-list .tab-title .tab-wrap {
      position: absolute;
      top: 1px;
      right: 0; }
      .rank-list .tab-title .tab-wrap a {
        color: #A6A6A6;
        font: 12px/16px "PingFangSC-Regular", Simsun; }
        .rank-list .tab-title .tab-wrap a.act, .rank-list .tab-title .tab-wrap a:hover {
          color: #ED4259; }
      .rank-list .tab-title .tab-wrap em {
        margin: 0 3px;
        color: #A6A6A6;
        font: 12px/16px Arial; }

/* 社区排行 */
.rank-tab-box {
  height: 40px;
  background: #F7F6F2; }
  .rank-tab-box a {
    text-align: center;
    display: inline-block;
    padding: 0 12px;
    font: 14px/40px "PingFangSC-Regular", Simsun; }
    .rank-tab-box a.act {
      height: 39px;
      font-weight: 700;
      color: #ED4259;
      border-bottom: 2px solid #ED4259; }

/* 粉丝列表 */
.fans-list {
  float: left;
  margin-right: 22px; }
  .fans-list.mr0 {
    margin-right: 0; }
  .fans-list h3 {
    margin-bottom: 5px; }
    .fans-list h3 b {
      display: inline-block;
      font: 700 12px/16px "PingFangSC-Regular", Simsun; }
      .fans-list h3 b.col-1 {
        margin-right: 20px; }
      .fans-list h3 b.col-2 {
        margin-right: 30px; }
  .fans-list ul {
    width: 216px; }
  .fans-list li .number, .fans-list li a {
    float: left; }
  .fans-list li .number {
    margin-right: 43px; }
  .fans-list li a {
    font: 14px/40px "PingFangSC-Regular", Simsun;
    width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .fans-list li i {
    float: right;
    font: 12px/40px Arail;
    color: #A6A6A6;
    width: 50px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; }

.rank-view-list .book-img-text li:last-of-type {
  border-bottom: none;
  margin-bottom: 0; }

/* 无数据样式 */
.no-rank-data {
  padding: 126px 0 0;
  text-align: center; }
  .no-rank-data span {
    display: block;
    width: 161px;
    height: 83px;
    margin: 0 auto 10px;
    background: url(/qd/images/rank/nodata.png) no-repeat; }
  .no-rank-data p {
    color: #808080; }

/* 1024时响应点 */
@media (max-width: 1025px) {
  .fans-list {
    margin-bottom: 22px; } }
/* retina屏双倍图 */
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .no-rank-data span {
    background: url(/qd/images/rank/nodata_3x.png) no-repeat;
    background-size: 100%; } }

/*# sourceMappingURL=rank.css.map */
