/**
 * @fileOverview
 * @author liuwentao
 * Created: 16/9/18
 */
.crash-reply{
  padding: 0.8rem;
  dt{
    padding-bottom: 0.6rem;
    font-size:0.8rem;
    color:#4a4a4a;
    font-weight: bold;
    line-height:1.2rem;
    border-bottom:1px solid #e2e3e5 ;
  }
  dd{
    font-size:0.7rem;
    color:#4a4a4a;
    line-height:1.2rem;
    padding-top: 0.4rem;
  }
  .red-d{
    padding-top: 1.1rem;
    color:#d43c33;
  }
}
