<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>玄幻奇幻_起点中文网</title>
    <meta name="description" content="最热门的免费小说网,提供人气玄幻小说,奇幻小说,武侠小说,仙侠小说,都市小说,历史小说,军事小说,竞技小说,灵异小说,二次元小说,免费小说在线阅读与下载.大神作品齐聚起点,最新章节每日更新">
    <meta name="keywords" content="免费小说,免费网络小说,免费玄幻小说,免费奇幻小说,免费武侠小说,免费仙侠小说,免费都市小说,免费历史小说,免费军事小说,免费竞技小说,免费灵异小说,免费二次元小说">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://h5.qidian.com/bookstore.html">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script>
        document.domain = 'qidian.com';
    </script>
    <!-- start speedTimer[var, zero] -->
    <script>
        var speedTimer = [],
            speedZero = new Date().getTime();
    </script>
    <!-- end speedTimer[var, zero] -->

    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/reset.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/global.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/font.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/module.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/channel.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/layout.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/qd_popup.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/footer.css">

</head>
<body style="background-image: url('/qd/images/channel/xuanhuan.png')">
<%
    /*
        设置主导航高亮navHighLight = 5
        首页无高亮（首页没设置此变量）
        1:全部作品
        2:排行
        3:完本
        4:免费
        5:频道页
    */
    var navHighLight = 5;
%>
<div class="wrap">
    <!-- start 固定导航条 样式和首页不同，非跟随页面滚动 -->
    <% include ../component/fixed_top_nav.html %>
    <!-- end 固定导航条 样式和首页不同，非跟随页面滚动 -->

    <!-- start 频道页头部 搜索 -->
    <div class="channel-header xuanhuan">
        <div class="box-center cf">
            <div class="logo-wrap">
                <a class="xh" href="javascript:"></a>
            </div>
            <div class="search-wrap">
                <input type="text" id="s-box" placeholder="神纹战记" autocomplete="off"><a class="search-btn" id="search-btn" href="javascript:"><em class="iconfont">&#xe60d;</em></a>
            </div>
        </div>
    </div>
    <!-- end 频道页头部 搜索 -->

    <!-- start 频道页内容 -->
    <div class="box-center">
        <!-- start 二级分类链接 -->
        <% include component/sub_type_link.html %>
        <!-- end 二级分类链接 -->

        <!-- start 首屏焦点 -->
        <div class="focus-wrap mb40 cf">
            <!-- start 本周强推 -->
            <% include component/week_rec.html %>
            <!-- end 本周强推 -->

            <!-- start 大频道封推 -->
            <% include component/focus_big.html %>
            <!-- end 大频道封推 -->

            <!-- start 焦点右侧最新动态 -->
            <% include component/dynamic.html %>
            <!-- end 焦点右侧最新动态 -->
        </div>
        <!-- end 首屏焦点 -->

        <!-- start 分类新书，新书榜 -->
        <div class="new-book-wrap mb40 cf">
            <!-- start 分类新书 -->
            <% include component/type_new_book.html %>
            <!-- end 分类新书 -->

            <!-- start 右侧榜单 -->
            <div class="right-rank fr">
                <!-- start 新书榜 -->
                <% include component/newbook_rank.html %>
                <!-- end 新书榜 -->
            </div>
            <!-- end 右侧榜单 -->

        </div>
        <!-- end 分类新书，新书榜 -->

        <!-- start 人气连载，24小时热销榜 -->
        <div class="serial-wrap cf">
            <!-- start 人气连载 -->
            <div class="popular-serial fl">
                <div class="left-wrap">
                    <h3>人气连载</h3>
                    <div class="popular-wrap cf">
                        <!-- start 轮播图 -->
                        <% include component/slider.html %>
                        <!-- end 轮播图 -->

                        <!-- start 人气连载列表（大频道） -->
                        <% include component/pop_list_big.html %>
                        <!-- end 人气连载列表（大频道）-->
                    </div>
                </div>
            </div>
            <!-- end 人气连载 -->

            <!-- start 右侧榜单 -->
            <div class="right-rank fr">
                <!-- start 24小时热销榜 -->
                <% include component/sales_rank.html %>
                <!-- end 24小时热销榜 -->
            </div>
            <!-- end 右侧榜单 -->
        </div>
        <!-- end 人气连载，24小时热销榜 -->

        <!-- start banner1 -->
        <% include component/banner1.html %>
        <!-- end banner1 -->


        <!-- start 热门分类 -->
        <div class="hot-type-wrap cf">
            <!-- start 左边区块 -->
            <div class="left-wrap fl">
                <h3>热门分类</h3>
                <!-- start 第一个有封面的区块 -->
                <% include component/hot_type_img_list.html %>
                <!-- end 第一个有封面的区块 -->

                <!-- start 空标签勿删，横线样式复用 -->
                <h3></h3>
                <!-- end 空标签勿删，横线样式复用 -->
                
                <!-- start 第二个有封面的区块 -->
                <% include component/hot_type_img_list.html %>
                <!-- end 第二个有封面的区块 -->

                <!-- start 第三个没封面的列表区块 -->
                <div class="hot-type-block cf">
                    <!-- start 底部左区块 -->
                    <% include component/hot_type_noImg_list.html %>
                    <!-- end 底部左区块 -->

                    <!-- start 底部右区块 -->
                    <% include component/hot_type_noImg_list.html %>
                    <!-- end 底部右区块 -->
                </div>
                <!-- end 第三个没封面的列表区块 -->
            </div>
            <!-- end 左边区块 -->

            <!-- start 右边榜单区块 -->
            <div class="right-rank fr">
                <!-- start 月票榜 -->
                <% include component/month_rank.html %>
                <!-- end 月票榜 -->

                <!-- start 打赏粉丝榜 -->
                <% include component/reward_rank.html %>
                <!-- end 打赏粉丝榜 -->
            </div>
            <!-- end 右边榜单区块 -->
        </div>
        <!-- end 热门分类 -->

        <!-- start banner2 -->
        <% include component/banner2.html %>
        <!-- end banner2 -->

        <!-- start 专题回顾 -->
        <% include component/topic.html %>
        <!-- end 专题回顾 -->

        <!-- start 最近更新 -->
        <% include component/update.html %>
        <!-- end 最近更新 -->
    </div>
    <!-- end 频道页内容 -->

    <!-- start 页脚 -->
    <% include ../layout/footer.html %>
    <!-- end 页脚 -->
</div>
<!-- start LBF lib -->
<script data-ignore="true" src="//<%= staticConf.staticDomain %>/lbf/1.0.2/LBF.js?max_age=31536000"></script>
<script>
    LBF.config(<%- JSON.stringify(staticConf.lbf.conf) -%>);
    // 全局的通用数据都放g_data变量里h
    var g_data = {};
    // 环境变量，会按照环境选择性打log
    g_data.envType = '<%= envType %>';
    // 用作统计PV
    g_data.pageId = 'qd_P_channel';

    // 当前页面路由
    g_data.domain =  '//<%= staticConf.domainPrefix%>channel.qidian.com';
    // 域名环境变量
    g_data.domainSearch = '<%= staticConf.domainPrefix %>se.qidian.com';
</script>
<script>
    LBF.use(['lib.jQuery', 'monitor.SpeedReport','/qd/js/channel/index.js'], function ($, SpeedReport,Index) {
        // 页面逻辑入口
        new Index({});
        $(window).on('load.speedReport', function () {
            // speedTimer[onload]
            speedTimer.push(new Date().getTime());
                var f1 = 7718, // china reading limited's ID
                    f2 = 219, // site ID
                    f3 = 17; // page ID
            // chrome & IE9 Performance API
            SpeedReport.reportPerformance({
                flag1: f1,
                flag2: f2,
                flag3IE: f3,
                flag3Chrome: f3
            });
            // common speedTimer:['dom ready', 'onload']
            var speedReport = SpeedReport.create({
                flag1: f1,
                flag2: f2,
                flag3: f3,
                start: speedZero
            });
            // chrome & IE9 Performance API range 1~19, common speedTimer use 20+
            for (var i = 0; i < speedTimer.length; i++) {
                speedReport.add(speedTimer[i], i + 20)
            }
            // http://isdspeed.qq.com/cgi-bin/r.cgi?flag1=7718&flag2=224&flag3=1&1=38&2=38&…
            speedReport.send();
        })
    });
    // speedTimer[dom ready], put it before </body>
    speedTimer.push(new Date().getTime());
</script>
<!-- end LBF lib -->

</body>
</html>
