
            <div class="rank-header">
                   <h3><a class="link" href="http://wwwploy.qidian.com/HelpCenter/default.aspx?type=0&categoryid=67&parentid=13" target="_blank">榜单规则</a>人气榜单<span><em><%= data['updTime'] %></em>更新</span></h3>
                <div class="type-list">
                    <p>
                        <a data-chanid="-1" <%=actindex %>  href="javascript:" data-aid="qd_C_rank_01">全部分类</a><em>&#183;</em>
                        <a data-chanid="21" <%=actxuanhuan %>  href="javascript:" data-aid="qd_C_rank_02">玄幻</a><em>&#183;</em>
                        <a data-chanid="1" <%=actqihuan %>  href="javascript:" data-aid="qd_C_rank_03">奇幻</a><em>&#183;</em>
                        <a data-chanid="2" <%=actwuxia %>  href="javascript:" data-aid="qd_C_rank_04">武侠</a><em>&#183;</em>
                        <a data-chanid="22" <%=actxianxia %>  href="javascript:" data-aid="qd_C_rank_05">仙侠</a><em>&#183;</em>
                        <a data-chanid="4" <%=actdushi %>  href="javascript:" data-aid="qd_C_rank_06">都市</a><em>&#183;</em>
                        <a data-chanid="15" <%=actzhichang %>  href="javascript:" data-aid="qd_C_rank_07">职场</a><em>&#183;</em>
                        <a data-chanid="6" <%=actjunshi %>  href="javascript:" data-aid="qd_C_rank_08">军事</a><em>&#183;</em>
                        <a data-chanid="5" <%=actlishi %>  href="javascript:" data-aid="qd_C_rank_09">历史</a><em>&#183;</em>
                        <a data-chanid="7" <%=actyouxi %>  href="javascript:" data-aid="qd_C_rank_10">游戏</a><em>&#183;</em>
                        <a data-chanid="8" <%=actjingji %>  href="javascript:" data-aid="qd_C_rank_11">体育</a><em>&#183;</em>
                        <a data-chanid="9" <%=actkehuan %>  href="javascript:" data-aid="qd_C_rank_12">科幻</a><em>&#183;</em>
                        <a data-chanid="10" <%=actlingyi %>  href="javascript:" data-aid="qd_C_rank_13">灵异</a><em>&#183;</em>
                        <a data-chanid="12" <%=acterciyuan %>  href="javascript:" data-aid="qd_C_rank_14">二次元</a>
                    </p>
                </div>
            </div>