<div class="notice-wrap fr">
    <div class="notice-box">
        <!-- start 编辑力荐 -->
        <div class="edit-rec">
            <h3>编辑力荐</h3>
            <p title="你的票是起点创世存在的意义">你的票是起点创世存在的意义</p>
            <p class="blue">——原始战记<i>&#183;</i><a href="javascript:">风铃天下</a></p>
        </div>
        <!-- end 编辑力荐 -->

        <!-- start 频道动态 -->
        <div class="dynamic-list">
            <h3>频道动态</h3>
            <ul>
                <% for(var i=0; i < 4; i++) { %>
                <li><a href="javascript:"><em>「</em>公告<em>」</em>现实主义题材征赛全面</a></li>
                <% } %>
            </ul>
        </div>
        <!-- end 频道动态 -->
    </div>

    <!-- start 频道页小广告 -->
    <a class="banner" href="javascript:"><img src="<%= staticConf.staticPath %>/images/channel_banner.jpg" alt=""></a>
    <!-- end 频道页小广告 -->

</div>