<div class="channel-focus big-mode fl">
    <div class="big-list cf">
        <ul>
            <% for(var i=0; i < 5; i++) { %>
            <li>
                <div class="img-box">
                    <a href="javascript:"><img src="<%= staticConf.staticPath %>/images/book_72_96.jpg" alt=""></a>
                </div>
                <h3><a href="javascript:">超能战神</a></h3>
                <p>是要成为地主的男人</p>
            </li>

            <% } %>
        </ul>
    </div>
    <div class="new-wrap cf">
        <h3><span>新书精选</span><cite></cite></h3>
        <ul>
            <li class="fl"><a href="javascript:">八神徐天</a><i>&#183;</i><span>一二三四五六七八九十一二三四一二三四五六七八九十一二三四</span></li>
            <li class="fr"><a href="javascript:">八神徐天八神徐天</a><i>&#183;</i><span>一二三四五六七八九十一二三四</span></li>
            <li class="fl"><a href="javascript:">八神徐天</a><i>&#183;</i><span>一二三四五六七八九十一二三四一二三四五六七八九十一二三四</span></li>
            <li class="fr"><a href="javascript:">八神徐天八神徐天</a><i>&#183;</i><span>一二三四五六七八九十一二三四</span></li>
        </ul>
    </div>
</div>