<div class="hot-type-block mb30 cf">
    <!-- start 二级分类信息 -->
    <div class="sub-type-info fl">
        <div class="inner">
            <div class="type-info">
                <h4><em>「</em><b>东方玄幻</b><em>」</em></h4>
                <p>东方背景下，基于魔法，法术或异世界的幻想作品</p>
                <a class="blue" href="javascript:">查看全部<span class="iconfont">&#xe621;</span></a>
            </div>
            <div class="author-info">
                <div class="relation">
                    <h4>玄幻大神</h4>
                    <p class="writer">作者<a class="blue" href="javascript:">独孤浪子</a></p>
                    <p class="state">更新了作品<a class="blue" href="javascript:">《撒旦天启之门》</a></p>
                </div>
                <div class="photo"><img src="<%= staticConf.staticPath %>/images/photo.png"><span>L8</span></div>
            </div>
        </div>
    </div>
    <!-- end 二级分类信息 -->

    <!-- start 分类列表 -->
    <div class="sub-type-list channel-book-list fl">
        <ul>
            <% for(var i=0; i < 6; i++) { %>
            <li class="have-img">
                <div class="book-img fl">
                    <a href="javascript:"><img src="<%= staticConf.staticPath %>/images/book_72_96.jpg" alt=""><span>9.8</span></a>
                </div>
                <div class="book-info fl">
                    <h4><a href="javascript:">武破九荒</a></h4>
                    <p class="intro">作品简介作品简介作品简介作品简介作简介作品简介作品简介作品简介作品简介作简介作品简介作品简介作品简介作品简介作简介</p>
                    <div class="state-box cf">
                        <a class="author" href="http://me.qidian.com/authorIndex.aspx?id=3815374" target="_blank"><img src="//local.qidian.com/qd/images/ico/user.png">缠绕在指尖的灵感</a>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
    <!-- end 分类列表 -->
</div>