<div class="bottom fl">
    <!-- start 空标签勿删，横线样式复用 -->
    <h3></h3>
    <!-- end 空标签勿删，横线样式复用 -->

    <!-- start 主推 -->
    <div class="sub-type-info fl">
        <div class="inner">
            <div class="type-info">
                <h4><em>「</em><b>异界大陆</b><em>」</em></h4>
                <p>东方背景下，基于魔法，法术或异世界的幻想作品</p>
                <a class="blue" href="javascript:">查看全部<span class="iconfont"></span></a>
            </div>
            <div class="type-book-wrap">
                <div class="book-cover">
                    <a class="link" href="http://www.qidian.com/Book/3347598.aspx" target="_blank">
                        <img src="http://image.cmfu.com/books/3347598/3347598.jpg">
                    </a>
                    <span></span>
                </div>
                <div class="book-info">
                    <h4><a href="javascript:">武破九荒</a></h4>
                    <p><a class="author" href="javascript:" target="_blank"><img src="//local.qidian.com/qd/images/ico/user.png">缠绕在指尖的灵感</a></p>
                    <p>生机把是我！大事地潜龙归大事第蹲着！</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end 主推 -->

    <!-- start 有评分的列表 -->
    <div class="bottom-book-list fl">
        <ul>
            <% for(var i=0; i < 4; i++) { %>
            <li>
                <h4><span>9.0<em>分</em></span><a href="javascript:">大圣道</a></h4>
                <p>小说介绍小说介绍小说介绍小说介绍小说介绍小说介绍小说介绍小说介绍小说介绍</p>
            </li>
            <% } %>
        </ul>
    </div>
    <!-- end 有评分的列表 -->
</div>