<div class="rank-list">
    <h3 class="wrap-title">签约作家新书榜<a class="more" href="//localr.qidian.com/collect" data-aid="qd_C_rank_37"></a></h3>
    <div class="book-list">

        <ul>
            <!-- start top 1 2 3 -->
            <% for(var i=0; i < 3; i++) { %>
            <li class="top">
                <div class="num-box"><span class="num<%=i+1 %>"><%=i+1 %></span></div>
                <div class="top-name-box">
                    <p><a href="javascript:">寻龙诀</a></p>
                    <p><span>23424</span>潜力值</p>
                </div>
                <div class="book-img">
                    <a href="javascript:"><img src="<%= staticConf.staticPath %>/images/book_72_96.jpg" alt=""></a>
                </div>
            </li>
            <% } %>
            <!-- end top 1 2 3 -->

            <!-- start 4-10 -->
            <% for(var i=3; i < 10; i++) { %>
            <li>
                <div class="num-box"><span><%=i+1 %></span></div>
                <div class="name-box" data-aid="qd_C_rank_21">
                    <a class="name" href="javascript:" target="_blank">斗罗大陆</a>
                    <i class="total">63023084</i>
                </div>
            </li>
            <% } %>
            <!-- end 4-10 -->
        </ul>
    </div>
</div>