<div class="pop-list channel-book-list big-mode fl">
    <ul>
        <% for(var i=0; i < 3; i++) { %>
        <li class="have-img">
            <div class="book-img fl">
                <a href="javascript:"><img src="<%= staticConf.staticPath %>/images/book_72_96.jpg" alt=""><span>9.8</span></a>
            </div>
            <div class="book-info fl">
                <h4><a href="javascript:">武破九荒</a></h4>
                <p class="intro">作品简介作品简介作品简介作品简介作简介作品简介作品简介作品简介作品简介作简介作品简介作品简介作品简介作品简介作简介</p>
                <div class="state-box cf">
                    <a class="author" href="http://me.qidian.com/authorIndex.aspx?id=3815374" target="_blank"><img src="//local.qidian.com/qd/images/ico/user.png">缠绕在指尖的灵感</a>
                </div>
            </div>
        </li>
        <% } %>
        <% for(var i=4; i < 16; i++) { %>
        <li>
            <div class="no-img-info">
                <h4><span>9.0<em>分</em></span><a href="javascript:">大圣道</a></h4>
                <p>重做回嗜血刺客，残酷的暴君的女枪能力残酷的暴君的女枪能力</p>
            </div>
        </li>
        <% } %>

    </ul>
</div>