<div class="update-wrap mb40 cf">
    <!-- start 更新推荐-->
    <div class="update-rec-wrap fl">
        <h3 class="wrap-title">最近更新<span>24小时内更新111本</span></h3>
        <div class="update-rec-list">
            <ul>
                <% for(var i=0; i < 2; i++) { %>
                <li>
                    <div class="book-wrap cf">
                        <div class="book-info fr">
                            <h4>
                                <a href="" target="_blank" data-bid="">书名</a></h4>
                            <p class="digital">日更8k+<i>&#183;</i>9.0分</p>
                            <p class="author">
                                <a class="writer" href="" target="_blank">作者名</a>
                            </p>
                        </div>
                        <div class="book-cover">
                            <a class="link" href="" target="_blank" data-bid="">
                                <img src="<%= staticConf.staticPath %>/images/book_72_96.jpg" alt="">
                            </a>
                            <span></span>
                        </div>
                    </div>
                    <p class="intro">介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                    <p><a class="blue" href="javascript:">立即阅读<em class="iconfont">&#xe621;</em></a></p>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <!-- end 更新推荐-->

    <!-- start 更新列表 -->
    <div class="update-list-wrap fl" data-aid="qd_A135">
        <div class="update-tab cf">
            <a class="blue" href="//<%= staticConf.domainPrefix %>a.qidian.com" target="_blank" data-aid="qd_A140">更多<em class="iconfont">&#xe621;</em></a><span class="blue">&#124;</span>
            <p id="update-tab">
                <a class="act" href="javascript:" data-aid="qd_A137">全部</a><span>&#183;</span><a href="javascript:" data-aid="qd_A138">免费</a><span>&#183;</span><a href="javascript:" data-aid="qd_A139">VIP</a>
            </p>
        </div>
        <!-- start 表格列表 -->
        <div id="update-list" class="update-list">
            <!-- start 更新列表全部 -->
            <div class="update-table all">
                <table width="100%">
                    <colgroup>
                        <col width="74px">
                        <col width="150px">
                        <col width="270px">
                        <col width="100px">
                        <col width="70px">
                    </colgroup>
                    <tbody>
                    <% for(var i=0; i < chartUpdList.length; i++) { %>
                    <tr>
                        <td><a class="classify" href="<%= chartUpdList[i]['chanUrl'] %>" target="_blank"><em>「</em><%=
                            chartUpdList[i]['chanName'] %><em>」</em></a></td>
                        <td>
                            <a class="name" href="http://www.qidian.com/Book/<%= chartUpdList[i]['bookId'] %>.aspx %>" target="_blank" data-bid="<%= chartUpdList[i]['bookId'] %>"><%=
                                chartUpdList[i]['bookName'] %></a></td>
                        <td><a class="section" href="<%= chartUpdList[i]['updChapterUrl'] %>" data-chapterUrl="<%= chartUpdListVip[i]['updChapterUrl'] %>" target="_blank"><%=
                            chartUpdList[i]['updChapterName'] %></a>
                            <% if(chartUpdList[i]['isVip']==1) { %> <span class="vip"></span> <% } %>
                        </td>
                        <td class="respon">
                            <a class="author" href="http://me.qidian.com/authorIndex.aspx?id=<%= chartUpdList[i]['authorId']  %>" target="_blank"><%=
                                chartUpdList[i]['authorName'] %></a></td>
                        <td class="respon"><i><%= chartUpdList[i]['updTime'] %></i></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <!-- end 更新列表全部 -->
            <!-- start 更新列表免费 -->
            <div class="update-table free hidden">
                <table width="100%">
                    <colgroup>
                        <col width="60px">
                        <col width="170px">
                        <col width="270px">
                        <col width="100px">
                        <col width="70px">
                    </colgroup>
                    <tbody>
                    <% for(var i=0; i < chartUpdListFree.length; i++) { %>
                    <tr>
                        <td><a class="classify" href="<%= chartUpdListFree[i]['chanUrl'] %>" target="_blank"><em>「</em><%=
                            chartUpdListFree[i]['chanName'] %><em>」</em></a></td>
                        <td>
                            <a class="name" href="http://www.qidian.com/Book/<%= chartUpdListFree[i]['bookId'] %>.aspx %>" target="_blank" data-bid="<%= chartUpdListFree[i]['bookId'] %>"><%=
                                chartUpdListFree[i]['bookName'] %></a></td>
                        <td><a class="section" href="<%= chartUpdListFree[i]['updChapterUrl'] %>" data-chapterUrl="<%= chartUpdListVip[i]['updChapterUrl'] %>" target="_blank"><%=
                            chartUpdListFree[i]['updChapterName'] %></a>
                        </td>
                        <td class="respon">
                            <a class="author" href="http://me.qidian.com/authorIndex.aspx?id=<%= chartUpdListFree[i]['authorId']  %>" target="_blank"><%=
                                chartUpdListFree[i]['authorName'] %></a></td>
                        <td class="respon"><i><%= chartUpdListFree[i]['updTime'] %></i></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <!-- end 更新列表免费 -->
            <!-- start 更新列表vip -->
            <div class="update-table vip hidden">
                <table width="100%">
                    <colgroup>
                        <col width="60px">
                        <col width="170px">
                        <col width="270px">
                        <col width="100px">
                        <col width="70px">
                    </colgroup>
                    <tbody>
                    <% for(var i=0; i < chartUpdListVip.length; i++) { %>
                    <tr>
                        <td><a class="classify" href="<%= chartUpdListVip[i]['chanUrl'] %>" target="_blank"><em>「</em><%=
                            chartUpdListVip[i]['chanName'] %><em>」</em></a></td>
                        <td>
                            <a class="name" href="http://www.qidian.com/Book/<%= chartUpdListVip[i]['bookId'] %>.aspx %>" target="_blank" data-bid="<%= chartUpdListVip[i]['bookId'] %>"><%=
                                chartUpdListVip[i]['bookName'] %></a></td>
                        <td><a class="section" href="<%= chartUpdListVip[i]['updChapterUrl'] %>" target="_blank" data-chapterUrl="<%= chartUpdListVip[i]['updChapterUrl'] %>"><%=
                            chartUpdListVip[i]['updChapterName'] %></a>
                            <% if(chartUpdListVip[i]['isVip']==1) { %> <span class="vip"></span> <% } %>
                        </td>
                        <td class="respon">
                            <a class="author" href="http://me.qidian.com/authorIndex.aspx?id=<%= chartUpdListVip[i]['authorId']  %>" target="_blank"><%=
                                chartUpdListVip[i]['authorName'] %></a></td>
                        <td class="respon"><i><%= chartUpdListVip[i]['updTime'] %></i></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <!-- end 更新列表vip -->
        </div>
        <!-- end 表格列表 -->
    </div>
    <!-- end 更新列表 -->

    <!-- start 完本精品 -->
    <div class="update-fin-wrap fr">
        <h3 class="wrap-title">完本精品<a class="more" href="javascript:"></a></h3>
        <div class="update-fin-list">
            <ul>
                <% for(var i=0; i < 5; i++) { %>
                <li>
                    <div class="book-img">
                        <a href="javascript:"><img src="<%= staticConf.staticPath %>/images/book_72_96.jpg" alt=""></a>
                    </div>
                    <div class="book-info">
                        <p><span>都市生活</span><i>652完字</i></p>
                        <h3><a href="javascript:">书名书名</a></h3>
                        <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <!-- end 完本精品 -->
</div>