/**
 * $author rainszhang
 */
/*
* Clearfix
*
* Clears floats inside the container
*/
.lbf-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  border: 1px solid transparent;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-image: none;
  touch-action: manipulation;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.42857;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "PingFangSC-Regular", "-apple-system", Simsun;
  /* Firefox: Get rid of the inner focus border */ }
  .lbf-button:hover, .lbf-button:focus, .lbf-button.focus {
    text-decoration: none;
    color: #333; }
  .lbf-button.disabled, .lbf-button-disabled, .lbf-button[disabled], fieldset[disabled] .lbf-button {
    cursor: not-allowed;
    opacity: 0.65;
    filter: "alpha(opacity=65)";
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none; }
  .lbf-button ::-moz-focus-inner {
    border: 0;
    padding: 0; }

/*.lbf-button,
.lbf-button-default {
	@include button-variant($lbf-button-default-color, $lbf-button-default-bg, $lbf-button-default-border);
}*/
.lbf-button-primary {
  border-color: #2b6feb;
  color: #FFF;
  background-color: #427FED; }
  .lbf-button-primary:focus, .lbf-button-primary.focus {
    border-color: #0d3989;
    color: #FFF;
    background-color: #1660e6; }
  .lbf-button-primary:hover {
    border-color: #1353c5;
    color: #FFF;
    background-color: #1660e6; }
  .lbf-button-primary:active, .lbf-button-primary.active,
  .lbf-button-primary .open > .dropdown-toggle {
    border-color: #1353c5;
    color: #FFF;
    background-color: #1660e6; }
    .lbf-button-primary:active:hover, .lbf-button-primary:active:focus, .lbf-button-primary:active.focus, .lbf-button-primary.active:hover, .lbf-button-primary.active:focus, .lbf-button-primary.active.focus,
    .lbf-button-primary .open > .dropdown-toggle:hover,
    .lbf-button-primary .open > .dropdown-toggle:focus,
    .lbf-button-primary .open > .dropdown-toggle.focus {
      border-color: #0d3989;
      color: #FFF;
      background-color: #1353c5; }
  .lbf-button-primary:active, .lbf-button-primary.active,
  .lbf-button-primary .open > .dropdown-toggle {
    background-image: none; }
  .lbf-button-primary.disabled:hover, .lbf-button-primary.disabled:focus, .lbf-button-primary.disabled:active, .lbf-button-primary.disabled.focus, .lbf-button-primary.lbf-button-disabled:hover, .lbf-button-primary.lbf-button-disabled:focus, .lbf-button-primary.lbf-button-disabled:active, .lbf-button-primary.lbf-button-disabled.focus,
  .lbf-button-primary .lbf-button-disabled:hover,
  .lbf-button-primary .lbf-button-disabled:focus,
  .lbf-button-primary .lbf-button-disabled:active,
  .lbf-button-primary .lbf-button-disabled.focus, .lbf-button-primary[disabled]:hover, .lbf-button-primary[disabled]:focus, .lbf-button-primary[disabled]:active, .lbf-button-primary[disabled].focus,
  .lbf-button-primary fieldset[disabled]:hover,
  .lbf-button-primary fieldset[disabled]:focus,
  .lbf-button-primary fieldset[disabled]:active,
  .lbf-button-primary fieldset[disabled].focus {
    border-color: #2b6feb;
    background-color: #427FED; }
  .lbf-button-primary .badge {
    color: #427FED;
    background-color: #FFF; }

.lbf-button-success {
  border-color: #4cae4c;
  color: #FFF;
  background-color: #5CB85C; }
  .lbf-button-success:focus, .lbf-button-success.focus {
    border-color: #255625;
    color: #FFF;
    background-color: #449d44; }
  .lbf-button-success:hover {
    border-color: #398439;
    color: #FFF;
    background-color: #449d44; }
  .lbf-button-success:active, .lbf-button-success.active,
  .lbf-button-success .open > .dropdown-toggle {
    border-color: #398439;
    color: #FFF;
    background-color: #449d44; }
    .lbf-button-success:active:hover, .lbf-button-success:active:focus, .lbf-button-success:active.focus, .lbf-button-success.active:hover, .lbf-button-success.active:focus, .lbf-button-success.active.focus,
    .lbf-button-success .open > .dropdown-toggle:hover,
    .lbf-button-success .open > .dropdown-toggle:focus,
    .lbf-button-success .open > .dropdown-toggle.focus {
      border-color: #255625;
      color: #FFF;
      background-color: #398439; }
  .lbf-button-success:active, .lbf-button-success.active,
  .lbf-button-success .open > .dropdown-toggle {
    background-image: none; }
  .lbf-button-success.disabled:hover, .lbf-button-success.disabled:focus, .lbf-button-success.disabled:active, .lbf-button-success.disabled.focus, .lbf-button-success.lbf-button-disabled:hover, .lbf-button-success.lbf-button-disabled:focus, .lbf-button-success.lbf-button-disabled:active, .lbf-button-success.lbf-button-disabled.focus,
  .lbf-button-success .lbf-button-disabled:hover,
  .lbf-button-success .lbf-button-disabled:focus,
  .lbf-button-success .lbf-button-disabled:active,
  .lbf-button-success .lbf-button-disabled.focus, .lbf-button-success[disabled]:hover, .lbf-button-success[disabled]:focus, .lbf-button-success[disabled]:active, .lbf-button-success[disabled].focus,
  .lbf-button-success fieldset[disabled]:hover,
  .lbf-button-success fieldset[disabled]:focus,
  .lbf-button-success fieldset[disabled]:active,
  .lbf-button-success fieldset[disabled].focus {
    border-color: #4cae4c;
    background-color: #5CB85C; }
  .lbf-button-success .badge {
    color: #5CB85C;
    background-color: #FFF; }

.lbf-button-info {
  border-color: #46b8da;
  color: #FFF;
  background-color: #5BC0DE; }
  .lbf-button-info:focus, .lbf-button-info.focus {
    border-color: #1b6d85;
    color: #FFF;
    background-color: #31b0d5; }
  .lbf-button-info:hover {
    border-color: #269abc;
    color: #FFF;
    background-color: #31b0d5; }
  .lbf-button-info:active, .lbf-button-info.active,
  .lbf-button-info .open > .dropdown-toggle {
    border-color: #269abc;
    color: #FFF;
    background-color: #31b0d5; }
    .lbf-button-info:active:hover, .lbf-button-info:active:focus, .lbf-button-info:active.focus, .lbf-button-info.active:hover, .lbf-button-info.active:focus, .lbf-button-info.active.focus,
    .lbf-button-info .open > .dropdown-toggle:hover,
    .lbf-button-info .open > .dropdown-toggle:focus,
    .lbf-button-info .open > .dropdown-toggle.focus {
      border-color: #1b6d85;
      color: #FFF;
      background-color: #269abc; }
  .lbf-button-info:active, .lbf-button-info.active,
  .lbf-button-info .open > .dropdown-toggle {
    background-image: none; }
  .lbf-button-info.disabled:hover, .lbf-button-info.disabled:focus, .lbf-button-info.disabled:active, .lbf-button-info.disabled.focus, .lbf-button-info.lbf-button-disabled:hover, .lbf-button-info.lbf-button-disabled:focus, .lbf-button-info.lbf-button-disabled:active, .lbf-button-info.lbf-button-disabled.focus,
  .lbf-button-info .lbf-button-disabled:hover,
  .lbf-button-info .lbf-button-disabled:focus,
  .lbf-button-info .lbf-button-disabled:active,
  .lbf-button-info .lbf-button-disabled.focus, .lbf-button-info[disabled]:hover, .lbf-button-info[disabled]:focus, .lbf-button-info[disabled]:active, .lbf-button-info[disabled].focus,
  .lbf-button-info fieldset[disabled]:hover,
  .lbf-button-info fieldset[disabled]:focus,
  .lbf-button-info fieldset[disabled]:active,
  .lbf-button-info fieldset[disabled].focus {
    border-color: #46b8da;
    background-color: #5BC0DE; }
  .lbf-button-info .badge {
    color: #5BC0DE;
    background-color: #FFF; }

.lbf-button-warning {
  border-color: #eea236;
  color: #FFF;
  background-color: #F0AD4E; }
  .lbf-button-warning:focus, .lbf-button-warning.focus {
    border-color: #985f0d;
    color: #FFF;
    background-color: #ec971f; }
  .lbf-button-warning:hover {
    border-color: #d58512;
    color: #FFF;
    background-color: #ec971f; }
  .lbf-button-warning:active, .lbf-button-warning.active,
  .lbf-button-warning .open > .dropdown-toggle {
    border-color: #d58512;
    color: #FFF;
    background-color: #ec971f; }
    .lbf-button-warning:active:hover, .lbf-button-warning:active:focus, .lbf-button-warning:active.focus, .lbf-button-warning.active:hover, .lbf-button-warning.active:focus, .lbf-button-warning.active.focus,
    .lbf-button-warning .open > .dropdown-toggle:hover,
    .lbf-button-warning .open > .dropdown-toggle:focus,
    .lbf-button-warning .open > .dropdown-toggle.focus {
      border-color: #985f0d;
      color: #FFF;
      background-color: #d58512; }
  .lbf-button-warning:active, .lbf-button-warning.active,
  .lbf-button-warning .open > .dropdown-toggle {
    background-image: none; }
  .lbf-button-warning.disabled:hover, .lbf-button-warning.disabled:focus, .lbf-button-warning.disabled:active, .lbf-button-warning.disabled.focus, .lbf-button-warning.lbf-button-disabled:hover, .lbf-button-warning.lbf-button-disabled:focus, .lbf-button-warning.lbf-button-disabled:active, .lbf-button-warning.lbf-button-disabled.focus,
  .lbf-button-warning .lbf-button-disabled:hover,
  .lbf-button-warning .lbf-button-disabled:focus,
  .lbf-button-warning .lbf-button-disabled:active,
  .lbf-button-warning .lbf-button-disabled.focus, .lbf-button-warning[disabled]:hover, .lbf-button-warning[disabled]:focus, .lbf-button-warning[disabled]:active, .lbf-button-warning[disabled].focus,
  .lbf-button-warning fieldset[disabled]:hover,
  .lbf-button-warning fieldset[disabled]:focus,
  .lbf-button-warning fieldset[disabled]:active,
  .lbf-button-warning fieldset[disabled].focus {
    border-color: #eea236;
    background-color: #F0AD4E; }
  .lbf-button-warning .badge {
    color: #F0AD4E;
    background-color: #FFF; }

.lbf-button-danger {
  border-color: #d43f3a;
  color: #FFF;
  background-color: #D9534F; }
  .lbf-button-danger:focus, .lbf-button-danger.focus {
    border-color: #761c19;
    color: #FFF;
    background-color: #c9302c; }
  .lbf-button-danger:hover {
    border-color: #ac2925;
    color: #FFF;
    background-color: #c9302c; }
  .lbf-button-danger:active, .lbf-button-danger.active,
  .lbf-button-danger .open > .dropdown-toggle {
    border-color: #ac2925;
    color: #FFF;
    background-color: #c9302c; }
    .lbf-button-danger:active:hover, .lbf-button-danger:active:focus, .lbf-button-danger:active.focus, .lbf-button-danger.active:hover, .lbf-button-danger.active:focus, .lbf-button-danger.active.focus,
    .lbf-button-danger .open > .dropdown-toggle:hover,
    .lbf-button-danger .open > .dropdown-toggle:focus,
    .lbf-button-danger .open > .dropdown-toggle.focus {
      border-color: #761c19;
      color: #FFF;
      background-color: #ac2925; }
  .lbf-button-danger:active, .lbf-button-danger.active,
  .lbf-button-danger .open > .dropdown-toggle {
    background-image: none; }
  .lbf-button-danger.disabled:hover, .lbf-button-danger.disabled:focus, .lbf-button-danger.disabled:active, .lbf-button-danger.disabled.focus, .lbf-button-danger.lbf-button-disabled:hover, .lbf-button-danger.lbf-button-disabled:focus, .lbf-button-danger.lbf-button-disabled:active, .lbf-button-danger.lbf-button-disabled.focus,
  .lbf-button-danger .lbf-button-disabled:hover,
  .lbf-button-danger .lbf-button-disabled:focus,
  .lbf-button-danger .lbf-button-disabled:active,
  .lbf-button-danger .lbf-button-disabled.focus, .lbf-button-danger[disabled]:hover, .lbf-button-danger[disabled]:focus, .lbf-button-danger[disabled]:active, .lbf-button-danger[disabled].focus,
  .lbf-button-danger fieldset[disabled]:hover,
  .lbf-button-danger fieldset[disabled]:focus,
  .lbf-button-danger fieldset[disabled]:active,
  .lbf-button-danger fieldset[disabled].focus {
    border-color: #d43f3a;
    background-color: #D9534F; }
  .lbf-button-danger .badge {
    color: #D9534F;
    background-color: #FFF; }

.lbf-button-link {
  border-radius: 0;
  font-weight: normal;
  color: #427FED; }
  .lbf-button-link, .lbf-button-link:active, .lbf-button-link.active {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .lbf-button-link, .lbf-button-link:hover, .lbf-button-link:focus, .lbf-button-link:active {
    border-color: transparent; }
  .lbf-button-link:hover, .lbf-button-link:focus {
    text-decoration: underline;
    color: #1456cf;
    background-color: transparent; }
  .lbf-button-link.disabled, .lbf-button-link.lbf-button-disabled,
  .lbf-button-link .lbf-button-disabled, .lbf-button-link[disabled],
  .lbf-button-link fieldset[disabled] {
    color: #777777; }
    .lbf-button-link.disabled:hover, .lbf-button-link.disabled:focus, .lbf-button-link.disabled:active, .lbf-button-link.lbf-button-disabled:hover, .lbf-button-link.lbf-button-disabled:focus, .lbf-button-link.lbf-button-disabled:active,
    .lbf-button-link .lbf-button-disabled:hover,
    .lbf-button-link .lbf-button-disabled:focus,
    .lbf-button-link .lbf-button-disabled:active, .lbf-button-link[disabled]:hover, .lbf-button-link[disabled]:focus, .lbf-button-link[disabled]:active,
    .lbf-button-link fieldset[disabled]:hover,
    .lbf-button-link fieldset[disabled]:focus,
    .lbf-button-link fieldset[disabled]:active {
      text-decoration: none;
      color: #777777;
      background-color: transparent;
      border-color: transparent; }

.lbf-button-normal {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.42857; }

.lbf-button-large {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33333; }

.lbf-button-small {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 5px 10px;
  font-size: 11px;
  line-height: 1.5; }

.lbf-button-block {
  display: block;
  width: 100%; }

.lbf-button-block + .lbf-button-block {
  margin-top: 5px; }

input[type="submit"].lbf-button-block,
input[type="reset"].lbf-button-block,
input[type="button"].lbf-button-block {
  width: 100%; }

.lbf-button-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }
  .lbf-button-group > .lbf-button {
    position: relative;
    float: left;
    margin-left: -1px; }
    .lbf-button-group > .lbf-button:hover, .lbf-button-group > .lbf-button:focus, .lbf-button-group > .lbf-button:active, .lbf-button-group > .lbf-button.active {
      z-index: 2; }
  .lbf-button-group > .lbf-button:not(:first-child):not(:last-child) {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
  .lbf-button-group > .lbf-button:first-child {
    margin-left: 0; }

/*# sourceMappingURL=Button.css.map */
