<!-- start 页脚 -->
<div class="footer">
    <!--start 友情链接-->
    <div class="box-center cf">
        <div class="friend-link">
            <em>阅文集团旗下网站：</em>
            <a href="//<%= staticConf.domainPrefix %>i.qidian.com">起点中文网</a>
            <a href="http://book.qq.com" target="_blank">QQ阅读</a>
            <a href="http://www.hongxiu.com" target="_blank">红袖添香</a>
            <a href="http://www.lrts.me" target="_blank">懒人听书</a>
            <a href="http://chuangshi.qq.com" target="_blank">创世中文网</a>
            <a href="http://yanqing.readnovel.com" target="_blank">小说阅读网</a>
            <a href="http://www.zubunet.com" target="_blank">悦读网</a>
            <a href="http://www.xs8.cn" target="_blank">言情小说吧</a>
            <a href="javascript:" target="_blank">中智博文</a>
            <a href="http://yunqi.qq.com" target="_blank">云起书院</a>
            <a href="http://www.rongshuxia.com" target="_blank">榕树下</a>
            <a href="javascript:" target="_blank">华文天下</a>
                <span class="respon">
                    <a href="http://www.xxsy.net" target="_blank">潇湘书院</a>
                    <a href="http://www.tingbook.com/" target="_blank">天方听书网</a>
                    <a href="javascript:" target="_blank">聚石文华</a>
                </span>
        </div>
        <!--end 友情链接-->
        <!--start 页脚菜单-->
        <div class="footer-menu dib-wrap">
            <a href="http://wwwploy.qidian.com/aboutus/aboutus.aspx" target="_blank">关于起点</a>
            <a href="http://wwwploy.qidian.com/help/about_link.aspx" target="_blank">合作伙伴</a>
            <a href="http://www.qidian.com/helpcenter/default.aspx" target="_blank">用户指南</a>
            <a href="http://www.qidian.com/HelpCenter/default.aspx?type=0&categoryid=42&parentid=21" target="_blank">VIP会员申请</a>
            <a href="http://wwwploy.qidian.com/HelpCenter/default.aspx?type=0&categoryid=54&parentid=53" target="_blank">作者投稿</a>
            <a href="http://me.qidian.com/account/charge.aspx" target="_blank">支付中心</a>
            <a href="http://open.qidian.com" target="_blank">开放平台</a>
            <a href="http://kf.qidian.com/Default.aspx" target="_blank">客服中心</a>
            <a href="http://bbs.qidian.com/list/53" target="_blank">提交建议</a>
            <a href="http://wwwploy.qidian.com/aboutus/retain.aspx" target="_blank">加入起点</a>
            <a href="http://wwwploy.qidian.com/aboutus/contactus.aspx" target="_blank">联系我们</a>
        </div>
        <!--end 页脚菜单-->
        <!--start 版权-->
        <div class="copy-right">
            <p><span>Copyright(C) 2002-2016 www.qidian.com All Right Reserved</span>版权所有 上海玄霆娱乐信息科技有限公司</p>
            <p>上海玄霆娱乐信息科技有限公司 增值电信业务经营许可证沪B2-20080046 沪网文[2012]0068-008 新出网证（沪）字010 沪ICP备08017520号-1</p>
            <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！</p>
            <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关</p>
        </div>
        <!--end 版权-->
        <% if (navHighLight == 0) { %>
        <!--start 安全中心-->
        <div class="safety-box">
            <div class="safety-img dib-wrap">
                <a class="site1" href="http://www.pdxa.cn/Welcome.Asp?Id=3101151112" target="_blank"></a>
                <a class="site2" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111011181417625" target="_blank"></a>
                <a class="site3" href="http://www.cyberpolice.cn/wfjb" target="_blank"></a>
                <a class="site4" href="https://ss.knet.cn/verifyseal.dll?sn=e12120411010037414000000&pa=090993" target="_blank"></a>
                <a class="site5" href="http://www.shjbzx.cn" target="_blank"></a>
                <a class="site6" href="http://www.12377.cn/node_548446.htm" target="_blank"></a>
                <a class="site7" href="http://www.12377.cn/" target="_blank"></a>
            </div>
            <p>起点正积极配合国家最新发布的《关于办理侵犯知识产权刑事案件适用法律若干问题的意见》，</p>
            <p>采用刑事手段进行严厉打击盗版，目前相关公安机关已经抓获犯罪嫌疑人15名！正告盗版网站立即停止侵权行为！</p>
        </div>
        <!--end 安全中心-->
        <% } %>
    </div>
</div>
<!-- end 页脚 -->
