<!DOCTYPE html>
<html>
        <%
        /*
            设置主导航高亮navHighLight = 2
            首页无高亮（首页没设置此变量）
            1:全部作品
            2:排行
            3:完本
            4:免费
        */
        var navHighLight = 2;
            var categoryNav =   data['paramList']["chanId"];//分类menu高亮

        categoryNav = categoryNav.toString();

        var listTypeAct = 0;

        var menuTitle ='',//具体榜单名称
            menuSubTitle = ''; //附属描述
         var actFullView,actListView ='';//缩略图和列表区分

        var actRankWeek,actRankMonth,actRankTotal = '';
        if(data['paramList']['dateType'] == 1){
            actRankWeek = 'class=act'
        }
        if(data['paramList']['dateType'] == 2){
            actRankMonth = 'class=act'
        }
        if(data['paramList']['dateType'] == 3){
            actRankTotal = 'class=act'
        }

        if(data['paramList']['listType'] == 1){
            actFullView = 'act';
         }else{
            actListView='act'
        }




            var sideBarHighlight = data['paramList']["rankType"];
            var needTime = 0;//不需要,1为需要
            var showUnit = '';
            var keywords = '' //每个页面的keywords
            var pageId = '' //report用，每个页面的ID




            //判断排行榜的侧边高亮给列表+class，每个模板文件中sideBarHighlight会有对应高亮的值。
            switch (sideBarHighlight) {
                case 0:
                    var act='class=act';
                    menuTitle='人气榜单';
                    break;
                case 1:
                    //原创风云榜需要显示时间控件,但点击当月新书后不需要控件。
                    if (categoryNav == '0' ){
                        needTime = 0
                    } else {
                        needTime = 1
                    }

                        var act1='class=act';
                        menuTitle='原创风云榜';
                        menuSubTitle = '当月VIP作品月票数排行';
                        showUnit='月票';
                        keywords='小说,原创文学风云榜单，月票榜，排行榜,小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_02';
                    break;
                case 2:
                        var act2='class=act';
                        menuTitle='24小时热销榜';
                        menuSubTitle = '当日vip作品销量排行';
                        showUnit = '';
                        keywords='小说,24小时热销榜单，销量榜，排行榜,小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_03';
                    break;
                case 3:
                        var act3='class=act';
                        menuTitle='会员点击榜';
                        menuSubTitle = '会员用户点击量排行';
                        showUnit = '点击';
                        keywords='小说,会员点击榜单，点击榜，排行榜,小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_04';
                    break;
                case 4:
                        var act4='class=act';
                        menuTitle='推荐票榜';
                        menuSubTitle = '作品推荐票数排行';
                        showUnit = '推荐';
                        keywords='小说,推荐票榜单，排行榜,小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_05';
                    break;
                case 5:
                        var act5='class=act';
                        menuTitle='收藏榜';
                        menuSubTitle = '历史总作品收藏数排行';
                        showUnit = '收藏';
                        keywords='小说,收藏榜单，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_06';
                    break;
                case 6:
                        var act6='class=act';
                        menuSubTitle = '';
                        menuTitle='VIP更新榜';
                        showUnit = '';
                        keywords='小说,VIP更新榜单，vip小说，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_07';
                    break;
                case 7:
                        var act7='class=act';
                        menuSubTitle = 'vip作品被加入书架数量的排行';
                        menuTitle='VIP收藏榜';
                        showUnit = '收藏';
                        keywords='小说,VIP收藏榜单，vip小说，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_08';
                    break;
                case 8:
                        var act8='class=act';
                        menuSubTitle = 'vip作品被打赏金额的排行';
                        menuTitle='本周VIP打赏榜';
                        showUnit = '月票';
                        keywords='小说,VIP打赏榜，vip小说，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_09';
                    break;
                case 9:
                        var act9='class=act';
                        menuSubTitle = '会员用户点击量排行';
                        menuTitle='完本榜';
                        showUnit = '点击';
                        keywords='小说,完本小说榜单，完本小说，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_10';
                    break;
                case 10:
                        var act10='class=act';
                        menuSubTitle = '已签约作者新作潜力值排行';
                        menuTitle='签约作家新书榜';
                        showUnit = '潜力值';
                        keywords='小说,签约作家新书榜，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_11';
                    break;
                case 11:
                        var act11='class=act';
                        menuSubTitle = '未签约作者新作潜力值排行';
                        menuTitle='公众作者新书榜';
                        showUnit = '潜力值';
                        keywords='小说,公众作家新书榜，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_12';
                    break;
                case 12:
                        var act12='class=act';
                        menuSubTitle = '新作者签约作品潜力值排行';
                        menuTitle='新人签约新书榜';
                        showUnit = '潜力值';
                        keywords='小说,新人签约新书榜，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_13';
                    break;
                case 13:
                        var act13='class=act';
                        menuSubTitle = '新作者作品潜力值排行';
                        menuTitle='新人作者新书榜';
                        showUnit = '潜力值';
                        keywords='小说,新人作家新书榜，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_14';
                    break;
                case 14:
                        var act14='class=act';
                        menuSubTitle = '';
                        menuTitle='打赏粉丝榜';
                        showUnit = '打赏起点币';
                        keywords='小说,打赏粉丝榜，小说排行榜,热门小说排行榜,网络小说排行榜,经典小说排行,免费小说排行榜,精品小说推荐榜';
                        pageId='qd_P_rank_15';
                    break;
            }

            //判断分类高亮+class
            switch (categoryNav) {
                case '0':
                    var actm0='act current-month';
                    pageTitle = '';
                    break;
                case 0:
                    var actm0='act current-month';
                    pageTitle = '';
                    break;
                case '-1':
                    var actmindex='class=act';
                    pageTitle = '';
                    break;
                case '1':
                    var actm1='class=act';
                    break;
                case '2':
                    var actm2='class=act';
                     pageTitle = '奇幻';
                    break;
                case '3':
                    var actm3='class=act';
                     pageTitle = '';
                    break;
                case '4':
                    var actm4='class=act';
                     pageTitle = '';
                    break;
                case '5':
                    var actm5='class=act';
                     pageTitle = '';
                    break;
                case '6':
                    var actm6='class=act';
                     pageTitle = '';
                    break;
                case '7':
                    var actm7='class=act';
                     pageTitle = '军事';
                    break;
                case '8':
                    var actm8='class=act';
                     pageTitle = '';
                    break;
                case '9':
                    var actm9='class=act';
                     pageTitle = '';
                    break;
                case '10':
                    var actm10='class=act';
                     pageTitle = '';
                    break;
                case '11':
                    var actm11='class=act';
                     pageTitle = '';
                    break;
                case '12':
                    var actm12='class=act';
                     pageTitle = '';
                    break;
                case '15':
                    var actm15='class=act';
                     pageTitle = '';
                    break;
                case '21':
                    var actm21='class=act';
                     pageTitle = '';
                    break;
                case '22':
                    var actm22='class=act';
                     pageTitle = '';
                    break;
                case '101':
                   var actm101='class=act';
                    break;
                case '102':
                   var actm102='class=act';
                    break;
                case '103':
                   var actm103='class=act';
                    break;
                case '104':
                   var actm104='class=act';
                    break;
                case '105':
                   var actm105='class=act';
                    break;
                case '106':
                   var actm106='class=act';
                    break;
            }
        %>

        %>
<head>
    <meta charset="UTF-8">
    <title><%= menuTitle %>_起点中文网</title>
    <meta name="description" content="起点中文网小说排行榜提供最新、流行、经典、精品原创小说排行榜,涵盖:玄幻小说排行榜,奇幻小说排行榜,武侠小说排行榜,仙侠小说排行榜,都市小说排行榜,历史小说排行榜,军事小说排行榜,竞技小说排行榜,灵异小说排行榜,二次元小说排行榜,免费小说排行榜,新书排行榜,完本小说排行榜,粉丝打赏排行榜">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="robots" content="all">
    <meta name="googlebot" content="all">
    <meta name="baiduspider" content="all">
    <meta http-equiv="mobile-agent" content="format=wml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=xhtml; url=http://m.qidian.com">
    <meta http-equiv="mobile-agent" content="format=html5; url=http://h5.qidian.com/bookstore.html">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script>
        document.domain = 'qidian.com';
    </script>
    <!-- start speedTimer[var, zero] -->
    <script>
    <%= categoryNav %>
        var speedTimer = [],
                speedZero = new Date().getTime();
    </script>
    <!-- end speedTimer[var, zero] -->
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/reset.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/global.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/font.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/header.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/module.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/list_module.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/rank.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/layout.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/qd_popup.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/footer.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/lbfUI/css/ComboBox.css">
    <link rel="stylesheet" href="<%= staticConf.staticPath %>/css/lbfUI/css/Button.css">

</head>
<!-- class用于判断排行榜是哪个类型，id是用来判断右侧分类选的是哪一个 -->
<body class="rank-type-<%= data['paramList']['rankType'] %>" id="<%= data['paramList']['chanId'] %>">
<div class="wrap">
    <% include ../layout/header2.html %>
    <!-- start 主导航 -->
    <% include ../layout/main_nav.html %>
    <!-- end 主导航 -->
    <div class="rank-box box-center cf">
        <!-- start 榜单列表导航-->
        <% include side_bar_list.html %>
        <!-- end 榜单列表导航-->
        <!-- start 榜单列表内容 -->
        <div class="main-content-wrap fl">
            <!-- start rank 头部区域 -->
            <div class="rank-header">
                <h3><%=menuTitle%><span><%=data['pageDetail']['rankDesc']%></span></h3>
                <!-- start 分类排序筛选 -->

                    <% if (needTime === 0) { %>
                    <div class="rank-toolbar-wrap notimebox">
                    <div class="tool-box">
                        <!-- rankType == 8 VIP打赏榜时没有btn-box这个div，单独显示切换按钮 -->
                        <% if (sideBarHighlight == 8) { %>
                        <div class="view-mode" id="view-mode">
                            <a class="img-text iconfont <%=actFullView %>" href="javascript:" data-aid="qd_C_rank_16">&#xe619;</a><em>|</em><a class="only-text iconfont  <%=actListView %>" href="javascript:" data-aid="qd_C_rank_17">&#xe61a;</a>
                        </div>
                        <% } %>

                        <!-- rankType == 3,4,9 时 显示周月总切换 -->
                        <% if (sideBarHighlight == 3 || sideBarHighlight == 4 || sideBarHighlight == 9) {      %>
                        <div class="rank-tab-box" data-rank-type="<%= sideBarHighlight %>">
                            <a <%= actRankWeek%> href="javascript:" data-rank-type="1" data-aid="qd_C_rank_47">周榜</a>
                            <a <%= actRankMonth%> href="javascript:" data-rank-type="2" data-aid="qd_C_rank_48">月榜</a>
                            <a <%= actRankTotal%> href="javascript:" data-rank-type="3" data-aid="qd_C_rank_49">总榜</a>
                        </div>
                        <% } %>

                        <!-- rankType !== 8 VIP打赏榜时有btn-box这个div，切换按钮需要btn-box这个容器 -->
                        <% if (sideBarHighlight !== 8 ) { %>
                        <div class="btn-box cf">
                            <div class="view-mode" id="view-mode">
                                <a class="img-text iconfont <%=actFullView %>" id="" href="javascript:">&#xe619;</a><em>|</em><a class="only-text iconfont  <%=actListView %>" id="" href="javascript:">&#xe61a;</a>
                            </div>
                            <!-- rankType 如果是VIP打赏榜时不显示分类结构 -->
                            <% if (data['paramList']['rankType'] !== 8  ) { %>
                                <% include ./component/category_nav.html %>
                            <% } %>
                        </div>

                        <% } %>

                        <!-- start 筛选分类 -->

                        <!-- end 筛选分类 -->
                    <% } else { %>
                    <div class="rank-toolbar-wrap" data-year="<%= data['paramList']['year'] %>" data-month="<%= data['paramList']['month'] %>">
                        <div class="tool-box">
                            <!-- start 选择日期，图示工具栏 -->
                            <div class="btn-box cf">
                                <div class="view-mode fr" id="view-mode">
                                    <a class="img-text iconfont <%=actFullView %>" href="javascript:">&#xe619;</a><em>|</em><a class="only-text iconfont  <%=actListView %>" href="javascript:">&#xe61a;</a>
                                </div>
                                <!-- start 选择日期，图示工具栏 -->
                                <div id="year" class="lbf-combobox">
                                    <select>

                                         <% for(var i=2016; i > 2004; i--) { %>
                                        <option value="<%= i %>"  <% if  (data['paramList']['year']  == i) { %> selected <% } %>><%= i %>年</option>
                                        <% } %>
                                    </select>

                                    <!-- 当前选中项信息 -->
                                    <a href="javascript:" class="lbf-button lbf-combobox-label" hidefocus="true">
                                        <span class="lbf-combobox-caption"><%= data['paramList']['year'] %>年</span>
                                        <span class="lbf-combobox-icon">&nbsp;</span>
                                    </a>

                                </div>
                                <div id="month" class="lbf-combobox">
                                    <select>
<%
var _currentYear = (new Date().getFullYear());
var _currentMonth = (new Date().getMonth()) + 1
%>
                        <% if( parseInt(data['paramList']['year']) <  _currentYear) { %>
                                         <% for(var i=12; i > 0; i--) { %>
                                         <% if(i < 10){ i = '0' + i %><% } %>
                                        <option value="<%= i %>" <% if  (data['paramList']['month']  == i) { %> selected <% } %>><%= i %>月</option>
                                        <% } %>

                        <% } else { %>
                                         <% for(var i= _currentMonth ; i > 0; i--) { %>
                                         <% if(i < 10){ i = '0' + i %><% } %>
                                        <option value="<%= i %>" <% if  (data['paramList']['month']  == i) { %> selected <% } %>><%= i %>月</option>
                                        <% } %>

                        <% } %>




                                    </select>
                                    <!-- 当前选中项信息 -->
                                    <a href="javascript:" class="lbf-button lbf-combobox-label" hidefocus="true">
                                        <span class="lbf-combobox-caption"><%= data['paramList']['month'] %>月</span>
                                        <span class="lbf-combobox-icon">&nbsp;</span>
                                    </a>
                                </div>
                                <!-- end 选择日期，图示工具栏 -->
                            </div>
                            <!-- end 选择日期，图示工具栏 -->
                            <!-- start 筛选分类 -->
                            <p class="line"></p>
                            <% include ./component/category_nav.html %>
                            <!-- end 筛选分类 -->
                        <% } %>
                        </div>
                    </div>

                <!-- end 分类排序筛选 -->
            </div>
            <!-- end rank头部区域 -->
            <!-- start 榜单区域 -->
            <div class="rank-body">
                <%
                  //判断无数据时的样式
                  if (data['bookList'].length == 0) {
                %>
                    <!-- start 无显示数据 -->
                    <div class="no-rank-data">
                        <span></span>
                        <p>无显示数据</p>
                    </div>
                    <!-- end 无显示数据 -->
                <% } else { %>
                    <!-- start 榜单小说列表 -->
                    <div class="rank-view-list" id="rank-view-list">
                   <% if (data['paramList']['listType'] == 1) { %>
                    <!-- start 图文模式 -->
                    <div class="book-img-text">
                        <ul>
                    <% for(var i=0; i < data['bookList'].length; i++) { %>
                            <li data-rankid="<%=i+1 %>">
                                <div class="book-img-box">
                                    <span class="rank-tag no<%= data['bookList'][i]['no']%>"><%= data['bookList'][i]['no']%><cite></cite></span>
                                    <a href="http://www.qidian.com/Book/<%= data['bookList'][i]['bookId'] %>.aspx" target="_blank" data-aid="qd_C_rank_20" data-bid="<%= data['bookList'][i]['bookId'] %>"><img src="<%= data['bookList'][i]['imageUrl'] %>"></a>
                                </div>
                                <div class="book-mid-info">
                                    <h4><a href="http://www.qidian.com/Book/<%= data['bookList'][i]['bookId'] %>.aspx" target="_blank" data-aid="qd_C_rank_21" data-bid="<%= data['bookList'][i]['bookId'] %>"><%= data['bookList'][i]['bookName'] %></a></h4>
                                    <p class="author">
                                        <img src="<%= staticConf.staticPath %>/images/ico/user.png"><a class="name" href="http://me.qidian.com/authorIndex.aspx?id=<%= data['bookList'][i]['authorId'] %>" target="_blank" data-aid="qd_C_rank_22"><%= data['bookList'][i]['authorName'] %></a><em>|</em><a href="<%= data['bookList'][i]['chanUrl'] %>" target="_blank" data-aid="qd_C_rank_23"><%= data['bookList'][i]['chanName'] %></a><em>|</em><span><%= data['bookList'][i]['actStatus'] %></span>
                                    </p>
                                    <p class="intro">
                                        <%= data['bookList'][i]['desc'] %>
                                    </p>
                                    <p class="update"><a href="<%= data['bookList'][i]['updChapterUrl'] %>" target="_blank" data-aid="qd_C_rank_24" data-chapterUrl="<%= data['bookList'][i]['updChapterUrl'] %>">最新更新 <%= data['bookList'][i]['updChapterName'] %></a><em>&#183;</em><span><%= data['bookList'][i]['updTime'] %></span>
                                    </p>
                                </div>
                                <div class="book-right-info">
                                    <div class="total">
                                        <% if( showUnit !== '' && data['paramList']["rankType"] !== 8 && data['paramList']["rankType"] !== 6) { %>
                                        <p><span><%= data['bookList'][i]['statistic'] %></span><%= showUnit %></p>
                                        <% } %>
                                    </div>
                                    <p class="btn">
                                        <a class="red-btn" href="http://www.qidian.com/Book/<%= data['bookList'][i]['bookId'] %>.aspx" target="_blank" data-aid="qd_C_rank_18" data-bid="<%= data['bookList'][i]['bookId'] %>">书籍详情</a>
                                        <% if (data['bookList'][i]['isKept'] == 0) { %>
                                                <a class="blue-btn add-book" href="javascript:" data-aid="qd_C_rank_19" data-bookId="<%= data['bookList'][i]['bookId'] %>">加入书架</a>
                                        <% } else {%>
                                                <a class="in-shelf add-book" href="javascript:" data-bookId="<%= data['bookList'][i]['bookId'] %>">已在书架</a>
                                        <% } %>

                                    </p>
                                </div>
                            </li>
                    <% } %>
                            <!-- 这里填充到10条li 数据 -->
                        </ul>
                    </div>
                    <!-- end 图文模式 -->
                   <% } else {%>

                    <!-- start 文字表格模式 -->
                    <div class="book-text">
                        <table class="rank-table-list hot-new" width="100%">
                            <colgroup>
                                <col width="5%">
                                <col width="8%">
                                <col width="8%">
                                <col width="33%">
                                <col width="10%">
                                <col width="10%">
                                <col width="14%">
                                <col width="7%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>排名</th>
                                <th>类别</th>
                                <th>小说书名</th>
                                <th>最新章节</th>
                                <th>
                                    <%
                                        /*判断榜单显示对应的第五列是什么字段
                                         * by yangye
                                         */
                                        var value = '';
                                        switch (sideBarHighlight) {
                                            case 1:
                                                value = '月票榜';
                                                break;
                                            case 3:
                                            case 9:
                                                value = '点击';
                                                break;
                                            case 4:
                                                value = '推荐';
                                                break;
                                            case 5:
                                            case 7:
                                                value = '收藏';
                                                break;
                                            case 10:
                                            case 11:
                                            case 12:
                                            case 13:
                                                value = '潜力值';
                                                break;
                                            default:
                                                value = '';
                                        }
                                    %>
                                    <%=value %>
                                </th>
                                <th>小说作者</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                        <% for(var i=0; i < data['bookList'].length; i++) { %>
                            <tr data-rankid="<%=i+1 %>">
                                <td><em class="number"><span class="rank-tag no<%= data['bookList'][i]['no']%>"><%= data['bookList'][i]['no']%><cite></cite></span></em></td>
                                <td><a class="type" href="<%= data['bookList'][i]['chanUrl'] %>" target="_blank"><em>「</em><%= data['bookList'][i]['chanName'] %><em>」</em></a></td>
                                <td><a class="name" href="http://www.qidian.com/Book/<%= data['bookList'][i]['bookId'] %>.aspx" target="_blank" data-bid="<%= data['bookList'][i]['bookId'] %>"><%= data['bookList'][i]['bookName'] %></a></td>
                                <td><a class="chapter" href="<%= data['bookList'][i]['updChapterUrl'] %>" target="_blank" data-chapterurl="<%= data['bookList'][i]['updChapterUrl'] %>"><%= data['bookList'][i]['updChapterName'] %></a></td>
                                <td class="month"><%= data['bookList'][i]['statistic'] %></td>
                                <td><a class="author" href="http://me.qidian.com/authorIndex.aspx?id=<%= data['bookList'][i]['authorId'] %>" target="_blank" data-aid="qd_C_rank_22"><%= data['bookList'][i]['authorName'] %></a></td>
                                <td class="time"><%= data['bookList'][i]['updTime'] %></td>
                                <% if (data['bookList'][i]['isKept'] == 0) { %>
                                       <td><a class="blue add-book" href="javascript:" data-aid="qd_C_rank_19" data-bookId="<%= data['bookList'][i]['bookId'] %>">加入书架</a></td>
                                <% } else {%>
                                        <td><a class="gray add-book" href="javascript:" data-bookId="<%= data['bookList'][i]['bookId'] %>">已在书架</a></td>
                                <% } %>
                            </tr>
                        <% } %>
                            </tbody>
                        </table>
                    </div>
                    <!-- end 文字表格模式 -->
                    <% } %>
                </div>
                    <!-- end 榜单小说列表 -->
                <% } %>
            </div>
            <!-- end 榜单区域 -->
            <!-- start 分页 -->
            <div class="page-box cf" data-aid="qd_C_rank_25">
                <div class="pagination fr" id="page-container" data-page="<%= data['pageInfo']['pageIndex']%>" data-pageMax="<%= data['pageInfo']['pageMax']%>"></div>
            </div>
            <!-- end 分页 -->
        </div>
    </div>
    <% include ../layout/footer.html %>
</div>
<!-- start LBF lib -->
<script data-ignore="true" src="//<%= staticConf.staticDomain %>/lbf/1.0.2/LBF.js?max_age=31536000"></script>
<script>
    LBF.config(<%- JSON.stringify(staticConf.lbf.conf) -%>);
    // 全局的通用数据都放g_data变量里
    var g_data = {};
    // 环境变量，会按照环境选择性打log
    g_data.envType = '<%= envType %>';
    // 用作统计PV
    g_data.pageId = '<%= pageId %>';
    // 域名环境变量
    g_data.domainSearch = '<%= staticConf.domainPrefix %>se.qidian.com';
</script>
<script>
    LBF.use(['lib.jQuery', 'monitor.SpeedReport', '/qd/js/rank/hotnew.js'], function ($, SpeedReport, HotNew) {

        // 页面逻辑入口
        new HotNew({});
        $(window).on('load.speedReport', function () {
            // speedTimer[onload]
            speedTimer.push(new Date().getTime());
            var f1 = 7718, // china reading limited's ID
                f2 = 219, // site ID
                f3 = 15; // page ID
            // chrome & IE9 Performance API
            SpeedReport.reportPerformance({
                flag1: f1,
                flag2: f2,
                flag3IE: f3,
                flag3Chrome: f3
            });
            // common speedTimer:['dom ready', 'onload']
            var speedReport = SpeedReport.create({
                flag1: f1,
                flag2: f2,
                flag3: f3,
                start: speedZero
            });
            // chrome & IE9 Performance API range 1~19, common speedTimer use 20+
            for (var i = 0; i < speedTimer.length; i++) {
                speedReport.add(speedTimer[i], i + 20)
            }
            // http://isdspeed.qq.com/cgi-bin/r.cgi?flag1=7718&flag2=224&flag3=1&1=38&2=38&…
            speedReport.send();
        })
    });
    // speedTimer[dom ready], put it before </body>
    speedTimer.push(new Date().getTime());
</script>
<!-- end LBF lib -->

</body>
</html>
