/**
 * $author rainszhang
 */
@font-face {
    font-family: 'iconfont';

    src: url('//oaqidian.gtimg.com/lbf/1.0.2/ui/theme/default/lbfUI/fonts/iconfont.eot');
    /* IE9*/
    src: url('//oaqidian.gtimg.com/lbf/1.0.2/ui/theme/default/lbfUI/fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('//oaqidian.gtimg.com/lbf/1.0.2/ui/theme/default/lbfUI/fonts/iconfont.woff') format('woff'), url('//oaqidian.gtimg.com/lbf/1.0.2/ui/theme/default/lbfUI/fonts/iconfont.ttf') format('truetype'), url('//oaqidian.gtimg.com/lbf/1.0.2/ui/theme/default/lbfUI/fonts/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.lbf-icon {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}

.lbf-icon-down:before {
    content: '\e704';
}

.lbf-icon-close:before {
    content: '\e6c3';
}

.lbf-icon-add:before {
    content: '\e6bf';
}

.lbf-icon-move:before {
    content: '\e6c6';
}

.lbf-icon-radioboxfill:before {
    content: '\e6c9';
}

.lbf-icon-radiobox:before {
    content: '\e6ca';
}

.lbf-icon-roundcheckfill:before {
    content: '\e6cb';
}

.lbf-icon-roundcheck:before {
    content: '\e6cc';
}

.lbf-icon-round:before {
    content: '\e6cd';
}

.lbf-icon-squarecheckfill:before {
    content: '\e6d0';
}

.lbf-icon-square:before {
    content: '\e6d2';
}

.lbf-icon-squarecheck:before {
    content: '\e6d1';
}
