/**
 * $author rainszhang
 */
/*
* Clearfix
*
* Clears floats inside the container
*/
.lbf-radio {
    display: inline-block;
    *display: inline;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: none;
    background: url('//sta.qidian.com/lbf/1.0.2/ui/theme/default/lbfUI/images/Radio/radio.png') no-repeat;
    background-position: -120px 0; 
    cursor: pointer;

    *zoom: 1;
}
.lbf-radio.lbf-radio-hover {
    background-position: -144px 0;
}
.lbf-radio.lbf-radio-checked {
    background-position: -168px 0;
}
.lbf-radio.lbf-radio-disabled {
    background-position: -192px 0; 
    cursor: default;
}
.lbf-radio input {
    position: absolute;
    opacity: 0;

    filter: alpha(opacity=0);
}
.lbf-radio.lbf-radio-checked.lbf-radio-disabled, .lbf-radio.lbf-radio-disabled.lbf-radio-checked {
    background-position: -216px 0;
}
